<% if(shipments.length>0){ shipments.forEach(function(shipment,i){%>
<div class="order pT20 s<%-shipment._id%>">
<div class="order-mask text-center"> <span><%-tt('shipments').t_ordercanceled_successfully%></span></div>	
<div class="row pL20 pR20">
<div class="col-md-4 mT20 pR40">
<div class="row">
  <div class="col-md-4 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.loading.lp_city%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 mT0-xs">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive">
  </div>  
    <div class="col-md-4 text-right col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.unloading.up_city%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%>  </span><br> <%-tt('shipments').t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span>

</p>
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<hr>
<div class="mB5 text-center" data-shipper="shipper<%-shipment.shipper_id%>">
<img src="<%-assetsp%>images/web16x16.gif">Loading...
</div>		
</div>
<div class="col-md-8 mT20 table-responsive pL0-xs">
<table class="table assigntable text-center">
<thead class="text-center">
<th class="text-center"> <%-tt('shipments').t_no%></th>
<th class="text-center"> <%-tt('shipments').t_vehicle_no%></th>
<th class="text-center"> <%-tt('shipments').t_driver_detail%></th>	
<th class="text-center"> <%-tt('shipments').t_shipment_track%></th>
</thead>
<tbody data-in-sh="shipment<%-shipment._id%>">
<tr class="{%loader%}">
	<td><img src="<%-assetsp%>images/bid-load-board.gif" alt="Loading...">Loading...</td></tr>
<tr>
<td>{%sno%}</td>
<td>{%vehicle_no%}</td>
<td class="driver-xs"><img src="{%driver_image%}" class="img-circle dimg pull-left"/> {%driver_name%} <br><a href="tel:+{%driver_no%}">+{%driver_no%}</a></td>
<td>

<a type="button" class="track" data-toggle="modal" data-target="#myModal{%sno%}"><span class=" glyphicon glyphicon-ok text-info"></span><%-tt('shipments').t_track_now%></a>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal{%sno%}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt('shipments').t_order_tracking_detail%></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
     <p><%-tt('shipments').t_started_from%> <strong class="text-primary">{%started_from%}</strong> <%-tt('shipments').t_on%> <br><strong class="text-primary">{%start_date%} </strong> <%-tt('shipments').t_at%> <strong class="text-primary"> {%start_time%} </strong></p>
<p><%-tt('shipments').t_reached%> <strong class="text-primary">{%reached%} </strong> on <br><strong class="text-primary">{%date%} </strong> <%-tt('shipments').t_at%> <strong class="text-primary"> {%time%} </strong></p>
</div>
      
    </div>
  </div>
</div>
</td>
</tr>
</tbody>
</table>
</div>	

</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success3 pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4 col-xs-12 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : <%-shipment.shipment_id%> </p>   
</div> 
<div class="col-md-4 text-center col-sm-4">  
	<strong class="fnt16"><%-tt('shipments').t_bid_price%> : <span class="cs-hidden" data-bid-price="shipment<%-shipment._id%>" data-rs="<%-tt('shipments').t_rupee_sign%> " ></span><span><img src="<%-sbtnimg%>" alt=""> Loading... </span></strong>
</div>
<div class="col-md-4 text-right col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-4 mB10-sm">  
<strong class="fnt16"><%-tt('shipments').t_status%> : <%-Shipments.currentStatus(shipment.status)%></strong>
</div>
</div>
</div>
</div>
</div>
</div>
<%})}%>