<div class="container minh" >
<div class="row">
  <div class="col-md-6 col-md-offset-3 mT30">
   <div class="bg-success pT15 pB10 text-center">
   <h3><%-tt('users').t_change_password%></h3>
   </div> 
<div class="bg-primary pB5 text-center  login">
      
<form id="forgot-form" action="<%-truckerUrl('users/change-password')%>" method="post" data-form="ajax">  
<div class="row">
  <input type="hidden"	name="_csrf" value="<%-csrfToken%>">
  <div class="col-md-8 col-md-offset-2 mT20">
       <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Users[old_password]" id="users-old_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-old_password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_old_password%></span>
          </label>
        </span>
	  <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Users[new_password]" id="users-new_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-new_password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_new_password%></span>
          </label>
        </span>
	  <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Users[confirm_password]" id="users-confirm_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-confirm_password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_repeat_password%></span>
          </label>
        </span>
	  <div class="row">       
      </div>
      <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-success show-1hints" id="users-1success"></p>
        <p class="text-danger show-1hints" id="users-1error"></p>
      </div>
    </div>
       <input type="submit" name="submit" class="btn btn-default hvr-sweep-to-right mT10"  value="<%-tt('users').t_submit%>">
	  
   
</div>
</div>
</form>
    </div>  
  </div> 
</div>
</div>
