<div class="container minh" ng-controller="paymentCtrl">

<div class="row mT40">
   <div class="col-md-4 col-sm-6 mB20 mT25">
    
    
	<div class="bg-success pT15 pB10 text-center mT25">
    <strong><%-tt('users').t_buy_credits%></strong>
    </div>
    <div class="paymentbg">
	<form method="post" action="<%-truckerUrl('users/buy-credits')%>" id="buy-credits">
	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
    <div class="row">
    <div class="col-md-6 pR40">
   <p><%-tt('users').t_quantity%>:</p>
   <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="minus('credit-quantity');" type="button"> - </button>
      </span>
      <input type="number" min="1" class="form-control text-center" data-total_weight="0" name="Credits[quantity]"   id="credit-quantity"  value="1">
	  
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="plus('credit-quantity');" type="button"> + </button>
      </span>
    </div><!-- /input-group -->

<p class="mT10"><strong>1 <%-tt('users').t_credit%> =  <span id="creditval"><%-creditprice%></span></strong></p>
</div>  
	
    </div>
    <hr>
    <div class="row">
    <div class="col-md-12 paymentdetails">    
    <p class="mT25"><strong><span id="qty">1</span><%-tt('users').t_credits%>           </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <span id="subttl"><%-creditprice%></span> </span> </p> 
     
    <hr>
    <p><strong class="text-primary"><%-tt('user').t_total_amount%> :</strong> <span class="pull-right"><%-creditprice%></span></p>           
    <hr>        
    </div>
    </div>
	<div class="row">
    <div class="col-md-12 paymentdetails">    

    <p><input type="submit" name="submit" class="btn" value="<%-tt('users').t_submit%>"></p>           
    </div>
    </div>	
</form>	            
</div>        
</div>   
    <div class="col-md-8 col-sm-6 mB40-sm" id="buy-credits-billing">
    </div>
	
	<div class="col-md-8 col-sm-6 mB40-sm" id="mask-temp">
    <div class="row">
    <div class="col-md-12 mB20">
        <h4>Selct Your Payment Method</h4>
    </div>	
    </div>	
    
    <div class="row">
    <div class="col-md-12 payment">
    


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Credit Card</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Debit Card</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Net Banking</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content paymentbg">
	<select id="citrusCardType" style="display:none;">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
    </select>
    <select id="citrusScheme" style="display:none;">
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
    </select>  
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    
        <div class="row">
        <div class="col-md-12">

		
		
        <!-- <div class="row mB20">
	    <div class="col-md-6">
	    <label class="mR30">Select your card type</label><br>	
	    <select id="citrusCardType" class="mT10">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
        </select>
	    <select id="citrusScheme"  class="mT10">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>0
        </select>	
		</div>
	    </div> -->	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label>Credit Card number</label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1 mT20-sm">
				 <label>Expiry date </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30">Card holder name</label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1 mT20-sm">
				 <label class="mR30">CVV number</label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30">Enter your email id</label><br>
		<input type="text" class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30">Enter your mobile number</label><br>
		<input type="text"  class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20 col-sm-5">
   select credits quqntity and submit
    </div>
    </div>
      
    
    </div>
    
    <div role="tabpanel" class="tab-pane fade " id="profile">
    
             <div class="row">
        <div class="col-md-12">

        
        <!-- <div class="row mB20">
	    <div class="col-md-6">
	    <label class="mR30">Select your card type</label><br>	
	    <select id="citrusCardType" class="mT10">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
        </select>
	    <select id="citrusScheme"  class="mT10">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
        </select>	
		</div>
	    </div> -->	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label>Debit Card number</label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1">
				 <label>Expiry date </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30">Card holder name</label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1">
				 <label class="mR30">CVV number</label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30">Enter your email id</label><br>
		<input type="text"  class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30">Enter your mobile number</label><br>
		<input type="text"  class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20 col-sm-5">
    select credits quqntity and submit
    </div>
    </div>
        
    </div>
      
      
   <div role="tabpanel" class="tab-pane fade" id="messages">
    
   <div class="row">
 
   	<div class="col-md-6">
	<label>Select your bank</label><br>
	<select class="w100" id="citrusAvailableOptions"></select>
    </div>
	</div>
       
    <div class="row mT60">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20  col-sm-5">
    select credits quqntity and submit
    </div>
    </div>   
      </div>
	 <div class="alert alert-warning hidden" id="msg" > </div>   
    </div>   
   </div>

</div>
	</div>		


    
      
    </div>        


</div>






<script type="text/javascript">
   require(['payments'],function(){
	   
	  
   })
</script>