<div class="container minh" ng-controller="paymentCtrl">

<div class="row mT40">
    
    <div class="col-md-8 col-sm-6 mB40-sm">
        
    <div class="row">
    <div class="col-md-12 mB20">
        <h4>Selct Your Payment Method</h4>
    </div>	
    </div>	
    
    <div class="row">
    <div class="col-md-12 payment">
    


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Credit Card</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Debit Card</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Net Banking</a></li>  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content paymentbg">
	<select id="citrusCardType" style="display:none;">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
    </select>
    <select id="citrusScheme" style="display:none;">
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
    </select>  
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    
        <div class="row">
        <div class="col-md-12">
    <input type="hidden" name="_csrf" value="<%-csrfToken%>">	
        <input type="hidden" id="citrusFirstName" value="MP" />
		<input type="hidden" id="citrusLastName" value="Singh" />
		
		
		<input type="hidden" id="citrusStreet1" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusStreet2" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusCity" value="<%-user.business?user.business.registered_city:''%>" />
		<input type="hidden" id="citrusState" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusCountry" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusZip" value="<%-user.business?user.business.registered_pincode:''%>" />
		
		<input type="hidden" readonly id="citrusAmount" value="<%-citrus.amount%>" />
        <input type="hidden" readonly id="citrusMerchantTxnId" value="<%-citrus.txid%>" />
		<input type="hidden" readonly id="citrusSignature" value="<%-citrus.sign%>" />
		<input type="hidden" readonly id="citrusReturnUrl" value="<%-citrus.return_url%>" />
		<input type="hidden" readonly id="citrusNotifyUrl" value="<%-citrus.notify_url%>" />
        
        <!-- <div class="row mB20">
	    <div class="col-md-6">
	    <label class="mR30">Select your card type</label><br>	
	    <select id="citrusCardType" class="mT10">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
        </select>
	    <select id="citrusScheme"  class="mT10">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>0
        </select>	
		</div>
	    </div> -->	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label>Credit Card number</label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1 mT20-sm">
				 <label>Expiry date </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30">Card holder name</label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1 mT20-sm">
				 <label class="mR30">CVV number</label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30">Enter your email id</label><br>
		<input type="text" id="citrusEmail" value="<%-user.contact.email?user.contact.email:''%>" class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30">Enter your mobile number</label><br>
		<input type="text" id="citrusMobile" value="<%-user.contact.mobile_number?user.contact.mobile_number:''%>" class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20 col-sm-5">
    <input type="button" value="Make Payment Now" id="citrusCardPayButton" class="btn-payment w100"/>
    </div>
    </div>
      
    
    </div>
    
    <div role="tabpanel" class="tab-pane fade " id="profile">
    
             <div class="row">
        <div class="col-md-12">
    <input type="hidden" name="_csrf" value="<%-csrfToken%>">	
        <input type="hidden" id="citrusFirstName" value="MP" />
		<input type="hidden" id="citrusLastName" value="Singh" />
		
		
		<input type="hidden" id="citrusStreet1" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusStreet2" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusCity" value="<%-user.business?user.business.registered_city:''%>" />
		<input type="hidden" id="citrusState" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusCountry" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusZip" value="<%-user.business?user.business.registered_pincode:''%>" />
		
		<input type="hidden" readonly id="citrusAmount" value="<%-citrus.amount%>" />
        <input type="hidden" readonly id="citrusMerchantTxnId" value="<%-citrus.txid%>" />
		<input type="hidden" readonly id="citrusSignature" value="<%-citrus.sign%>" />
		<input type="hidden" readonly id="citrusReturnUrl" value="<%-citrus.return_url%>" />
		<input type="hidden" readonly id="citrusNotifyUrl" value="<%-citrus.notify_url%>" />
        
        <!-- <div class="row mB20">
	    <div class="col-md-6">
	    <label class="mR30">Select your card type</label><br>	
	    <select id="citrusCardType" class="mT10">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
        </select>
	    <select id="citrusScheme"  class="mT10">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
        </select>	
		</div>
	    </div> -->	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label>Debit Card number</label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1">
				 <label>Expiry date </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30">Card holder name</label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1">
				 <label class="mR30">CVV number</label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30">Enter your email id</label><br>
		<input type="text" id="citrusEmail" value="<%-user.contact.email?user.contact.email:''%>" class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30">Enter your mobile number</label><br>
		<input type="text" id="citrusMobile" value="<%-user.contact.mobile_number?user.contact.mobile_number:''%>" class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20 col-sm-5">
    <input type="button" value="Make Payment Now" id="citrusCardPayButton" class="btn-payment w100"/>
    </div>
    </div>
        
    </div>
      
      
   <div role="tabpanel" class="tab-pane fade" id="messages">
    
   <div class="row">
 
   	<div class="col-md-6">
	<label>Select your bank</label><br>
	<select class="w100" id="citrusAvailableOptions"></select>
    </div>
	</div>
       
    <div class="row mT60">
    <div class="col-md-6 mT20 col-sm-7">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong>This payment is secured with Citrus Payment Gateway</strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20  col-sm-5">
    <input type="button" value="Make Payment Now" id="citrusNetbankingButton" class="btn-payment w100"/>
    </div>
    </div>   
      </div>
    </div>   
   </div>
  
</div>
</div>

    
<div class="col-md-4 col-sm-6 mB20 mT25">
    
    
	<div class="bg-success pT15 pB10 text-center mT25">
    <strong>Upgrade Membership</strong>
    </div>
    <div class="paymentbg">
    <div class="row">
        
    <div class="col-md-6 paymentdetails col-sm-6">
    <p><strong>Trucker Name : </strong> <br>Bhag Singh</p>
    </div>    
    <div class="col-md-6 paymentdetails col-sm-6 text-right">
    <p><strong>Current Membership : </strong> <br>Silver</p>
    </div>        
    </div>
    <hr>
    <div class="row">
    <div class="col-md-12 paymentdetails">    
    <p class="text-center mT20"><strong>Upgrading Membership Details </strong></p>    
    <p class="mT25"><strong>Gold Membership : </strong><span class="pull-right"> Rs 2,000 </span> </p> 
     
    <hr>
    <p><strong class="text-primary">Total Amount Payble:</strong> </strong><span class="pull-right"><%-amount%></span></p>           
    <hr>        
    </div>
    </div>
            
</div>        
</div>        
    </div>        


</div>






<script type="text/javascript">
   require(['payments'],function(){
	    CitrusPay.Merchant.Config = {
        // Merchant details
        Merchant: {
            accessKey: '<%-citrus.access%>', //Replace with your access key
            vanityUrl: '<%-citrus.vanity%>'  //Replace with your vanity URL
        }
    };
    fetchPaymentOptions();
    

	   
	//UI validations
jQuery(document).ready(function() {	
	jQuery.support.cors = true; 
	
	// setup card inputs;	 	
	jQuery('#citrusExpiry').payment('formatCardExpiry');
	jQuery('#citrusCvv').payment('formatCardCVC');
	jQuery('#citrusNumber').keyup(function() {
		var cardNum = jQuery('#citrusNumber').val().replace(/\s+/g, '');		
			var type = jQuery.payment.cardType(cardNum);
			console.log(type);
			jQuery("#citrusNumber").css("background-image", "url(images/" + type + ".png)");						
			if(type!='amex')
            jQuery("#citrusCvv").attr("maxlength","3");
            else
            jQuery("#citrusCvv").attr("maxlength","4");						
			jQuery('#citrusNumber').payment('formatCardNumber');											
			jQuery("#citrusScheme").val(type);		
	});				 
});   
	   
	 $('#citrusNetbankingButton').on("click", function () { makePayment("netbanking") });
        //Card Payment
        $("#citrusCardPayButton").on("click", function () { makePayment("card") });	   
   });
    function handleCitrusPaymentOptions(citrusPaymentOptions) {
        if (citrusPaymentOptions.netBanking != null)
            for (i = 0; i < citrusPaymentOptions.netBanking.length; i++) {
                var obj = document.getElementById("citrusAvailableOptions");
                var option = document.createElement("option");
                option.text = citrusPaymentOptions.netBanking[i].bankName;
                option.value = citrusPaymentOptions.netBanking[i].issuerCode;
                obj.add(option);
            }
    }
	  function citrusServerErrorMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    function citrusClientErrMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
	   
</script>