<div class="container minh3 minhh-sm">
<div class="row mT60-sm">
<div class="col-md-3 col-sm-12 ">
<div class="row">
<div class="col-md-12 mT20 pL220 col-xs-6 pL0-xs col-sm-3 pL0-sm mT60-sm">
<a href="<%-truckerUrl('shipments/regular-load-board')%>"><div class="circle-btn text-center"><img src="<%-assetsp%>images/regularload.png" class="mB5 mT5"><p><%-tt().t_regular_load%></p><span class="badge2 regular-badge">0</span></div></a>
</div>
<input type="hidden" id="dastats" value="<%-truckerUrl('users/dashboard-stats')%>"> 	
<input type="hidden" id="ttlstats" value="<%-truckerUrl('users/trucker-eraned')%>"> 	
<input type="hidden" name="_csrf" value="<%-csrfToken%>"> 	
<div class="col-md-12 pL40 col-xs-6 pL0-xs mT20-xs col-sm-3 pL0-sm mT60-sm">
<a href="<%-truckerUrl('shipments/bid-load-board')%>"><div class="circle-btn text-center"><img src="<%-assetsp%>images/bidload.png" class="mB5 mT5"> <p><%-tt().t_bid_load_board%></p><span class="badge2 bidload-badge">0</span></div></a>
</div>
<div class="col-md-12 mT40 pL80 col-xs-6 pL0-xs mT20-xs col-sm-3 pL0-sm mT60-sm">
<a href="<%-truckerUrl('vehicles')%>"><div class="circle-btn text-center"><img src="<%-assetsp%>images/my-vehicles.png"> <p><%-tt().t_my_vehicles%></p><span class="badge2 trucks-badge">0</span></div></a>
</div>
<div class="col-md-12 pL240 col-xs-6 pL0-xs mT20-xs col-sm-3 pL0-sm mT60-sm">
<a href="<%-truckerUrl('drivers')%>"><div class="circle-btn text-center"><img src="<%-assetsp%>images/my-drivers.png"> <p><%-tt().t_drivers%></p><span class="badge2 drivers-badge">0</span></div></a>
</div>
</div>
</div>


<div class="col-md-4 pull-right text-center col-xs-12 nobg col-sm-6 col-sm-offset-3 mT100-sm pull-left-sm pL0 pR0">
<div class="formbg2">
<div class="row">  
<div class="col-md-3 mT20 bdrr col-xs-12 bdrr-xs mB20-xs">      
  <a href="<%-truckerUrl('users/business-detail')%>" class="icon-button usertype company-icon"><i class="fa fa-building"></i><span></span></a>
</div>  
<div class="col-md-9 pR20 pL20">
<h3><%-global.loggedUser.getBusinessName()%> 	
</h3>
</div>
</div>
<div class="col-md-12">
<hr class="mT0">
</div>
<div class="row">
<div class="col-md-6 text-left pL30 homerat">
<h4><%-tt().t_your_rating%></h4>
<ul class="list-inline">
<li><strong class="fnt16 pull-left"><span><span class="stars"><%-loggedUser.getRating()%></span></span></strong></li>
</ul>
</div>
<div class="col-md-6 text-right pR30">
<h4><%-tt().t_total_earning%></h4>
<h4 class="mT15 text-primary "><%-tt('shipments').t_rupee_sign%> <span class="total-earned" >00,000</span></h4>

</div>
</div>
</div>


<div class="row">
<div class="col-md-12">
<!--<a href="<%-truckerUrl('shipments/confirmation')%>" class="confirm text-center pT5">
  <p class="mB0"><img src="<%-assetsp%>images/available-orders.png"> View Confirmed orders</p>
</a> -->
</div>
</div>

<div class="row">
<div class="col-md-12 mT20">

<div class="bg-silver2">
  <img src="<%-assetsp%>images/badgemem.png" class="img-responsive"/>
	
<h3> <%-loggedUser.planText%></h3>
<a href="17membership.html"><%-tt().t_upgrade_membership%></a>
<a class="pT10 mT20 pull-left wtxt" style="color:#ffffff; cursor: pointer" data-toggle="modal" data-target="#myModal"> Rating Popup </a>	
</div>
</div>
</div>
</div>
</div>
</div><!--mainbg-->
   
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
      <h4 class="text-primary mT0 mB0">Please Rate Your Shipment</h4>    
        </div>      
      <div class="modal-body text-center">

<div class="row bids">
<div class="col-md-12 pR30 pT10 pL30">
    
<div class="row">
<div class="col-md-6 col-xs-6 bdrr text-left">
<p><strong>Order ID :</strong> #3456666789</p>        
<p>Chandigarh <span class="glyphicon glyphicon-transfer text-primary pL10 pR10"></span> Delhi</p>
</div>  
<div class="col-md-6 col-xs-6">
<p><span class="text-primary">24 March 2016 </span> at<br> <span class="text-primary">10:00 AM </span></p>
</div>    
</div>
<hr class="mT0">
<div class="row mB20">
<div class="col-md-5 text-left mT10 rating text-center">
<img src="images/driver1.png" class="img-circle">
<p class="mT10"><strong>Shipper name :</strong> <br>Bhag Singh</p>
</div>  
<div class="col-md-7 col-xs-12 mT10">
<ul class="list-inline">
<li><img src="images/star-empty.png"></li>
<li><img src="images/star-empty.png"></li>
<li><img src="images/star-empty.png"></li>    
<li><img src="images/star-empty.png"></li>    
<li><img src="images/star-empty.png"></li>    
</ul>
    
    
  <textarea class="rating mT15" placeholder="Please enter your feedback (optional)"></textarea>
    
</div>    
</div>    
</div>
</div>
<button type="button" class="btn bg-orange2 rating w100"> SUBMIT </button>
          
          
</div>
</div>
</div>
</div>

<!-- Trigger the modal with a button -->
<!-- Trigger the modal with a button -->

<%if(!otpverified){%>
<!-- Modal -->
<div id="myModalotp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
<input type="hidden" id="sendotp" value="<%-truckerUrl('users/sendotp')%>">
<input type="hidden" id="resendotp" value="<%-truckerUrl('users/resendotp')%>">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="modal-title"><%-tt().t_mobile_no_verification%></h4>
      </div>
      <div class="modal-body">
		
<form id="verifyotp"  action="<%-truckerUrl('users/validate-otp')%>" <%if(!otpsent){%>style="display:none;" <%}%> >
<div class="col-md-12">
	<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Users[otp]" id="users-otp" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-number"></i> <%-tt().t_enter_otp_code;%></span>
	</label>
	</span>
</div>
<div class="col-md-12 mB10">
   <p id="msg1"></p>	
	<div class="col-md-6 pull-left">
		<a href="javascript:;" class="resendotpon">
			<%-tt().t_resend_otp;%>
		</a>
	</div>
	<div class="col-md-6 pull-right">
		<input type="submit" class="btn" name="submit" value="Submit">
	</div>
</div>
</form>
<form id="changeobilenumber"  action="<%-truckerUrl('users/update-mobile')%>" style="display:none;">

	<div class="row">
	<div class="col-md-1 mT10"><span class="label label-warning">+91</span></div>
	<div class="col-md-10" style="margin-top:-15px">
		<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
		 <input class="input__field input__field--hoshi" autocomplete="off"   type="text" name="Users[mobile]" id="users-mobile" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-mobile"></i> <%-tt().t_enter_mobile_no;%></span>
	</label>
	</span></div>
	</div>	

<div class="col-md-12">
   <p id="msg"></p>	

	<div class="col-md-12 text-right mB10">
		<div class="col-md-6 text-left"><input type="submit" name="submit" class="btn" value="Submit"></div>
		<div class="col-md-3 pull-right"><a href="javascript:;" class="cancel-before">Cancel</a></div>
		
	</div>
	
</div>
</form>		  
<%if(!otpsent){%>
	<div class="notsentotp">
		<p>
			<%-tt().t_dontgetotp_msg%>
		</p>
		<p class="text-center">
			
			<a href="javascript:;" class="sendotpon">
				<%-tt().t_sendotpon%>			
			</a>
			<strong><%-loggedUser.getMobileNo()%></strong>
			<sub><a href="javascript:;" class="change-mobileno" title="<%-tt('users').t_editmobileno%>"><%-tt('users').t_editmobileno%></a></sub>
		</p>
	</div>
	<%}%>
		</div>

		</div>

		</div>
		</div>
<button type="button" class="btn btn-info btn-lg showpop hidden" data-toggle="modal" data-target="#myModalotp">Open Modal</button>
<script type="text/javascript">showpop = true</script>
<%}%>
<script type="text/javascript">
require(['_dashboard'],function(th){    
	if('undefined' != typeof showpop)	
	  $(".showpop").click();	
	
});
</script>	