<div class="container">

<div class="row">


<div class="col-md-6 col-md-offset-3 mT30">
<div class="bg-primary pB5 login pL40 pR40 pT10">
    <h3><%-tt().t_edir_profile%></h3>
<form action="<%-truckerUrl('users/edit-profile')%>" method="put" data-form="ajax" id="users">  
 <input type="hidden" name="_csrf" value="<%-csrfToken%>">
<div class="row pT10">
  <div class="col-md-5">
	<% if(user.image){  %>
    <img src="<%-Common.MediaPath(user,'image',Users)%>" class="img-responsive img-rounded" data-field="#users-image" data-trigger="#userimage-browse">
	<% }else{%>  
    <img src="<%-assetsp%>images/upload.jpg" class="img-responsive img-rounded" data-field="#users-image" data-trigger="#userimage-browse">
    <%}%>
	  <input type="file" id="userimage-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="Users[image]" id="users-image" readonly />  
	<input type="hidden" name="Users[oimage]" id="users-oimage" value="<%-user.image||''%>" readonly />  
    <div class="users-image-error cmperrmsg"></div>

  </div>
  <div class="col-md-7 text-left">

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" value="<%-user.name.firstname||''%>" type="text" name="Users[firstname]" id="users-name-firstname" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-firstname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_firstname%></span>
          </label>
        </span>

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.name.lastname||''%>" name="Users[lastname]" id="users-name-lastname" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-lastname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_lastname%></span>
          </label>
        </span>  
</div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.pancard||''%>" name="Users[pancard]" id="users-pancard" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-pancard">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_pano%></span>
          </label>
        </span>
</div>  
<div class="col-md-1 mT30"><span class="label label-warning">+91</span></div>      
<div class="col-md-5 text-left pL30">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="tel" value="<%-user.contact.mobile_number||''%>" name="Users[mobile_number]" id="users-contact-mobile_number" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-mobile_number">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_mobile%></span>
          </label>
        </span>

</div>
</div>        

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.business.service_taxno||''%>" name="Users[service_taxno]" id="users-business-service_taxno" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-service_taxno">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_serviceno%></span>
          </label>
        </span>
</div>        
<div class="col-md-6 mT10 text-left">

          <p class="mB5"><a href ="<%-truckerUrl('users/change-password')%>"><%-tt('register').t_change_password%></a></p>

           </div>  
</div>    
    
        <div class="row">
		 <p id="users-1success"></p>	
          <div class="col-md-6 text-left mT20">
        <input type="submit" class="btn btn-default btn-default hvr-sweep-to-right2 mT10" value="<%-tt('register').t_save_detail%>">
      </div>
          <div class="col-md-6 mT30 text-left">
        
		  <p class="mB5"><a href ="<%-truckerUrl('users/bank-detail')%>"> <%-tt('users').t_edit_bank_info%></a></p>	
			  <p class="mB5"><a href ="<%-truckerUrl('users/company-address')%>"> <%-tt('users').t_edit_company_address%></a></p>	  
          <p class="mB5"><a href ="<%-truckerUrl('users/business-detail')%>"> <%-tt().t_edit_company%></a></p>
		<% if(Users.ValidateIsTrucker(user.role) && user.role==Users.INDIVIDUALTRUCKER){%>
			<hr/>  
          <p class="mB5"><a href ="<%-truckerUrl('users/registerascompany/'+user._id)%>"><%-tt('users').t_register_as_company%> </a></p>
		<%} %>	  
           </div>
        </div>    






</form>
    </div>  
  </div> 
</div>
</div>
