<div class="container minh">

<div class="row">


<div class="col-md-8 col-md-offset-2 mT30">
<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row">
<div class="col-md-12 text-center text-primary">
<h3><%-tt().t_edit_company%></h3>
</div>
</div>

<form action="<%-truckerUrl('users/business-detail')%>"  method="post" data-form="ajax" id="users">
<div class="row mT30">
<div class="col-md-12">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs ship text-center" role="tablist">
    <li role="presentation" class="active"><a href="#shipmentsactive" aria-controls="shipmentsactive" role="tab" data-toggle="tab"><%-tt().t_business_detail%></a></li>
    <li role="presentation"><a href="#shipmentshistory" aria-controls="shipmentshistory" role="tab" data-toggle="tab"><%-tt().t_company_address%></a></li>
    
  </ul>

  <!-- Tab panes -->
<div class="tab-content">

<div role="tabpanel" class="tab-pane active" id="shipmentsactive">
  
 
<div class="row mT40">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" value="<%-user.business.name||''%>" type="text" name="Users[business][name]" id="users-business-name" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-name">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_business_name%></span>
          </label>
        </span>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" value="<%-user.business.landline||''%>" type="text" name="Users[business][landline]" id="users-business-landline" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_landline_no%></span>
          </label>
        </span>

</div>
</div>        
   

<div class="row">
<div class="col-md-12 text-center selectr mT10">
<p><%-tt().t_select_business%></p>
<div class="btn-group" data-toggle="buttons">
<input type="hidden" name="_csrf" value="<%-csrfToken%>" >
  <label class="btn btn-primary <%-user.business_type.btype==2?"active":''%>">
    <img src="<%-assetsp%>images/manufacture.png"/>
	   <input type="radio" name="Users[business_type]" <%-user.business_type.btype==2?"checked":""%> id="users-business_type" autocomplete="off" value="2" ><br><%-tt().t_manufacturing_company%>
  </label>
  <label class="btn btn-primary <%-user.business_type.btype==1?"active":''%>">
    <img src="<%-assetsp%>images/warehouse.png"/><input type="radio" name="Users[business_type]" <%-user.business_type.btype==1?"checked":""%> id="users-business_type" autocomplete="off" value="1" > <br><%-tt().t_logistics%>
  </label>
  <label class="btn btn-primary <%-user.business_type.btype==5?"active":''%>">
    <img src="<%-assetsp%>images/distributor.png"/><input type="radio" name="Users[business_type]" id="users-business_type" <%-user.business_type.btype==5?"checked":""%> autocomplete="off" value="5" >  <br><%-tt().t_distributer%>
  </label>
  <label class="btn btn-primary <%-user.business_type.btype==4?"active":''%>">
    <img src="<%-assetsp%>images/others.png"/><input type="radio" name="Users[business_type]" id="users-business_type" autocomplete="off" <%-user.business_type.btype==4?"checked":""%> value="4" >  <br><%-tt().t_others%>
  </label>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12 text-center selectr mT40">
<p><%-tt().t_select_company%></p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary <%-user.company_type.ctype==6?"active":''%>">
    <img src="<%-assetsp%>images/public.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.business_type.btype==6?"checked":""%> autocomplete="off" value="6" > <br><%-tt().t_public_sector%>
  </label>
  <label class="btn btn-primary <%-user.company_type.ctype==1?"active":''%>">
    <img src="<%-assetsp%>images/proprierty.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.company_type.ctype==1?"checked":""%> autocomplete="off" value="1" > <br><%-tt().t_proprietary%>
  </label>
  <label class="btn btn-primary <%-user.company_type.ctype==2?"active":''%>">
    <img src="<%-assetsp%>images/partnership.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.company_type.ctype==2?"checked":""%> autocomplete="off" value="2" > <br><%-tt().t_partnerfirm%>
  </label>
  <label class="btn btn-primary <%-user.company_type.ctype==3?"active":''%>">
    <img src="<%-assetsp%>images/private.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.company_type.ctype==3?"checked":""%> autocomplete="off" value="3" > <br><%-tt().t_private_limited%>
  </label>
   <label class="btn btn-primary <%-user.company_type.ctype==5?"active":''%>">
    <img src="<%-assetsp%>images/private.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.company_type.ctype==5?"checked":""%> autocomplete="off" value="5" > <br><%-tt().t_traders%>
  </label>	
  <label class="btn btn-primary <%-user.company_type.ctype==4?"active":''%>">
    <img src="<%-assetsp%>images/others.png"/><input type="radio" name="Users[company_type]" id="users-company_type" <%-user.company_type.ctype==4?"checked":""%> autocomplete="off" value="4" >  <br><%-tt().t_others%>
  </label>
</div>
</div>
</div>





</div>

<div role="tabpanel" class="tab-pane" id="shipmentshistory">


<div class="row mT40">
<div class="col-md-6 bdrr mT20">
<p class="pL20"><img src="<%-assetsp%>images/location.png" class="mR10"><%-tt().t_registered_company%></p> 

  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][registered_address]" id="users-business-registered_address" value="<%-user.business.registered_address||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-registered_address">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_address%></span>
          </label>
        </span>
  </div>  

  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][registered_city]" id="users-business-registered_city" value="<%-user.business.registered_city||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-registered_city">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_city%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][registered_state]" id="users-business-registered_state" value="<%-user.business.registered_state||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-registered_state">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_state%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][registered_pincode]" id="users-business-registered_pincode" value="<%-user.business.registered_pincode||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-registered_pincode">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_pincode%></span>
          </label>
        </span>
  </div>  

</div>

<div class="col-md-6 mT20">
<p class="pL20"><img src="<%-assetsp%>images/location.png" class="mR10"><%-tt().t_office_address%></p> 

<div class="row">
<div class="col-md-12">
 <div class="checkbox pL20 mT30">
    <label><input type="checkbox" name="Users[business][officeaddresssameasbusiness]" id="users-business-officeaddresssameasbusiness" value="1" <%-(user.business.office_address||user.business.office_address.office_city||user.business.office_state)?"checked":''%>><%-tt().t_same_as_address%> </label>
  </div>
</div>
</div>
  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][office_address]" id="users-business-office_address" value="<%-user.business.office_address||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-office_address">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_address%></span>
          </label>
        </span>
  </div>  

  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][office_city]" id="users-business-office_city" value="<%-user.business.office_city||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-office_city">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_city%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][office_state]" id="users-business-office_state" value="<%-user.business.office_state||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-office_state">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_state%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Users[business][office_pincode]" id="users-business-office_pincode" value="<%-user.business.office_pincode||''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-office_pincode">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_pincode%></span>
          </label>
        </span>
  </div>  

</div>

</div>

</div> 
</div>

</div>
<div class="row">
      <div class="col-md-12 text-center mT20">
        <p class="text-danger " id="users-1error"></p>
        <p class="text-success " id="users-1success"></p>
      </div>
    </div>
<div class="row">
    
      <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt().t_continue%>">
      </div>
</div>






</div>
</form>

</div>
</div>
</div>
</div>