<div class="container">
<div class="row">
<div class="col-md-12 mT30 pL0 pR0">
<div class="bg-success pT15 pB10 text-left pL20">
  <h3><%-tt('users').t_select_membership%></h3>
</div> 
<% plans.forEach(function(plan){%>
<div class="col-md-4 mT-40 col-xs-12 pL0-xs pR0-xs col-sm-6">
<% if(plan.mtype.code==1){%>	
<img src="<%-assetsp%>images/silver.png" class="img-responsive package"/>
<%}else if(plan.mtype.code==2){%>
<img src="<%-assetsp%>images/gold.png" class="img-responsive package"/>	
<%}%>	
<div class="bg-primary pT80 mL10 mR10">
<div class="bg-info mL20 mR20 pL10 pR10 pT20 pB20">
<ul class="list-unstyled">
<%plan.description.forEach(function(list){%>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span><%-list%></li>	
<%});%>
</ul>
</div>  
<div class="price">
<a class="btn bg-silver mT10 w100 bdrn" href="<%-truckerUrl('users/upgrade-membership/'+plan._id)%>"><%-tt('users').t_buy_now%> - <%-tt('shipments').t_rupee_sign%> <%-plan.price%> / <%-plan.duration%> <%-tt('users').t_month_txt%> </a>
</div>
</div>
</div>
<%});%>
<!--
<div class="col-md-4 mT-40 col-xs-12 pL0-xs pR0-xs mT5-xs mB20-xs col-sm-6 col-sm-offset-3 col-md-offset-0">
<img src="<%-assetsp%>images/platinum.png" class="img-responsive package"/>
<div class="bg-primary pT80 mL10 mR10">
<div class="bg-info mL20 mR20 pL10 pR10 pT20 pB20">
<ul class="list-unstyled">
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Provides a 10% discount if you pay for one year in advance</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Provides load board access</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Bid load board access</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Cash advance option</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Truck GPS tracking one month free service.</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Halting day will be paid</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Load updates via SMS</li>
<li class="mB20"><span class="glyphicon glyphicon-plus mR10"></span>Recieve updates via e-mail</li>
</ul>
</div>  
<div class="price">
<a class="btn bg-platinum mT10 w100 bdrn" href="3user-type.html">Buy Now - Rs 6000 / month </a>
</div>
</div>
</div>
-->

  
</div> 
</div>
</div>