<div class="container minh">
<div class="row">
<div class="col-md-12 mT30 pL0-xs pR0-xs">
<div class="bg-success pT10 pB5 pL10">
   <h3><%-tt('shipments').t_myshipments%></h3>
</div> 

<div class="bg-primary shiptruck mT20">
<div id="sticky-anchor"></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs bdrb" role="tablist" id="sticky">
    <li role="presentation" class="text-center active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab"><%-tt('shipments').t_upcompingorders%></a></li>
    <li role="presentation" class="text-center"><a href="#active" aria-controls="active" role="tab" data-toggle="tab"><%-tt('shipments').t_activeorders%></a></li>
    <li role="presentation" class="text-center"><a href="#history" aria-controls="history" role="tab" data-toggle="tab"><%-tt('shipments').t_history%></a></li>
  </ul>

<input type="hidden" id="paginate-url" value="">
  <!-- Tab panes -->
<div class="tab-content myship-mask">
<div role="tabpanel" class="tab-pane active" id="upcoming">
<input type="hidden" name="tab-paginate" value="<%-truckerUrl('users/upcoming')%>">	
<% if(shipments.length<=0){%>
<div class="order pT20">  
<div class="row pL20 pR20">
<div class="col-md-4 mT10 pR40">
<div class="row">
  <div class="col-md-12 col-xs-12 mT0-xs mB20">
	<%-tt('shipments').t_upcoming_not_found%>  
  </div>
</div>
</div>
</div>	
</div>	
<%}%>
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<input type="hidden" name="getbid-price" value="<%-truckerUrl('bids/get-price')%>">	
<input type="hidden" name="getassigned-vehicles" value="<%-truckerUrl('shipments/getassigned-vehicles')%>">	
	
<%-include upcoming_paginate.ejs%>
<div class="cs-hidden" id="loading" >  </div>	
</div>
<div role="tabpanel" class="tab-pane" id="active">
<input type="hidden" name="tab-paginate" value="<%-truckerUrl('users/active')%>">
<input type="hidden" name="intransit-url" value="<%-truckerUrl('drivers/intransit')%>">

<div class="cs-hidden" id="loading"></div>
</div>
<div role="tabpanel" class="tab-pane pR0-xs pL0-xs " id="history">
<input type="hidden" name="tab-paginate" value="<%-truckerUrl('users/history')%>">	
<input type="hidden" name="history-url" value="<%-truckerUrl('shipments/tripendon')%>">

<div class="cs-hidden" id="loading"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="manage-driver-vehicle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
	   <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
	<div class="modal-body">
		<p class="text-center" id="frame-loader"><img src="<%-assetsp%>images/web66x66.gif" > Loading...</p>	
		<iframe class="asin-dv cs-hidden"  height="auto"></iframe>
	</div>	
	  	
	</div>
  </div>
</div>
<table class="cs-hidden vehicle-driver_template">
<tbody>
<tr>	
<td colspan="6"><%-tt('shipments').t_unknown_request%></td>
</tr>
</tbody>	
<tfoot>
<tr class="">
<td>{%sno%}</td>
<td><a data-href="{%href-vehicle%}" data-toggle="modal" data-target="#manage-driver-vehicle"  data-manage-vehicle>{%vassignorchange%}</a>
<input name="ship_id" class="cs-hidden" value="{%sid%}"></td>
<td><a data-href="{%href-driver%}" data-toggle="modal" data-target="#manage-driver-vehicle"  data-manage-driver >
{%dassignorchange%}</a>
<input name="ship_id" class="cs-hidden" value="{%sid%}">
</td>
<td>{%vehicle_no%} </td>
<td class="driver-xs">{%driver_image%} {%driver_name%}<br><a href="tel:+{%driver_no%}">{%driver_no%}</a></td>
</tr>	
</tfoot>		
</table>
<input type="hidden" name="shipper-data"  value="<%-truckerUrl('users/ship_data')%>">
<div class="shipper-data cs-hidden">
<div class="row">
<div class="col-md-7 pR10 col-xs-6 col-sm-4">
  <h3 class="mT0">{%shipper_name%} </h3>
</div>
<div class="col-md-5 text-right pL0 pR0 col-xs-6 col-sm-4">
  <span class="stars">{%stars%}</span>
</div>
</div>
<p class="col-sm-6 col-xs-12 col-md-12 pL0 pR0"><%-tt('shipments').t_contact_no%>  <a href="tel: +{%contact_no%}" class="pull-right">{%contact_no%} </a></p>
</div>
<script type="text/javascript">
require(['shipment'],function(th){});
</script>