<div class="container minh" ng-controller="paymentCtrl">

<div class="row">
<div class="col-md-12 mT10">
<div class="pB20 pT10 login pL10 pR10 mT20">
      <h4>Payments Status</h4>


<p class="mT20 text-center"><strong><%-msg?msg:null%></strong></p>
<% if("undefined" != typeof failed){%>
<p class="mT20 text-center"><a href="<%-truckerUrl('shipments/pay')%>">Try Again</a></p>
<%}else{%>
	you can view  more payment detail in payment section. We are redirecting you on home page within <span id="seconds"></span>  second(s) or <a href="<%-truckerUrl('users/dashboard')%>">Click here</a>
<%}%>	
</div>

</div>


</div>
</div>




<script type="text/javascript">
   require(['payments'],function(){ 
	   var seconds =10;
	   var intv = setInterval(function(){
		   $("#seconds").html(seconds--)
		   if(seconds<=0){
			   clearInterval(intv);
			  location.href =truckerUrl('users/dashboard'); 
		   }
	   },1000);
   });	   
</script>