<% if(shipments.length>0){ shipments.forEach(function(shipment,i){%>
<div class="order pT20 s<%-shipment._id%>">
<div class="order-mask text-center"> <span><%-tt('shipments').t_ordercanceled_successfully%></span></div>	
<div class="row pL20 pR20">
<div class="col-md-4 mT20 pR40">
<div class="row">
  <div class="col-md-4 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.loading.lp_city%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 mT0-xs">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive">
  </div>  
    <div class="col-md-4 text-right col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.unloading.up_city%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%>  </span><br> <%-tt('shipments').t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span>
<br/><small data-label="<%-tt('shipments').t_available_for_expiryin%>" bid-timer data-expiry="<%-shipment.transit.t_expdatetime%>"></small>
</p>
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<hr>
<div class="mB5 text-center" data-shipper="shipper<%-shipment.shipper_id%>">
<img src="<%-assetsp%>images/web16x16.gif">Loading...
</div>		
</div>
<div class="col-md-8 mT20 table-responsive col-xs-12 pL0-xs mB0-xs">
<table class="table assigntable text-center">
<thead class="text-center">
<th class="text-center"> <%-tt('shipments').t_no%></th>
<th class="text-center"> <%-tt('shipments').t_assigned_vehicles%></th>
<th class="text-center"> <%-tt('shipments').t_assigned_drivers%></th>
<th class="text-center"> <%-tt('shipments').t_vehicle_no%></th>
<th class="text-center"> <%-tt('shipments').t_driver_detail%></th>
</thead>
<tbody data-assigned="shipment<%-shipment._id%>">
<tr>
<td colspan="6"><img src="<%-assetsp%>images/web16x16.gif"> Loading...</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success3 pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4 col-xs-12 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : <%-shipment.shipment_id%> </p>   
</div> 
<div class="col-md-4 text-center col-sm-4">  
	<strong class="fnt16"><%-tt('shipments').t_bid_price%> : <%if(shipment.shipment_type.code==Shipments.REGULAR_BOARD){%>
		<span class=""  ><%-tt('shipments').t_rupee_sign +" "+shipment.shipment_detail.overall_total%></span>
	<%}else{%>	
		<span class="cs-hidden" data-bid-price="shipment<%-shipment._id%>" data-rs="<%-tt('shipments').t_rupee_sign%> " ></span><span><img src="<%-sbtnimg%>" alt=""> Loading... </span>
	<%}%>
	</strong>
</div>
<div class="col-md-4 text-right col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-4 mB10-sm">  
<strong class="fnt16"><%-tt('shipments').t_status%> : <%-Shipments.currentStatus(shipment.status)%></strong> | <a href="<%-truckerUrl('shipments/cancel/'+shipment._id)%>" class="pull-right-sm cancel-shipment"><%-tt('shipments').t_cancel_order%></a> 
</div>
</div>
</div>
</div>
</div>
</div>
<%})}%>