<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content pull-left">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%-tt('shipments').t_make_payment%></h4>
		<p>Amount:<%-amount%></p>  
      </div>
      <div class="modal-body">

<div class="row">
<div class="col-md-12">
   	<p>Pay using Debit / Credit Card</p>
</div>	
</div>	

	<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
        <input type="hidden" id="citrusFirstName" value="MP" />
		<input type="hidden" id="citrusLastName" value="Singh" />
		<div class="row mB20">
		<div class="col-md-7">
		<label class="mR30">Enter your email id</label><br>
		<input type="text" id="citrusEmail" value="<%-user.contact.email?user.contact.email:''%>" class="w100 pL10 pR10"/><br>	
		</div>
		<div class="col-md-5">
			<label class="mR30">Enter your mobile number</label><br>
		<input type="text" id="citrusMobile" value="<%-user.contact.mobile_no?user.contact.mobile_no:''%>" class="w100 pL10 pR10"/>
			</div>
		</div>
		
		<input type="hidden" id="citrusStreet1" value="<%-user.contact.mobile_no?user.contact.mobile_no:''%>" />
		<input type="hidden" id="citrusStreet2" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusCity" value="<%-user.business?user.business.registered_city:''%>" />
		<input type="hidden" id="citrusState" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusCountry" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusZip" value="<%-user.business?user.business.registered_pincode:''%>" />
		
		<input type="hidden" readonly id="citrusAmount" value="<%-citrus.amount%>" />
        <input type="hidden" readonly id="citrusMerchantTxnId" value="<%-citrus.txid%>" />
		<input type="hidden" readonly id="citrusSignature" value="<%-citrus.sign%>" />
		<input type="hidden" readonly id="citrusReturnUrl" value="<%-citrus.return_url%>" />
		<input type="hidden" readonly id="citrusNotifyUrl" value="<%-citrus.notify_url%>" />

	  
	<div class="row mB20">
	<div class="col-md-6">
	  <label class="mR30">Select your card type</label><br>	
	  <select id="citrusCardType">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
    </select>
	<select id="citrusScheme">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
    </select>	
		</div>
		  </div>	
	<div class="row">
<div class="col-md-12">
   	<p>Enter Card Detail</p>
</div>	
</div>		  
		 <div class="row mB20">
			 
			 <div class="col-md-4">
				 <label class="mR30">Card number<br><br></label><br>
				 <input type="text" id="citrusNumber" value="" class="w100"/> </div>
			 
			 <div class="col-md-3">
				 <label class="mR30">Card holder name</label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100"/></div>
			 
			 <div class="col-md-3">
				 <label class="mR30">Expiry date<br><br></label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100"/></div>
			 
			 <div class="col-md-2">
				 <label class="mR30">CVV number</label><br>
				 <input type="text" id="citrusCvv" value="" class="w100"/></div>
			 
		  </div>
    
    
    
    
    <input type="button" value="Pay Now" id="citrusCardPayButton"/>
	
	<div class="row mT20">
		<div class="col-md-12">
	<label class="mR30">Or Pay via Net Banking</label><br>		  
	<hr/>
			
	 <select id="citrusAvailableOptions">
    </select>
    <input type="button" value="Pay by netbanking" id="citrusNetbankingButton" />	
	</div>
		  </div>	
		
	</div>


  </div>
  </div>
 </div>
<script type="text/javascript">
   require([],function(){
	    CitrusPay.Merchant.Config = {
        // Merchant details
        Merchant: {
            accessKey: '<%-citrus.access%>', //Replace with your access key
            vanityUrl: '<%-citrus.vanity%>'  //Replace with your vanity URL
        }
    };
    fetchPaymentOptions();
    

	   
	//UI validations
jQuery(document).ready(function() {	
	jQuery.support.cors = true; 
	
	// setup card inputs;	 	
	jQuery('#citrusExpiry').payment('formatCardExpiry');
	jQuery('#citrusCvv').payment('formatCardCVC');
	jQuery('#citrusNumber').keyup(function() {
		var cardNum = jQuery('#citrusNumber').val().replace(/\s+/g, '');		
			var type = jQuery.payment.cardType(cardNum);
			console.log(type);
			jQuery("#citrusNumber").css("background-image", "url(images/" + type + ".png)");						
			if(type!='amex')
            jQuery("#citrusCvv").attr("maxlength","3");
            else
            jQuery("#citrusCvv").attr("maxlength","4");						
			jQuery('#citrusNumber').payment('formatCardNumber');											
			jQuery("#citrusScheme").val(type);		
	});				 
});   
	   
	 $('#citrusNetbankingButton').on("click", function () { makePayment("netbanking") });
        //Card Payment
        $("#citrusCardPayButton").on("click", function () { makePayment("card") });	   
   });
    function handleCitrusPaymentOptions(citrusPaymentOptions) {
        if (citrusPaymentOptions.netBanking != null)
            for (i = 0; i < citrusPaymentOptions.netBanking.length; i++) {
                var obj = document.getElementById("citrusAvailableOptions");
                var option = document.createElement("option");
                option.text = citrusPaymentOptions.netBanking[i].bankName;
                option.value = citrusPaymentOptions.netBanking[i].issuerCode;
                obj.add(option);
            }
    }
	  function citrusServerErrorMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    function citrusClientErrMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
	   
</script>