<div class="container minh3 minhh-sm">

<div class="row">
<div class="col-md-6 col-md-offset-3 mT40 col-sm-8 col-sm-offset-2">
<div class="bg-agents pT10 pB5 pL10 pR20 text-center">
    <h3 class="mT0"> <%-tt().t_welcome_agent%> <strong><%-loggedUser.getName()%></strong></h3> 
</div> 
</div>    
</div>    
    
<div class="row mT40 mT0-xs">
<div class="col-md-4 text-center col-xs-12 nobg col-sm-5 pull-left-sm">
<div class="agents-form minh-agents">
<div class="row agentsshipper">  
<div class="col-md-3 text-center col-xs-4 col-sm-3">
<img src="<%-assetsp%>images/agent-shipper.png" class="img-responsive">
</div>  
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<div class="col-md-7 col-md-offset-1 col-xs-7 pR20 pL20 col-sm-9">
<h3><%-tt().t_youareas%><strong class="text-primary"><%-tt().t_shipper%></strong></h3>
</div>
<input type="hidden" id="agents-stats" value="<%-agentUrl('users/agents-stats')%>">	
</div>
<div class="row agentsshipper">  
<div class="col-md-12 text-center fnt16 mT20 mB20">    
<p><%-tt().t_totalshipment_posted%> - <strong class="text-primary"><%-stats.totalshipments%></strong></p>
<p class="mT20"><%-tt().t_youhave%> <strong class="text-primary"><%-stats.pendingshipments%></strong> <%-tt().t_pendingorders%><br>
<%-tt().t_andthereare%> <strong class="text-primary"><%-stats.intransitshipments%></strong> <%-tt().t_orderintransit%></p>
<% if(lastship.loading && lastship.unloading){%>	
<p class="mT20"><%-tt().t_yourlastorderwasfrom%><br>
<strong class="text-primary"><%-lastship.loading?lastship.loading.lp_city:null%></strong> to <strong class="text-primary"><%-lastship.unloading?lastship.unloading.up_city:null%></strong></p>
<%}%>	
</div>
</div>
    
</div>
<div class="row">
<div class="col-md-12">
<a href="<%-agentUrl('users/asshipper')%>" class="proceedas confirm text-center pT15 pB5">
  <p><%-tt().t_proceedasshipper%></p>
</a> 
</div>
</div>
</div>

<div class="col-md-4 col-md-offset-4 text-center col-xs-12 nobg col-sm-5 col-sm-offset-2 pull-left-sm">
<div class="agents-form minh-agents">
<div class="row agentsshipper">  
<div class="col-md-7 col-md-offset-1 col-xs-9 pR20 pL20 col-sm-8">
<h3><%-tt().t_youareas%> <strong class="text-primary"><%-tt().t_trucker%></strong></h3>
</div>
<div class="col-md-3 text-center col-xs-4 col-sm-3">
<img src="<%-assetsp%>images/agent-trucker.png" class="img-responsive">
</div>     
</div>
<div class="row agentsshipper">  
<div class="col-md-12 text-center fnt16 mT20 mB40">    
<p><%-tt().t_totalshipment_completed%> - <strong class="text-primary"><%-stats.scast%></strong></p>
<p class="mT20"><%-tt().t_totalmoney_earned%> - <strong class="text-primary">50,000</strong></p>   
<p class="mT30"><%-tt().t_totaltrucksinfleet%> - <strong class="text-primary total-trucks ">0</strong><br>
<%-tt().t_totaldriveradded%> - <strong class="text-primary total-drivers">0</strong></p>    
</div>
</div>
    
</div>
<div class="row">
<div class="col-md-12">
<a href="<%-agentUrl('users/astrucker')%>" class="proceedas confirm text-center pT15 pB5">
  <p><%-tt().t_proceedas_trucker%></p>
</a> 
</div>
</div>
</div>    
    
    
</div>
    
    
    
</div><!--mainbg-->
<%if(!otpverified){%>
<!-- Modal -->
<div id="myModalotp" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
<input type="hidden" id="sendotp" value="<%-agentUrl('users/sendotp')%>">
<input type="hidden" id="resendotp" value="<%-agentUrl('users/resendotp')%>">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="modal-title"><%-tt().t_mobile_no_verification%></h4>
      </div>
      <div class="modal-body">
		
<form id="verifyotp"  action="<%-agentUrl('users/validate-otp')%>" <%if(!otpsent){%>style="display:none;" <%}%> >
<div class="col-md-12">
	<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Users[otp]" id="users-otp" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-number"></i> <%-tt().t_enter_otp_code;%></span>
	</label>
	</span>
</div>
<div class="col-md-12 mB10">
   <p id="msg1"></p>	
	<div class="col-md-6 pull-left">
		<a href="javascript:;" class="resendotpon">
			<%-tt().t_resend_otp;%>
		</a>
	</div>
	<div class="col-md-6 pull-right">
		<input type="submit" class="btn" name="submit" value="Submit">
	</div>
</div>
</form>
<form id="changeobilenumber"  action="<%-agentUrl('users/update-mobile')%>" style="display:none;">

	<div class="row">
	<div class="col-md-1 mT10"><span class="label label-warning">+91</span></div>
	<div class="col-md-10" style="margin-top:-15px">
		<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
		 <input class="input__field input__field--hoshi" autocomplete="off"   type="text" name="Users[mobile]" id="users-mobile" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-mobile"></i> <%-tt().t_enter_mobile_no;%></span>
	</label>
	</span></div>
	</div>	

<div class="col-md-12">
   <p id="msg"></p>	

	<div class="col-md-12 text-right mB10">
		<div class="col-md-6 text-left"><input type="submit" name="submit" class="btn" value="Submit"></div>
		<div class="col-md-3 pull-right"><a href="javascript:;" class="cancel-before">Cancel</a></div>
		
	</div>
	
</div>
</form>		  
<%if(!otpsent){%>
	<div class="notsentotp">
		<p>
			<%-tt().t_dontgetotp_msg%>
		</p>
		<p class="text-center">
			
			<a href="javascript:;" class="sendotpon">
				<%-tt().t_sendotpon%>			
			</a>
			<strong><%-loggedUser.getMobileNo()%></strong>
			<sub><a href="javascript:;" class="change-mobileno" title="<%-tt('users').t_editmobileno%>"><%-tt('users').t_editmobileno%></a></sub>
		</p>
	</div>
	<%}%>
		</div>

		</div>

		</div>
		</div>
<button type="button" class="btn btn-info btn-lg showpop hidden" data-toggle="modal" data-target="#myModalotp">Open Modal</button>
<script type="text/javascript">showpop = true</script>
<%}%>

<script type="text/javascript">
require(['trucker_dashboard','dashboard'],function(th){	

	if('undefined' != typeof showpop)	
	  $(".showpop").click();	
});
</script>	