<div class="container minh">

<div class="row">


<div class="col-md-8 col-md-offset-2 mT30">
<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row">
<div class="col-md-12 text-center text-primary">
<h3><%-tt('shipments').t_pending_shipment%></h3>
</div>
</div>


<div class="row mT30">
<div class="col-md-12">
  <!-- Tab panes -->
<div class="tab-content">


<div class="row mT20">
<div class="col-md-12"> 
<% if(!doc){%>
<div class="col-md-12  pR40 text-center">
<%-tt('shipments').t_no_pending_shipment%>	
</div>	
<%}else{%>		
<div class="row">
	
<div class="col-md-4">
<img src="<%-assetsp%>images/map.png" class="img-responsive"/>
</div>
<div class="col-md-8 mT20 pR40">
<div class="row">
  <div class="col-md-4 ">
    <h4 class="text-primary"><%-doc.from_city%></h4>
  </div>  
    <div class="col-md-4 text-center">
    <img src="<%-assetsp%>images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right ">
    <h4 class="text-primary"><%-doc.to_city%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary"><%-doc.load_type%> - <%-doc.priority_delivery?"-"+doc.priority_delivery:""%></strong><br>
<% if(doc.truck_quantity){ %>	
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-doc.truck_quantity%></span></p>
<% } %>	
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary"><%-doc.transit_date%> </span><br> at <span class="text-primary"><%-doc.transit_time%> </span></p>
</div>
</div>
<p class="mT10"><%-doc.truck_name%></p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success3 pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4">  

</div>
<form action="<%-shipperUrl('users/complete-shipment')%>" method="post" id="complete-shipment" name="formd" data-form="ajax">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<input type="hidden" name="_id" value="<%-doc._id%>">	
<div class="col-md-4 text-center pB10">  
	<strong><a href="javascript:void(this.formd.submit());" onclick=""><%-tt('shipments').t_complete_shipment%></a></strong>
</div> 

<div class="col-md-4 text-right">  
<a href="<%-shipperUrl('users/remove-incomplete')%>" id="incomplete-remove"  ><%-tt('shipments').t_remove_shipment%></a>
</div>
</form>		
</div>
</div>
</div>
</div>
<%}%>
</div>
</div>




</div>

</div>
</div>
</div>



</div>

</div> 
</div>