<% if(doc && doc.length>=0){ doc.forEach(function(shipment){%>
<div class="row mT20">
<div class="col-md-12">  
<div class="row">
<div class="col-md-7 bdrr mB20">
<div class="row">
  <div class="col-md-4 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:null%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 mT0-xs">
    <img src="<%-assetsp%>images/type<%-shipment.truck.category%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.unloading?shipment.unloading.up_city:null%></h4>
  </div>  
	</div>	
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%><%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
<small data-label="<%-tt('shipments').t_available_for_expiryin%>" class="col-md-12 text-center" bid-timer data-expiry="<%-shipment.transit.t_expdatetime%>" ></small>	
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
</div>

<div class="col-md-5">
<div data-history="<%-class4?1:''%>" data-bids="trucker-<%-shipment._id%>" >
</div>		
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="<%-class4?'bg-success4':'bg-success3'%> pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4">  
<p><%-tt('shipments').t_reference_no%> : #<%-shipment.shipment_id%> </p>   
</div> 
<div class="col-md-4 text-center">  
<strong class="fnt16"><%-tt('shipments').t_status%> : <%-Shipments.currentStatus(shipment.status)%> </strong>
</div>
<div class="col-md-4 text-right"> 
<% var ha =class4?'history/':'detail/'%>	
<a href="<%-shipperUrl('shipments/'+ha+shipment._id)%>"><%-tt('shipments').t_view_detail%></a> 
</div>
</div>
</div>
</div>
</div>

</div>
</div>

<%})}%>