<div class="container minh">

<div class="row">
<form>

<div class="col-md-8 col-md-offset-2 mT30">
<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row">
<div class="col-md-12 text-center text-primary">
<h3><%-tt('shipments').t_myshipments%></h3>
</div>
</div>


<div class="row mT30">
<div class="col-md-12">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs ship text-center" role="tablist">
    <li role="presentation" class="active"><a href="#shipmentsactive" aria-controls="shipmentsactive" role="tab" data-toggle="tab"><%-tt('shipments').t_active%></a></li>
    <li role="presentation"><a href="#shipmentshistory" aria-controls="shipmentshistory" role="tab" data-toggle="tab"><%-tt('shipments').t_history%></a></li>
    
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" id="bid-url" value="<%-shipperUrl('bids/isbid-accedpted')%>">
<div role="tabpanel" class="tab-pane active" id="shipmentsactive">
<input type="hidden" data-paginate="url" id="paginate-url" value="<%-shipperUrl('users/active-shipments')%>">	
<%- include paginate_active.ejs %>

<div id="active-shipments"></div>	
<div id="load-page" class="text-center"></div>
</div>

<div role="tabpanel" class="tab-pane" id="shipmentshistory">
<input type="hidden" data-paginate="url" id="paginate-url" value="<%-shipperUrl('users/history-shipments')%>">	
<div id="active-shipments"></div>		
<div id="load-page"class="text-center"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
<script type="text/javascript">
require(['users']);
</script>	
