<div class="container minh">

<div class="row">

<div class="col-md-12 mT30 pL0-xs pR0-xs">
<div class="bg-success pT10 pB5 pL10">
   <h3><%-tt().t_confirmed_order%></h3>
	
</div> 
<input type="hidden" name="getbid-price" value="<%-truckerUrl('bids/get-price')%>">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<%- include paginate_confirmation.ejs %>

</div>
</div>

</div>
<script type="text/javascript">
require(['shipment']);
</script>