<div class="container minh minhh-sm">

<div class="row">
<form action="<%-truckerUrl('shipments/place-bid')%>" id="bids" data-form="ajax" method="post" >
<div class="col-md-4 mT30 pL0-xs pR0-xs col-sm-5"> 
<div class="bg-primary pL20 pR20">

<div class="row">
<div class="col-md-12 text-left text-primary text-center-xs">
<h3><strong><%-tt().t_place_your_bid%></strong></h3>
</div>
</div>
<div class="row mT40"> 
<div class="col-md-7 mT10 col-xs-6 mT0-xs col-sm-6">
<span class="text-primary"><img src="<%-assetsp%>images/notrucks.png" class="mR10 hidden-xs"/> <%-tt().t_nof_trucks%> :</span>
</div>
<div class="col-md-5 col-xs-6 col-sm-6">
   <p><%-doc.truck.quantity||0%></p><!-- /input-group -->
</div>
<div class="col-md-12 mT30 pL0 pR0 col-xs-12 col-sm-12 mT25-sm">
<span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="text" name="Bids[price]" id="bids-price" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="bids-price">
	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
	<input type="hidden" name="Bids[_id]" value="">
	<input type="hidden" name="last-bid-ondetailpage" value="<%-truckerUrl('shipments/last-bid-placedondetail')%>">
	<input type="hidden" name="data-rebid" value="<%-doc._id%>">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_bid_overal_amount%></span>
    </label>
</span>
	<small class="pull-left cs-hidden web-color" id="last-posted-bid" > &#8593 <%-tt().t_your_lastbidamount%> <%-tt().t_rupee_sign%> <span></span></small>
    	
</div>      
<div class="col-md-12 text-left mT30 pL0 pR0 col-xs-12 col-sm-12">
    <textarea data-remain-limit="100" data-remain-trigger="1" data-remain-text="#remain-text" maxlength="100" name="Bids[description]" id="bids-description" placeholder="<%-tt().t_enter_remark%>" ></textarea>
	<span class="text-left pull-right" id="remain-text"  >  100</span>
</div> 
</div>
<div class="row">
	<div class="col-md-12 text-center mT30">
	<p><%-tt().t_bid_expires_after%></p>
	</div>	
	<div class="col-md-12 text-center" id="isExpired">
    <p><span id="bidsubmitbtn"  data-expire="<%-doc.transit.t_expdatetime%>"><%-tt().t_loading%></span></p>
		
</div>

  <div class="col-md-12 text-center mT95 pL0 pR0 mT20-xs mT20-sm">
	<p id="bids-1success"></p>  
    <a class="btn btn-orange pT10 bidsubmitbtn" data-toggle="modal" data-target="#myModalaccept"><span class=" glyphicon glyphicon-ok text-info"></span> <%-tt().t_submit_your_bid%> </a>
</div>
<!-- post bid	-->
<%console.log("sdfsfsdfsdfsd"+transactions)%>	
<% if(transactions>0){%>	
<div class="modal fade" id="myModalaccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt().t_accept_order%></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
        <p class="mT20 mB20"><%-tt().t_want_to_order%></p>
		<p><%-tt('shipments').t_transactions%>  : <%-transactions%></p>  
		<p>1 <%-tt('shipments').t_used%> <%-transactions-1%> <%-tt('shipments').t_left%></p>  
		<input type="hidden" name="redirect" value="<%-truckerUrl('shipments/bid-load-board')%>">  
        <input type="submit" class="btn bg-black2 w50"  id="submitbtn" value="<%-tt().t_yes%>">
		<button type="button" class="btn bg-orange2 w50" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%-tt().t_no%></span></button>  
      </div>
      
    </div>
  </div>
</div>
<% }else{%>
	<div class="modal fade" id="myModalaccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong><%-transactions%> <%-tt('shipments').t_transactions%> <%-tt('shipments').t_left%> </strong> 
        
      </div>
      <div class="modal-body text-center">
		  <p class="mT20 mB20">
		     <%-tt('shipments').t_transactions_finished%>
		  </p> 
		  <p> <a href="<%-truckerUrl('users/buy-transactions')%>"><%-tt('shipments').t_buy_transaction%></a> </p>
      </div>
      
    </div>
  </div>
</div>
<%}%>	
</div>




</div>
</div>

<div class="col-md-8 mT30 col-xs-12 pL0 pR0 col-sm-7">
<div class="bg-primary pB20 pL30 pR40 pL20-xs pR20-xs pL10-sm pR10-sm">
<div class="row">
<div class="col-md-12 text-left text-primary pull-left-xs col-sm-12">
<h3><strong><%-tt().t_shipment_detail%></strong> <span class="pull-right mT20-xs pull-left-xs">Reference no : #<%-doc.shipment_id%> </span></h3>
</div>
</div>

<div class="row mT20">
<div class="col-md-12">  
<div class="row">

<div class="col-md-7 mT10 pR40 pR20-xs bdrr bdrn-xs bdrn-sm">
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h4 class="text-primary"><%-doc.loading.lp_city||''%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4">
    <img src="<%-assetsp%>images/type<%-doc.truck.category%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4">
    <h4 class="text-primary"><%-doc.unloading.up_city||''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary fnt14-xs"><%-doc.truck.load_type==1?tt().t_full_load:tt().t_partial_load%> 
<%-doc.truck.priority_delivery==1?' - '+tt().t_priority_delivery:''%></strong><br>
<p>Number of trucks - <span class="text-primary"><%-doc.truck.quantity||0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6 fnt14-xs">
<p><span class="text-primary"><%-doc.transit.t_date||''%> </span><br> at <span class="text-primary"><%-doc.transit.t_time||''%> </span></p>
</div>
</div>
<p class="mT10"><%-doc.shipment_detail.truck_name||''%></p>
<p class="mT40 text-center">Insurance - <strong class="text-primary"><%-doc.insurance?doc.insurance.text:''%></strong></p> 
<input type="hidden" name="Bids[shipment_id]" value="<%-doc._id%>">		
<!--image insurance modal-->

<div class="col-md-12">
<a class="insur" data-toggle="modal" data-target="#myModal">
<% if(doc.insurance && doc.insurance.image){%>	
  <img src="<%-Common.MediaPath(doc.insurance,doc._id,Shipments)%>"/>
<%}%>	
</a>	
</div>
<div class="col-md-12" >
<%if(hasflash('error')||hasflash('success')){%>	
<p><%-flash('error')%></p>	
<p><%-flash('success')%></p>	
<%}%>	
</div>	
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body text-center">
        <img src="images/insurance.png" class="img-responsive"/>  <br>
        <button type="button" class="btn btn-default hvr-sweep-to-right mT30"> UPLOAD IMAGE</button>
      </div>
      
    </div>
  </div>
</div>
<!--image insurance modal-->
</div>

<div class="col-md-5 mT20 text-left">
<strong><%-tt().t_item_detail%>Items List </strong>  
<% i=0;doc.items.forEach(function(item){ console.log(item)%>
<!-- Button trigger modal -->
<a class="bg-info pull-left pL15 pR5 pT10 mT20 w100" data-toggle="modal" data-target="#myModal1">
  <div class="pB5"> <%-tt().t_item%> <%-++i%> : <strong class="text-primary"><%-item.name||''%></strong> <div class="expand pull-right"></div></div>
</a>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%-tt().t_item%> <%-i%>: <strong class="text-primary"><%-item.name||''%></strong></h4>
      </div>
      <div class="modal-body">
        
        <div class="pB5"> <%-tt().t_category%> : <strong class="text-primary"><%-item.parent_category.name||''%></strong></div>    
        <div class="pB5"> <%-tt().t_sub_category%> : <strong class="text-primary"><%-item.sub_category.name||''%></strong></div>    
        <div class="pB5"> <%-tt().t_item_weight%> : <strong class="text-primary"><%-item.total_weight%> </strong> <small>(<%-tt().t_inkg%>)</small></div>    
        <div class="pB5"> <%-tt().t_nof_units%> : <strong class="text-primary"><%-item.total_item%></strong> <small>(Total weight = <%-item.total_weight*item.total_item%>)</small></div> 
		<% if(doc.truck.load_type==0){  %>
        <div class="pB5"> <%-tt().t_item_size%> : <%-tt().t_item_length%> : <span class="text-primary"><%-item.length%></span> |  <%-tt().t_item_width%> : <span class="text-primary"> <%-item.width%></span> |  <%-tt().t_item_height%> : <span class="text-primary"> <%-item.height%></span><small> ( <%-tt().t_in_inches%>)</small></div> 
		<%}%>  
       <h4> <%-tt().t_item_desc%></h4>  
       <p><%-item.desc%></p>
      </div>
      
    </div>
  </div>
</div>	
<%})%>



</div>
</div>

</div>
</div>



</div>
</div>

</form>
</div>  
</div> 
<script type="text/javascript">
require(['shipment'],function(th){});
</script>