<div  class="container minh">

<div class="row">
	
<div class="col-md-5 mT30 mB20">
<div class="bg-primary pB5 pT10 login pL20 pR20">
      <h3><%-tt().t_enter_item_detail%> -<span class="text-primary"><%-load_type===1?tt().t_full_load:tt().t_partial_load %></span></h3>
<form action="<%-shipperUrl('shipments/items-detail')%>" id="item" method="post" data-form="ajax"  >  
<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-6 text-left pR0">
        <span class="input input--hoshi">
          <input type="hidden" name="_csrf" value="<%-csrfToken%>" />
          <input type="hidden" name="item[id]" value="" />
          <input class="input__field input__field--hoshi" ng-model="itemname" type="text" name="item[name]" id="item-name" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="item-name">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_item_name%></span>
          </label>
        </span>
</div> 
	
<div class="col-md-6 text-left pL0">
        <span class="input input--hoshi">
          <input pattern="[0-9]{1,12}" class="input__field input__field--hoshi" type="number" name="item[weight]" id="item-weight" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="item-weight">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_item_weight_opt%> <small></small></span>
			 
          </label>
			
        </span>
</div> 
<% if(load_type===0){ %>	
<div class="col-md-12 mT20 pL20">
<p class="text-primary"><%-tt().t_item_size%></p>
</div>
<div class="col-md-4 text-left  bdrr">
        <span class="input input--hoshi  m-15">
          <input class="input__field input__field--hoshi" type="number" id="item-length" name="item[length]" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_item_length%> </span>
          </label>
        </span>
</div>
<div class="col-md-4 text-left  bdrr">
        <span class="input input--hoshi m-15">
          <input class="input__field input__field--hoshi" type="number" name="item[width]" id="item-width" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_item_width%> </span>
          </label>
        </span>
</div>
<div class="col-md-4 text-left">
        <span class="input input--hoshi m-15">
          <input class="input__field input__field--hoshi" type="number" id="item-height" name="item[height]" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_item_height%> </span>
          </label>
        </span>
</div>	
<% } %>	
 <div class="col-md-6 text-left mT20 pR0">
  <div class="dropdown  pL5"> 
	 <input type="hidden" name="item[pcname]" value="">  
  <select name="item[parent_category]" id="item-parent_category" class="dropdownbx">
  <option value=""><%-tt().t_select_category%></option>
  <option value=""></option>
  <option value=""></option>
  </select>	
</div>
<span class="item-parent_category-error cmperrmsg"></span> 
</div>
  <div class="col-md-6 text-left mT20 pL0">
  <div class="dropdown  pL5">
  <input type="hidden" name="item[scname]" value="">	  
  <select name="item[sub_category]" id="item-sub_category" class="dropdownbx">
  <option value=""><%-tt().t_select_category%></option>
  <option value=""></option>
  <option value=""></option>
  </select>	  
<span class="item-sub_category-error cmperrmsg"></span> 	
</div>
  
</div>

<div class="col-md-12 text-left mT20">
        <textarea name="item[desc]" id="item-desc" placeholder="Item description"></textarea>
</div> 

<div class="col-md-6 mT30 pL20">
<span class="text-primary"><%-tt().t_no_of_items%></span>
<small><%-tt().t_noofitemsxtotalitemweight%></small><br/>

<span class="item-total_items-error cmperrmsg"></span> 	
</div>
<div class="col-md-6 mT35 pR40">
   <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="minus('item-total_item');" type="button"> - </button>
      </span>
      <input type="number" class="form-control text-center" data-total_weight="0" name="item[total_item]"   id="item-total_item"  value="1">
	  
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="plus('item-total_item');" type="button"> + </button>
      </span>
    </div><!-- /input-group -->

<p class="mT10"><strong><%-tt().t_total_weight%> = <span id="totalitemweight" >50kg</span></strong></p>
</div> 

<div class="col-md-12 text-center mT20">
<p><%-tt().t_upload_invoice%></p>
<p class="image-clr" ></p>
<img src="<%-assetsp%>images/invoice.png"  class="img-responsive  img-rounded"  data-field="#item-invoice" data-trigger="#item-browse">
    <input type="file" id="item-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="item[invoice]" id="item-invoice" readonly />  
	<input type="hidden" name="item[invoice_image]" id="item-invoice_image" readonly />  
    <div class="item-invoice-error cmperrmsg"></div>	
</div>	
	
	<div class="row">
  <div class="col-md-12 text-center mT20">
    <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt().t_saveitem_inlist%>">
    <input type="reset" class="cs-hidden" value="">
  </div>
</div>
	
</div>        
</div>
 


</div>
</form>
</div>
    </div>  	
	
	
	
<div class="col-md-7 mT30 mB20 ">
<div class="bg-primary pB5 pT20 pB20 login pL10 pR10" id="itmlst">
	<div class="row">
	<div class="col-md-6 scrl">
      <h3><%-tt().t_your_item_list%></h3>
<ul class="list-group items">
  <li></li>

</ul>
<div class="items-items_list-error cmperrmsg"></div>			
<input type="hidden" name="url" value="<%-shipperUrl('shipments/remove-item')%>">
</div>	
	
	
<div class="col-md-6 bdrl">
<form action="<%-shipperUrl('shipments/finalize-items')%>"  id="items" method="post" data-form="ajax">
<h4 class="mT20"><%-tt().t_enter_invoice_label%></h4>	
<div class="row">
	
<div class="col-md-12 text-left insu">
<input type="hidden" name="_csrf" value="<%-csrfToken%>" />
<span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="number" name="items[items_total]" id="items-items_total" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="items-total_invoice_amout">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_total_invoice_amount%></span>
          </label>
        </span>


</div>
	</div>	
	
<h4 class="mT20"><%-tt().t_buy_insurance_label%></h4>
<div class="row">
  <div class="col-md-12 text-left insu" id="items-insurance-cnrl">
    <div class="radio">
  <label>
    <input type="radio" name="items[insured]" id="items-insured1" value="1" checked>
    <%-tt().t_insurance_yesiwant%> <small class="text-primary"> <br>Insurance startting from Rs 5000 only</small>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="items[insured]" id="items-insured2" value="2">
    <%-tt().t_insurance_ihave%>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="items[insured]" id="items-insured3" value="3">
    <%-tt().t_insurance_donotneed%>
  </label>
</div>



  </div>
</div> 
<h4 class="mT20"><%-tt().t_howantosee_invoice%></h4>	
<div class="row">
  <div class="col-md-6 text-left insu" id="items-insurance-cnrl">
    <div class="radio">
  <label>
    <input type="radio" name="items[invoicing_type]" id="items-insured1" value="1" checked>
    <%-tt().t_per_ton%>
  </label>
</div>
	</div>
	<div class="col-md-6 text-left insu" id="items-insurance-cnrl">
<div class="radio">
  <label>
    <input type="radio" name="items[invoicing_type]" id="items-insured2" value="2">
    <%-tt().t_per_km%>
  </label>
</div>
  </div>
</div> 
<div class="col-md-12 text-center mT20">
<img src="<%-assetsp%>images/insurance.png" class="img-responsive mT10 hidden insurance-image "  data-field="#items-insurance" data-trigger="#items-browse"/>
    <input type="file" id="items-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="items[insurance]" id="items-insurance" readonly />  
	<input type="hidden" name="items[insurance_image]" id="items-insurance_image" readonly />  
    <div class="items-insurance-error cmperrmsg"></div>	
</div>


<div class="row">
  <div class="col-md-12 text-center mT20">
    <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt().t_next%>">
  </div>
</div>
</form> 		
</div>
</div>  
</div>	
	
</div>
</div>
</div>
</div>
<script type="text/javascript">
require(['itemdetail'],function(th){});
</script>