
<% if(doc.length>0){%>
<div class="row mT10">
<% doc.forEach(function(shipment){%>
<div class="col-md-6">
<div class="bg-primary pT5 login">
<div class="row bids">
<div class="col-md-12 pL30 pR30">
<h4 class="text-primary text-center"><%-tt().t_reference_no%> : #56dd560</h4>  
<div class="row">
  <div class="col-md-4 mT20 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></h4>
  </div>  
    <div class="col-md-4 text-center mT10 col-xs-4 mT0-xs">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-shipment.loading?shipment.unloading.up_city:''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%></span></p>
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
</div>
</div>
<div class="row">
<div class="col-md-9 pR0 col-sm-9">
<div class="bg-black pT10 pL10 pB2 pR20-xs ">
<p><%-tt().t_bid_price%> : <span class="cs-hidden" data-bid-price="shipment<%-shipment._id%>" data-rs="<%-tt().t_rupee_sign%>" > </span><span class="text-white"><img src="<%-sbtnimg_black%>" /> <%-tt().t_loading%></span><a href="#reject" data-reject="" class="pull-right mR20 text-primary"><label class="glyphicon glyphicon-remove"></label> <%-tt().t_reject%></a></p>
</div>
</div>
<div class="col-md-3 pL0 col-sm-3">
<button type="button" class="btn btn-orange"  data-toggle="modal" data-target="#myModal"><span class=" glyphicon glyphicon-ok text-info"></span> <%-tt().t_accept%> </button>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt().t_accept_order%></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
		<form action="<%-truckerUrl('shipments/confirmed')%>" data-shipment="confirmed">
        <p class="mT20 mB20">
		<input type="hidden" name="bid" >
		<input type="hidden" name="sid"  value="<%-shipment._id%>">
		<input type="hidden" data-accept="1" name="id"  value="<%-shipment._id%>">
		<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
			<%-tt().t_accept_order_body%></p>
        <button type="submit" class="btn bg-black2 w50"><%-tt().t_yes%> </button>
        <button type="button" class="btn bg-orange2 w50"> <%-tt().t_no%> </button>
	    </form>	
      </div>
      
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
<%})%>	
</div>
<%}%>
