<% if(doc && doc.length>0){%>

<% i=0; doc.forEach(function(shipment){%>
<tr id="ship<%-shipment._id%>">
          <td class="text-primary"><%-shipment.loading.lp_city%></td>
          <td class="text-primary"><%-shipment.unloading.up_city%></td>
          <td><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%></td>
          <td class="text-primary"><%-shipment.truck?shipment.truck.priority_delivery==1?tt('shipments').t_priority_delivery:"No":null%></td>
          <td><%-shipment.truck?shipment.truck.quantity:0%></td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%></td>
          <td class="text-primary"><span><%-tt().t_rupee_sign%> <%-shipment.shipment_detail.overall_total%></span></td>
          
          <td> <a href="<%-truckerUrl('shipments/view/'+shipment._id)%>"><%-tt().t_view_detail%></a></td>
          <td> <a class="btn btn-orange pT10" href="javascript:;"  data-toggle="modal" data-target="#myModal<%-shipment._id%>"><span class=" glyphicon glyphicon-ok text-info" ></span><span class="" id="<%-shipment._id%>" > <%-tt().t_accept_now%>  </span></a>
	

	
	</td>
</tr>	
	<!-- Modal -->
<div class="modal fade" id="myModal<%-shipment._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
	<form action="<%-truckerUrl('shipments/accept-regular-shipment')%>" id="accept-regular-shipment">
	  <input type="hidden" name="_id_" value="<%-shipment._id%>"> 	
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt().t_accept_order%> </strong>
		<input type="hidden" name="_csrf" value="<%-csrfToken%>">  
        <strong class="fnt18 text-primary"><%-tt().t_accept_order%> </strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
        <p class="mT20 mB20"> <%-tt().t_want_to_order%></p>
        <button type="submit" class="btn bg-black2 w50" ><%-tt().t_yes%></button>
        <button type="button" data-dismiss="modal" class="btn bg-orange2 w50"> <%-tt().t_no%> </button>
      </div>
	</form>  
    </div>
  </div>
</div>
<%})%>

<%}%>
