<% if(doc && doc.length>0){%>

<% i=0; doc.forEach(function(shipment){%>
<tr>
          <td class="text-primary"><%-shipment.loading.lp_city%></td>
          <td class="text-primary"><%-shipment.unloading.up_city%></td>
          <td><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%></td>
          <td class="text-primary"><%-shipment.truck?shipment.truck.priority_delivery==1?tt('shipments').t_priority_delivery:"No":null%></td>
          <td><%-shipment.truck?shipment.truck.quantity:0%></td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%></td>
          <td class="text-primary"><span id="acceptbidbtn<%-i%>" data-expire="<%-shipment.transit.t_expdatetime%>"><%-tt().t_loading%></span></td>
          
          <td id="isExpired"><a class="btn btn-orange pT10 acceptbidbtn<%-i%> " href="<%-truckerUrl('shipments/detail/'+shipment._id)%>"><span class=" glyphicon glyphicon-ok text-info"></span><span class="bidnow" id="<%-shipment._id%>" > <%-tt().t_bid_now%>  </span> <span class="rebid hide" > <%-tt().t_bid_again%></span> 
		  
		  </a>
		  <p class="mT10 hide" id="ab-<%-shipment._id%>">
			<%-tt().t_your_lastbidamount%> <%-tt().t_rupee_sign%> <strong></strong>  
		  <small class="cs-hidden rejected-bid">
		  <small><%-tt().t_shipper_rejectedyour_bid%></small>
		  </small>
		  </p> 	  
	  
</td>
</tr>	

<%})%>

<%}%>