<div class="container minh">

<div class="row">
<form>

<div class="col-md-7 mT30">

<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row mT30">
<div class="col-md-12 text-center text-primary">
<h4><%-tt().t_enter_pan_label%></h4>
</div>
</div>
<div class="row">
<div class="col-md-6 ">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="text" name="Users[pancard_no]" id="users-pancard_no" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-pancard_no">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_pancard%> </span>
    </label>
  </span>
</div>
<div class="col-md-6">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="text" name="Users[service_taxno]" id="users-service_taxno" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-service_taxno">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_service_taxno%></span>
    </label>
  </span>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1 text-center mT20">
<h4><%-tt().t_select_payment%></h4>
<div class=" mT40">
<span id="ex18-label-1" class="hidden">Example slider label</span>
        <input id="ex19" type="text"
              data-provide="slider"
              data-slider-ticks="[1, 2, 3,4]"
              data-slider-ticks-labels='["25%", "50%", "75%", "100%"]'
              data-slider-min="1"
              data-slider-max="4"
              data-slider-step="1"
              data-slider-value="4"
              data-slider-tooltip="hide" name="Users[payment_percentage]" />

<div class="row">
<div class="col-md-12 text-center text-primary mT40">
<span class="label label-warning">Rs 5000</span>
</div>
</div>
</div>
</div>
</div>

<div class="row mT40">
  <div class="col-md-6 text-center">
    <a href="13bid-board.html" class="btn btn-default hvr-sweep-to-right mT10"> <%-tt().t_paycash%></a>
  </div>

  <div class="col-md-6 text-center">
    <a href="13bid-board.html" class="btn btn-default hvr-sweep-to-right mT10"><%-tt().t_payonline%> </a>
  </div>
</div>

</div>
</div>

  
<div class="col-md-5 mT30">

<div class="bg-info bdrd pL20 pR20 pT5text-center">
<h4><img src="images/coupon.png"/><%-tt().t_enter_coupon_tagline%></h4>
<div class="row">
<div class="col-md-8">  
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="text" name="Users[coupon_code]" id="users-coupon_code" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_couponcode%> </span>
    </label>
  </span>
</div>
<div class="col-md-4 mT20 text-right pR20 coupon">
  <button type="button" class="btn btn-default btn-default2 hvr-sweep-to-right2 "><%-tt().t_apply%>  </button>
</div>
</div>
      
</div>

<div class="bg-primary pB20 pT10 login pL10 pR10 mT20">
      <h3><%-tt().t_load_detail%></h3>

<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary"><%-doc.from_city||""%></h4>
  </div>  
    <div class="col-md-4 text-center mT10">
    <img src="images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20">
    <h4 class="text-primary"><%-doc.to_city||""%></h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary"><%-doc.load_type||""%>  <%-doc.priority_delivery?" - "+doc.priority_delivery:""%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-doc.truck_quantity||"0"%></span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary"><%-doc.transit_date||""%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-doc.transit_time||""%></span></p>
</div>
</div>

<p class="mT20"><%-doc.truck_name||""%></p>

<div class="row">
<div class="col-md-12">
<ul class="list-unstyled" id="payment-total">	
<li><strong class="fnt18"><%-tt().t_sub_total%><div class="pull-right"><%-tt().t_rupee_sign%>  <%-doc.load_fare||"0"%> </div></strong></li>	
	
<li><%-tt().t_discount%> (-) <div class="pull-right"><%-tt().t_rupee_sign%> <%-doc.load_fare||"0"%> </div></li>
<li><strong class="fnt18"><%-tt().t_taxes%></strong></li>
<% for(var i in doc.taxes){ %>	
<li><%-doc.taxes[i].name||""%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-doc.taxes[i].rate||0%> </div></li>
<%}%>
<hr>
<li><strong class="text-primary fnt18"><%-tt().t_total%> <div class="pull-right"><%-tt().t_rupee_sign%> 14300 </div></strong></li>
</ul>
</div>
</div>

</div>
</div>
</form>
</div>  
</div> 