<div class="container minh minhh-sm">

<div class="row mT20-sm">

<div class="col-md-8 col-md-offset-2 mT30 col-xs-12 pL0 pR0">
<div class="bg-primary pB20 pL30 pR40 pL20-xs pR20-xs">
<div class="row">
<div class="col-md-12 text-left text-primary pull-left-xs">
<h3><strong><%-tt().t_shipment_detail%></strong> <span class="pull-right mT20-xs pull-left-xs"><%-tt().t_reference_no%> : #<%-shipment.shipment_id%> </span></h3>
</div>
</div>

<div class="row mT20">
<div class="col-md-12">  
<div class="row">

<div class="col-md-7 mT10 pR40 pR20-xs bdrr bdrn-xs col-sm-7">
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading.lp_city%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4">
    <h4 class="text-primary"><%-shipment.unloading.up_city%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary fnt14-xs"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_noof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6 fnt14-xs">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span>
<small class="col-md-12 text-center" data-start="<%-DateTime.now()%>" data-expiry="<%-shipment.transit.t_expdatetime%>"></small>
</p>
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<%if(shipment.insurance && shipment.insurance.insured_option==1){%>	
<p class="mT40 text-center"><%-tt().t_insurance%> - <strong class="text-primary"><%-shipment.insurance.text%></strong></p>  
<!--image insurance modal-->
<%if(shipment.insurance && shipment.insurance.insurance_image){%>
<div class="col-md-12">
<a class="insur" data-toggle="modal" data-target="#myModal">
  <img src="<%-Common.MediaPath({_id:shipment._id,image:shipment.insutance.insurance_image},'image',Shipments)%>"/>
</a>
</div>
<%}}%>
</div>

<div class="col-md-5 mT20 text-left col-sm-5">
<strong><%-tt().t_item_list%> </strong>  

<!-- Button trigger modal -->
<% shipment.items.forEach(function(item,i){%>	
<a class="bg-info pull-left pL15 pR5 pT10 mT20 w100" data-toggle="modal" data-target="#myModal1">
  <div class="pB5"> <%-tt().t_item%> <%-++i%> : <strong class="text-primary"><%-item.name%></strong> <div class="expand pull-right"></div></div>
</a>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%-tt().t_item%> <%-i%>: <strong class="text-primary"><%-item.name%></strong></h4>
      </div>
      <div class="modal-body">
        
        <div class="pB5"> <%-tt().t_category%>  : <strong class="text-primary"><%-item.parent_category.name%></strong></div>    
        <div class="pB5"> <%-tt().t_sub_category%> : <strong class="text-primary"><%-item.sub_category.name%></strong></div>    
        <div class="pB5"> <%-tt().t_item_weight%> : <strong class="text-primary"><%-item.weight%> </strong> <small>(<%-tt().t_inkg%> )</small></div>    
        <div class="pB5"> <%-tt().t_nof_units%> : <strong class="text-primary"><%-item.total_item%></strong> <small>(<%-tt().t_total_weight%> = <%-item.total_weight%>)</small></div>
		 <%if(shipment.truck.load_type==0){%> 
        <div class="pB5"> <%-tt().t_item_size%> : <%-tt().t_length%> : <span class="text-primary"> <%-item.length%></span> | <%-tt().t_width%> : <span class="text-primary">  <%-item.width%></span> | <%-tt().t_height%> : <span class="text-primary"> <%-item.height%></span><small> (<%-tt().t_ininches%>)</small></div> 
		<%}%>  
      <h4><%-tt().t_description%></h4>  
  <p><%-item.description%> </p>
      </div>
      
    </div>
  </div>
</div>
<%});%>



</div>
</div>

</div>
</div>



</div>

<div class="row">
<div class="col-md-9 pR0 col-sm-9">
<div class="bg-black pT10 pL10 pB2 text-center-xs">
<p><%-tt().t_order_avail_for%> <span><%-tt().t_rupee_sign%> <%-shipment.shipment_detail.overall_total%></span> </p>
</div>
</div>
<div class="col-md-3 pL0 col-sm-3">
<a class="btn btn-orange pT10" data-toggle="modal" data-target="#myModalaccept"><span class=" glyphicon glyphicon-ok text-info"></span> <%-tt().t_accept_now%> </a>
</div>
<div class="modal fade" id="myModalaccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
	<form action="<%-truckerUrl('shipments/accept-regular-shipment')%>" id="accept-regular-shipment">
	  <input type="hidden" name="_id_" value="<%-shipment._id%>">	
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt().t_accept_order%></strong>
		<input type="hidden" name="_csrf" value="<%-csrfToken%>">    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
        <p class="mT20 mB20"><%-tt().t_want_to_order%></p>
         <button type="submit" class="btn bg-black2 w50" ><%-tt().t_yes%></button>
        <button type="button" class="btn bg-orange2 w50"> <%-tt().t_no%> </button>
      </div>
	</form>  
    </div>
  </div>
</div>
<script type="text/javascript">
require(['shipment'],function(th){});
</script>
</div>

</div>
</div>  
</div> 