<div class="container minh">
<div class="row">
<div class="col-md-12 mT30 filter pL0-xs pR0-xs mB20-xs">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-heading" role="tab" id="headingOne">
      <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div class="bg-success pT10 pB5 pL10 pR20">
            <h3 class="mT0"> <%-tt().t_regular_board%><span class="glyphicon glyphicon-chevron-down pull-right fnt24 mT5 hidden-xs"></span><span class="pull-right mR20 mT5 hidden-xs"><%-tt().t_filter%></span> 
            <span class="glyphicon glyphicon-filter pull-right mR5 mT5"></span></h3>
          </div> 
      </a>
    </div>
<%if(Object.keys(filters).length>0){%>	
 <div class="collapse in" id="collapseExample">
<%}else{%>
 <div class="collapse" id="collapseExample">	 
<%}%>	 
<form action="" id="filters" method="get">	 
<div class="card card-block">
<div class="bg-primary pB5 pT5 login pL10 pR10">
<div class="row">
<div class="col-md-5">
<h4 class="mT10 mB0"><%-tt().t_area_of_opration%></h4>
    <div class="form-group mT25">
        <select name="Filters[area]" id="filters-area" class="form-control select2" multiple="multiple" data-placeholder="Select States" style="width: 100%;">
          <option>Loading...</option>
        </select>
    </div><!-- /.form-group -->
</div>
<div class="col-md-5">
<h4 class="mT20 mB0"><%-tt().t_select_from_date%></h4>
<div class="row">
<div class="col-md-6 col-xs-6">
<span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" name="Filters[date_from]" type="text" id="filter-date_from" value="<%-filters.date_from||null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_date_from%></span>
          </label>
        </span>
      
</div>
<div class="col-md-6 col-xs-6">
<span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" name="Filters[date_to]" type="text" id="filter-date_to" value="<%-filters.date_to||null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_date_to%></span>
          </label>
        </span>
      
</div>
</div>
</div>
<div class="col-md-2 col-sm-12">
<a href="<%-truckerUrl('shipments/regular-load-board')%>" class="pull-right mT20 mT30-xs mL20-xs mL20-sm mT30-sm text-grey"> <span class="glyphicon glyphicon-remove"></span><%-tt().t_clear_filter%></a>
<input type="submit" class="btn btn-default btn-default4 hvr-sweep-to-right pull-right mT25" value="<%-tt().t_apply_filter%>">

</div>
</div>
</div>
</div>
</form>	
</div>

</div>
</div>


<div class="col-md-12 pL0-xs pR0-xs">
<input type="hidden" name="filter-states" value="<%-truckerUrl('shipments/area-states')%>">	
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" name="regularloadboard-paginate" value="<%-truckerUrl('shipments/regular-load-board')%>">	
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="text-center">
        <tr class="bg-black">
        <th><%-tt('shipments').t_source%> </th>
        <th><%-tt('shipments').t_destination%> </th>
        <th><%-tt('shipments').t_load_type%> </th>
        <th><%-tt('shipments').t_priority_delivery%></th>
        <th><%-tt('shipments').t_nof_trucks%></th>
        <th><%-tt('shipments').t_date%> </th>
        <th><%-tt('shipments').t_time%> </th>
        <th><%-tt('shipments').t_order_avail_for%></th>  
        <th><%-tt('shipments').t_view_detail%></th>  
     
        <th><%-tt('shipments').t_accept%></th>
        </tr>
      </thead>
      
      <tbody>
	  <%if(expired){%>
		<tr><td colspan="10"><%-tt('users').t_membership_expired%></td></tr>
		<tr><td colspan="10"><a href="<%-truckerUrl('users/membership')%>"><%-tt('users').t_upgrade_membership%></a></td></tr>
	  <%}else if(!transactions){%>
		<tr><td colspan="10"><%-tt('users').e_no_more_transactions%></td></tr>
		<tr><td colspan="10"><a href="<%-truckerUrl('users/buy-transactions')%>"><%-tt('users').t_buy_transactions%></a></td></tr>  
	  <%}else{%>	  
      <%-include paginate_regularloadboard_bids.ejs%>
		  
	  <tr id="regularloadboardload-board-before">
		<td colspan="10" align="center" id="load-page" class="cs-hidden text-center">Loading...  </td>
      </tr>
	 <%}%>	  
      </tbody>
  </table>
</div> 	
	
</div>

</div>  
</div> 
<script type="text/javascript">
var filters = <%-JSON.stringify(filters)%>;		
require(['shipment'],function(th){});
</script>