.mT0{margin-top: 0}.mT-5{margin-top: -5px}.mT-10{margin-top: -10px}.m-15{margin: -15px 10px}
.mT5{margin-top: 5px}.mT10{margin-top: 10px}.mT15{margin-top: 15px}.mT20{margin-top: 20px}.mT25{margin-top: 25px}.mT30{margin-top: 30px}.mT35{margin-top: 35px}
.mT40{margin-top: 40px}.mT50{margin-top: 50px}.mT60{margin-top: 60px}.mL5{margin-left: 5px}.mL10{margin-left: 10px}.mL15{margin-left: 15px}.mL20{margin-left: 20px}
.mL25{margin-left: 25px}.mL30{margin-left: 30px}.mL35{margin-left: 35px}.mL40{margin-left: 40px}.mR5{margin-right: 5px}.mR10{margin-right: 10px}
.mR15{margin-right: 15px}.mR20{margin-right: 20px}.mR25{margin-right: 25px}.mR30{margin-right: 30px}.mR35{margin-right: 35px}.mR40{margin-right: 40px}
.mB0{margin-bottom: 0}.mB5{margin-bottom: 5px}.mB10{margin-bottom: 10px}.mB15{margin-bottom: 15px}.mB20{margin-bottom: 20px}.mB25{margin-bottom: 20px}.mB30{margin-bottom: 35px}.mB35{margin-bottom: 40px}.mB40{margin-bottom: 40px}

.pB2{padding-bottom: 2px}
.pR0{padding-right: 0}.pR5{padding-right: 5px}.pR10{padding-right: 10px}.pR15{padding-right: 15px}.pR20{padding-right: 20px}.pR30{padding-right: 30px}
.pR35{padding-right: 35px}.pR40{padding-right: 40px}.pL0{padding-left: 0px}.pL5{padding-left: 5px}.pL10{padding-left: 10px}.pL15{padding-left: 15px}
.pL20{padding-left: 20px}.pL25{padding-left: 25px}.pL30{padding-left: 30px}.pL35{padding-left: 35px}.pL40{padding-left: 40px}.pT5{padding-top: 5px}
.pT10{padding-top: 10px}.pT15{padding-top: 15px}.pT20{padding-top: 20px}.pT25{padding-top: 25px}.pT30{padding-top: 30px}.pT35{padding-top: 35px}
.pT40{padding-top: 40px}.pB5{padding-bottom: 5px}.pB10{padding-bottom: 10px}.pB15{padding-bottom: 15px}.pB20{padding-bottom: 20px}.pB25{padding-bottom: 25px}
.pB30{padding-bottom: 30px}.pB35{padding-bottom: 35px}.pB40{padding-bottom: 40px}

/* imagepath */
.bg{background: url(/cw-assets/images/orange.jpg) no-repeat; background-size: cover}


/* Sweep To Right button*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FE5702;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active { color: white;}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right button*/

/* Sweep To Right button2*/
.hvr-sweep-to-right2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #FE5502;
  color: #fff;
}
.hvr-sweep-to-right2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right2:hover, .hvr-sweep-to-right2:focus, .hvr-sweep-to-right2:active { color: #FE5502;}
.hvr-sweep-to-right2:hover:before, .hvr-sweep-to-right2:focus:before, .hvr-sweep-to-right2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right button2*/




.icon-button {background-color: white;  border-radius: 4.6rem; cursor: pointer; display: inline-block; font-size: 2.0rem; height: 4.6rem; line-height: 3.6rem;
  margin: 0 5px;  position: relative; text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 4.6rem;
}

/* Circle */
.icon-button span {border-radius: 0; display: block; height: 0; left: 50%; margin: 0; position: absolute; top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {width: 4.6rem; height: 4.6rem; border-radius: 50px; margin: -23px;}
.facebook span {background-color: #3B5998;}
.google-plus span {background-color: #db5a3c;}

/* Icons */
.icon-button i {
  background: none;
  color: #3B5998;
  height: 3.6rem;
  left: 10%;
  line-height: 3.6rem;
  position: absolute;
  font-size: 20px;
  top: 12%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .fa-facebook {color: #3B5998;}
.icon-button .fa-google {color: #DB5A3C;}
.icon-button:hover .fa-facebook,.icon-button:hover .fa-google {color: #fff;}
.facebook{color: #3B5998; font-size: 18px}
.google{color: #DB5A3C;  font-size: 18px}
/* Icons */

.switch {position: relative; display: inline-block; vertical-align: top; width: 100%; height: 30px; padding: 3px; background-color: #E7E7E7; border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); cursor: pointer;}

.switch-input {position: absolute; top: 0; left: 0; opacity: 0;}
.switch-label {position: relative; display: block; height: inherit; font-size: 12px; text-transform: uppercase; background: #eceeef; border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {content: attr(data-off); right: 11px; color: #aaa; text-shadow: 0 1px rgba(255, 255, 255, 0.5);}
.switch-label:after {content: attr(data-on); left: 11px; color: white; text-shadow: 0 1px rgba(0, 0, 0, 0.2); opacity: 0;}
.switch-input:checked ~ .switch-label {background: #FE5502; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);}
.switch-input:checked ~ .switch-label:before {opacity: 0;}
.switch-input:checked ~ .switch-label:after {opacity: 1;}
.switch-handle {position: absolute; top: 7px; left: 7px; width: 22px; height: 22px; background: white; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {content: ''; position: absolute; top: 50%; left: 50%; margin: -6px 0 0 -6px; width: 12px; height: 12px; background: #f9f9f9; border-radius: 6px; box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {left: 66px; box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);}
.switch-green > .switch-input:checked ~ .switch-label {background: #4fb845;}

.bg-success h3{margin-top: 0}
.bdrr{border-right: 1px solid #FE5502}
.or{font-size: 20px; font-weight: 400; font-size: 20px; margin-bottom: 0}
.bg-success h3 span{font-size: 16px; }
.btn-default2{padding: 10px 20px}
.footer{background: #1C1C1C; color: #fff; padding: 10px 0}
.footer p{margin-bottom: 0}
.footer a:hover{color: #fff}
.minh{min-height: 555px}
.usertype span {background-color: #3B5998;}
.usertype span {background-color: #db5a3c;}
.icon-button .fa-user {color: #FE5502;}
.icon-button .fa-building {color: #FE5502;}
.icon-button .fa-code-fork {color: #FE5502;}
.icon-button:hover .fa-user,.icon-button:hover .fa-building,.icon-button:hover .fa-code-fork {color: #fff;}
.btn-default3{border: none; border-bottom: 1px solid #FE5502; border-radius: 0; background: transparent; width: 100%; text-align: left; padding: 0 0px 2px 2px; font-size: 13px; margin-top: 20px}
..btn-default3:focus, .btn-default3:active:focus, .btn-default3.active:focus, .btn-default3.focus, .btn-default3.focus:active, .btn-default3.active.focus {box-shadow: none; outline: none}
.btn-default3 span.caret{margin-right: 5px; margin-top: -12px; float: right; color: #FE5502}
.dropdowncust{margin: 5px; position: relative; width: calc(100% - 2em);}
.selectr label.btn-primary{font-size: 12px; background: transparent;  color: #FE5502; border: 1px solid #FE5502; margin-top: 10px}
.selectr label.btn-primary.active, .selectr label.btn-primary:hover, .selectr label.btn-primary:focus{background: #FE5502; color: #fff;}
#map{width: 100%; height: 552px; top: 78px; z-index: -1; position: absolute;}
.fnt16{font-size: 16px; }
.pd{padding: 0.4em 0}
.formbg{background: rgba(255,255,255,0.9); margin-top: 50px; border-radius: 8px; padding: 0px 15px 5px 15px; border-top: 5px solid #FE5502; box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);}
.bg-success2 {background-color: #fe5502; border-radius: 0 0 8px 8px; color: #fff;}
.bg-success2 h3{margin-top: 5px}
/* imagepath */
a .truck1{background: url(/cw-assets/images/truck-type.png) no-repeat -89px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck1,a .truck1-active{background: url(/cw-assets/images/truck-type.png) no-repeat 23px 0px; height: 60px; width: 130px;}
a .truck2{background: url(/cw-assets/images/truck-type.png) no-repeat -352px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck2,a .truck2-active{background: url(/cw-assets/images/truck-type.png) no-repeat -225px 0px; height: 60px; width: 130px;}
a .truck3{background: url(/cw-assets/images/truck-type.png) no-repeat -657px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck3,a .truck3-active{background: url(/cw-assets/images/truck-type.png) no-repeat -500px 0px; height: 60px; width: 130px;}
a .truck4{background: url(/cw-assets/images/load.png) no-repeat -140px 0px; height: 60px; width: 138px; transition:all 0.8s ease 0s;}
a:hover .truck4,a .truck4-active{background: url(/cw-assets/images/load.png) no-repeat 8px 0px; height: 60px; width: 138px;}
a .truck5{background: url(/cw-assets/images/load.png) no-repeat -468px 0px; height: 60px; width: 138px; transition:all 0.8s ease 0s;}
a:hover .truck5,a .truck5-active{background: url(/cw-assets/images/load.png) no-repeat -310px 0px; height: 60px; width: 138px;}
/* imagepath */
.btn-drop{background-color: transparent; border-bottom: 1px solid #FE5502; border-radius: 0; color: #000; text-align: left; width: 100%; padding: 0 5px; font-size: 12px}
.btn-drop .caret{float: right; margin: -10px 0 0; padding-bottom: 10px;}
.btn-drop:hover .caret{color: #fe5502}
.btn-drop:active{box-shadow: none; outline: none}
.dropdown-menu2{width: 95%}
.dropdown-menu2 > li > a:hover, .dropdown-menu2 > li > a:focus {background-color: #fe5502; color: #fff; text-decoration: none;}
.insu .radio{font-size: 16px }
textarea{background: transparent;border: none; border-bottom: 1px solid #fe5502; padding: 5px; width: 95%; margin: 0 5px; font-size: 13px}
.items .list-group-item{padding: 10px 3px; background: transparent;  border: none; border-bottom:1px solid #ccc;}
.fa-plus-circle{color: #FE5502}
.fa-pencil-square{font-size: 22px!important}
.fa-trash-o{font-size: 22px!important}
.fnt18{font-size: 18px}
.bidlink a{text-decoration: underline;}
.bidlink{ margin: 120px 100px }
.bdrd{border: 2px dashed #fe5502}
.coupon .btn-default2 {font-size: 14px; padding: 2px 20px;}
.btn-default4 {padding: 5px 10px;}
.ship li{width: 50%}
.bg-success3{background-color: #FE5502; color: #fff; border-radius: 0 8px 8px}
.bg-success3 a{ color: #fff }
.bg-success4{background-color: #565656; color: #fff; border-radius: 0 8px 8px}
.bg-success4 a{ color: #fff}
.dimage{height: 50px; width: 50px}
.navbtn{border: 1px solid #fe5502; border-radius: 5px; color: #fe5502; font-size: 21px; padding: 6px 10px 8px;}
.rightpro .btn-default{border: none; padding: 0}
.rightpro .btn-default:active:hover, .rightpro .btn-default.active:hover, .rightpro .btn-default:active:focus, .rightpro .btn-default.active:focus, .rightpro .btn-default.focus:active, .rightpro .btn-default.active.focus {background: transparent;}
.rightpro ul.dropdown-menu{right: -30px; left: auto; float: right; margin-top: 10px}
.rightpro .dropdown-menu > li > a{clear: none; padding: 0; margin-top: 10px}
.rightpro ul.dropdown-menu:after, .rightpro ul.dropdown-menu:before {bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.rightpro ul.dropdown-menu:after {border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 10px; margin-left: -10px;}
.rightpro ul.dropdown-menu:before {border-color: rgba(255, 225, 255, 0); border-bottom-color: #fff;}
.bg-success5{background-color: #FE5502; color: #fff; border-radius: 0}
.bg-success5 a{color: #fff; text-decoration: underline;}
.info .btn-default{border: none; padding: 0}
.info .btn-default:active:hover, .info .btn-default.active:hover, .info .btn-default:active:focus, .info .btn-default.active:focus, .info .btn-default.focus:active, .rightpro .btn-default.active.focus {background: transparent;}
.info ul.dropdown-menu{right: -120px; left: auto; float: right; margin-top: 10px; width: 280px; padding: 0}
.info .dropdown-menu > li > a{clear: none; padding: 0; margin-top: 10px}
.info ul.dropdown-menu:after, .info ul.dropdown-menu:before {bottom: 100%; left: 45%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.info ul.dropdown-menu:after {border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 10px; margin-left: -10px;}
.info ul.dropdown-menu:before {border-color: rgba(255, 225, 255, 0); border-bottom-color: #fff;}
.info p{margin-bottom: 0}
/* imagepath */
.home{background: url(/cw-assets/images/sprite.png) 0px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.bookt{background: url(/cw-assets/images/sprite.png) -28px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.pay{background: url(/cw-assets/images/sprite.png) -51px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.myship{background: url(/cw-assets/images/sprite.png) -75px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.pship{background: url(/cw-assets/images/sprite.png) -101px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.bidb{background: url(/cw-assets/images/sprite.png) -125px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.offer{background: url(/cw-assets/images/sprite.png) -150px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.noti{background: url(/cw-assets/images/sprite.png) -175px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.help{background: url(/cw-assets/images/sprite.png) -200px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
a.medit{background: url(/cw-assets/images/sprite.png) -225px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 ; border: none;}
a:hover.medit{background: url(/cw-assets/images/sprite.png) -225px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0; }

.fullstar{background: url(../images/star.png) -20px 0px no-repeat; height: 24px; width: 24px; float: left; margin: 2px 0 0 0 }
.halfstar{background: url(../images/star.png) 4px 0px no-repeat; height: 24px; width: 24px; float: left; margin: 2px 0 0 0 }
.posl{position: absolute; left: -30px}
.posr{position: absolute; right: 30px}

.bootstrap-datetimepicker-widget{z-index:1000!important; overflow: hidden; background: #ffffff}
.bg-black{background: #000}
.bg-black p{font-size: 14px; color: #fff}
.bg-black p span{color: #fe5502; font-weight: 700}
.bg-black p a{color: #fe5502}
.btn-orange{background: #fe5502; color: #fff; font-weight: bold; width: 100%; border-radius: 0; height: 42px}
.w100{width: 100%}
a.btn-orange:hover{color: #000}
.btn-orange:hover .text-info{color: #000}
.text-info{color: #fff}
a.bg-info:hover, a.bg-info:focus {background-color: #565656; color: #fff; text-decoration: none;}



/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
h3{font-size: 18px}
.pL0-xs{padding-left: 0}.pl10-xs{padding-left: 10px}.pL20-xs{padding-left: 20px}.pR40-xs{padding-left: 40px}
.pR0-xs{padding-right: 0}.pR10-xs{padding-right: 10px}pR20-xs{padding-right: 20px}.pR40-xs{padding-right: 40px}

.mT0-xs{margin-top: 0px}.mT5-xs{margin-top: 5px}.mT10-xs{margin-top: 20px}.mT20-xs{margin-top: 20px}.mT30-xs{margin-top: 30px}.mT40-xs{margin-top: 40px}
.mB0-xs{margin-bottom: 0px}.mB10-xs{margin-bottom: 20px}.mB20-xs{margin-bottom: 20px}
.mL20-xs{margin-left: 20px}.mL10-xs{margin-left: 10px} .mR10-xs{margin-right: 10px}
.mR20-xs{margin-right: 20px}

.text-center-xs{text-align: center;}.text-left-xs{text-align: left;}
.mihfg-xs{min-height: 470px}
.formbg{margin-top: 20px; border-top: none}
.bg-success2{border-radius: 8px 8px 0 0; padding: 10px}
h4.text-primary {font-size: 14px;}
.bidlink{margin: 0}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.pL0-sm{padding-left: 0}.pL10-sm{padding-left: 10px}.pL20-sm{padding-left: 20px}.pR40-sm{padding-left: 40px}
.pR0-sm{padding-right: 0}.pR10-sm{padding-right: 10px}.pR20-sm{padding-right: 20px}.pR40-sm{padding-right: 40px}
.pB10-sm{padding-bottom: 10px}.pB20-sm{padding-bottom: 20px}


.mT0-sm{margin-top: 0px}.mT5-sm{margin-top: 5px}.mT10-sm{margin-top: 10px}.mT20-sm{margin-top: 20px}.mT25-sm{margin-top: 25px}.mT30-sm{margin-top: 30px}.mT40-sm{margin-top: 40px}
.mT60-sm{margin-top: 60px}.mT100-sm{margin-top: 100px}
.mB0-sm{margin-bottom: 0px}.mB10-sm{margin-bottom: 10px}.mB20-sm{margin-bottom: 20px}.mB30-sm{margin-bottom: 30px}
.mL15-sm{margin-left: 15px}.mL20-sm{margin-left: 20px}
.mR15-sm{margin-right: 15px}.mR20-sm{margin-right: 20px}

.minh-sm{min-height: 745px}
.minhh-sm{min-height: 905px}

.formbg{background: rgba(255,255,255,0.75); border-radius: 8px}
.bg-success2{padding: 15px; border-radius: 0}
.maps{min-height: 1012px}
.text-center-sm{text-align: center;}
.bidlink{margin: 0}



}
/*shipper listing view*/

.bg-black{background: #000}
.bg-black p{font-size: 14px; color: #fff}
.bg-black p span{color: #fe5502; font-weight: 700}
.bg-black p a{color: #fff}
.table thead tr th{text-align: center; font-size: 16px; border: 1px solid #fff; border-top: none}
.table thead tr.bg-black th{color: #fff}
.table tbody tr td{text-align: center; font-size: 16px;}
.table tbody tr{margin-top: 20px}
.table tbody tr td .btn-orange{height: 28px; padding: 3px 5px 5px 5px; font-weight: normal; font-size: 15px}
.modal-content{max-height: 500px; overflow-y: scroll}
.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #e7e7e7;}



/*trucker listing view*/
.mainbg-agents{background: url(../images/bg7.jpg) no-repeat; background-size: 100% 100%; height: 105%;}
.bg-agents {background-color: #FE5502; color: #fff; border-radius: 4px;}
.agentsshipper img{position: relative; top: -20px; left: 10px}
.agentsshipper h3{border-bottom: 1px solid #000000; padding-bottom: 5px; margin-top: 15px}
.minh-agents{min-height: 275px; background: }
.agents-form{background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);
    margin-top: 50px;
    padding: 0;
}

.table thead tr th{text-align: center; font-size: 16px; border: 1px solid #fff; border-top: none}
.table thead tr.bg-black th{color: #fff}
.table tbody tr td{text-align: center; font-size: 16px;}
.table tbody tr{margin-top: 20px}
.table tbody tr td .btn-orange{height: 28px; padding: 3px 5px 5px 5px; font-weight: normal; font-size: 15px}
.bidplaced{font-size: 12px;}
.mT2{margin-top: 2px}