<div class="container minh formpos">
<% if(hasflash('info')){ %>
	<div class="col-md-10 mp-info mp-message-container">
<div class="row">
<div class="col-md-11"><%-flash('info')%></div>
<div class="col-md-1"><a href="javascript:;" data-close="me" >x</a></div>
	
	</div>
</div>
<%}%>	
<div class="row">
<div class="col-md-4 col-xs-12 pL0-xs pR0-xs">  
<div class="formbg">
<div class="row">

<div class="col-md-3 mT10 hidden-xs">
<img src="<%-assetsp%>images/logo2.png" class="img-responsive"/>
</div>  
<div class="col-md-9 bg-success2 homeform text-center col-xs-12">
<h3><%-tt().t_find_your_truck%></h3>
</div>  
</div>
<form action="<%-shipperUrl('users/booking-location')%>" id="shipment-address" class="setformopacity" >
 


<div class="row">
  <div class="col-md-12">
       <span class="input input--hoshi" id="remote">
          <input class="input__field input__field--hoshi typeahead" autocomplete="off"  type="text" name="Bid[loading]" id="bid-loading" />		  
          <input class="input__field input__field--hoshi cs-hidden" autocomplete="off" type="text" name="Bid[custom-loading]" id="bid-custom-loading" />
          <input class="i" type="hidden" name="_csrf" value="<%-csrfToken%>" />
          <input class="i hidden-vals" type="hidden" id="loading-city"   />
          <input class="i hidden-vals" type="hidden" id="loading-state"   />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1 fnt16 " for="input-4">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> 
<%-tt().t_enter_loading_point;%></span>
          </label>
		
        </span>	  
</div>        


<div class="col-md-12">
	    <input type="hidden"  >
        <span class="input input--hoshi "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Bid[unloading]" id="bid-unloading" />
          <input class="input__field input__field--hoshi cs-hidden" autocomplete="off"   type="text" name="Bid[custom-unloading]" id="bid-custom-unloading" />
		  <input class="i hidden-vals" type="hidden" id="unloading-city"   />
          <input class="i hidden-vals" type="hidden" id="unloading-state"   />	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt().t_enter_unloading_point;%></span>
          </label>
        </span>
</div>
<div class="col-md-12">
        <span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" type="text" name="Bid[loading-date]" id="bid-loading-date" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-calendar-plus-o formcal"></i><%-tt().t_loading_date;%> <small><small><em>dd/mm/yyyy</em></small></small></span>


          </label>
        </span>
</div>	
<div class="col-md-12">
        <span class="input input--hoshi ovflo-visi noani" id="loading-time-id">
          <input class="input__field input__field--hoshi" type="text" name="Bid[loading-time]" id="bid-loading-time" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16 " for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-clock-o"></i><%-tt().t_loading_time;%> <small><small><em>hh:mm:ss</em></small></small></span>
          </label>
        </span>
<span class="cmperrmsg datetime-error"></span>
	
</div>
</div>
<div class="row">
 <div class="col-md-12 mT10 text-center">
  <strong><%-tt().t_dashboard_tagline;%></strong>
  
 </div> 
<div class="col-md-12 text-center pR35 mT10" id="submit">
	<button disabled title="Please select city from list" data-src="<%-sbtnimg%>" data-value="<%-tt().t_book_now%>" class="btn btn-default btn-default2 hvr-sweep-to-right"> <%-tt().t_book_now;%></button>    
	
</div>
</div>
</form>
</div>
</div>

</div>
</div>
<!-- Trigger the modal with a button -->
<% console.log(otpsent+ "dadadasdad") %>
<% console.log(otpverified+ "dadadasdad") %>
<%if(!otpverified){%>
<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="modal-title"><%-tt().t_mobile_no_verification%></h4>
      </div>
      <div class="modal-body">
		
<form id="verifyotp"  action="<%-shipperUrl('users/validate-otp')%>" <%if(!otpsent){%>style="display:none;" <%}%> >
<div class="col-md-12">
	<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Users[otp]" id="users-otp" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-number"></i> <%-tt().t_enter_otp_code;%></span>
	</label>
	</span>
</div>
<div class="col-md-12 mB10">
   <p id="msg1"></p>	
	<div class="col-md-6 pull-left">
		<a href="javascript:;" class="resendotpon">
			<%-tt().t_resend_otp;%>
		</a>
	</div>
	<div class="col-md-6 pull-right">
		<input type="submit" class="btn" name="submit" value="Submit">
	</div>
</div>
</form>
<form id="changeobilenumber"  action="<%-shipperUrl('users/update-mobile')%>" style="display:none;">

	<div class="row">
	<div class="col-md-1 mT10"><span class="label label-warning">+91</span></div>
	<div class="col-md-10" style="margin-top:-15px">
		<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
		 <input class="input__field input__field--hoshi" autocomplete="off"   type="text" name="Users[mobile]" id="users-mobile" />
        	<input type="hidden" name="_csrf" value="<%-csrfToken%>">
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-mobile"></i> <%-tt().t_enter_mobile_no;%></span>
	</label>
	</span></div>
	</div>	

<div class="col-md-12">
   <p id="msg"></p>	

	<div class="col-md-12 text-right mB10">
		<div class="col-md-6 text-left"><input type="submit" name="submit" class="btn" value="Submit"></div>
		<div class="col-md-3 pull-right"><a href="javascript:;" class="cancel-before">Cancel</a></div>
		
	</div>
	
	
</div>
</form>		  
<%if(!otpsent){%>
	<div class="notsentotp">
		<p>
			<%-tt().t_dontgetotp_msg%>
		</p>
		<p class="text-center">
			
			<a href="javascript:;" class="sendotpon">
				<%-tt().t_sendotpon%>			
			</a>
			On <strong><%-loggedUser.getMobileNo()%></strong>
			<sub><a href="javascript:;" class="change-mobileno" title="<%-tt('users').t_editmobileno%>"><%-tt('users').t_editmobileno%></a></sub>
		</p>
	</div>
	<%}%>
		</div>

		</div>

		</div>
		</div>
<button type="button" class="btn btn-info btn-lg showpop hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>
<script type="text/javascript">showpop = true</script>
<%}%>
<div id="map" class="maps visible-md visible-lg"> </div>
<div class="cs-hidden">
<div id="duration">Duration: </div> 
<div id="distance">Distance: </div> 
</div>	
<script type="text/javascript">
require(['jqueryui','_dashboard','http://maps.google.com/maps/api/js?key=AIzaSyCWpDytcN-LWndoxERaYu31eB400w4TVYo&libraries=places'],function(th){	
	 if('undefined' != typeof showpop){	//alert($(".showpop").html());
	  $(".showpop").click();
	}
	  getDirection('Kotli Khas,Mukerian,Punjab,India','Meerut, Uttar Pradesh, India');
	  //$('#myModal').modal('hide').remove();
	
});
	
function getDirection(orig,dest){
	/* Google Maps*/
   var directionsService = new google.maps.DirectionsService();
   var directionsDisplay = new google.maps.DirectionsRenderer();
   var chicago = new google.maps.LatLng(100.850033,190.6500523);
   var myOptions = {
     zoom:2,
     scrollwheel: false,
     mapTypeId: google.maps.MapTypeId.DRIVING,
	   center: chicago,  
   }

   var map = new google.maps.Map(document.getElementById("map"), myOptions);
   directionsDisplay.setMap(map);
   var request = {
       origin: orig, 
       destination: dest,
       travelMode: google.maps.DirectionsTravelMode.DRIVING
   };

   directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {

         // Display the distance:
         document.getElementById('distance').innerHTML += 
            response.routes[0].legs[0].distance.value + " meters";

         // Display the duration:
         document.getElementById('duration').innerHTML += 
            response.routes[0].legs[0].duration.value + " seconds";

         directionsDisplay.setDirections(response);
      }
   });
}

</script>
