<div class="container minh">

<div class="row">


<div class="col-md-6 col-md-offset-3 mT30">
<div class="bg-primary pB5 login pL40 pR40 pT10">
    <h3><%-tt().t_edir_profile%></h3>
<form action="<%-shipperUrl('users/edit-profile')%>" method="put" data-form="ajax" id="users">  
 <input type="hidden" name="_csrf" value="<%-csrfToken%>">
<div class="row pT10">
  <div class="col-md-5">
	<% if(user.image){  %>
    <img src="<%-Common.MediaPath(user,'image',Model)%>" class="img-responsive img-rounded" data-field="#users-image" data-trigger="#userimage-browse">
	<% }else{%>  
    <img src="<%-assetsp%>images/upload.jpg" class="img-responsive img-rounded" data-field="#users-image" data-trigger="#userimage-browse">
    <%}%>
	  <input type="file" id="userimage-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="Users[image]" id="users-image" readonly />  
	<input type="hidden" name="Users[oimage]" id="users-oimage" value="<%-user.image||''%>" readonly />  
    <div class="users-image-error cmperrmsg"></div>

  </div>
  <div class="col-md-7 text-left">

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" value="<%-user.name.firstname||''%>" type="text" name="Users[firstname]" id="users-name-firstname" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-firstname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_firstname%></span>
          </label>
        </span>

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.name.lastname||''%>" name="Users[lastname]" id="users-name-lastname" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="users-lastname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_lastname%></span>
          </label>
        </span>  
</div>
</div>

<div class="row">
 
<div class="col-md-1 mT30"><span class="label label-warning">+91</span></div>      
<div class="col-md-5 text-left pL30">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="tel" value="<%-user.contact.mobile_number||''%>" name="Users[mobile_number]" id="users-contact-mobile_number" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-mobile_number">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_mobile%></span>
          </label>
        </span>

</div>

</div>        

<div class="row">
    <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.pancard||''%>" name="Users[pancard]" id="users-pancard" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-pancard">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_pano%></span>
          </label>
        </span>
</div> 	
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" value="<%-user.business.service_taxno||''%>" name="Users[service_taxno]" id="users-business-service_taxno" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-business-service_taxno">
            <span class="input__label-content input__label-content--hoshi"><%-tt('register').t_enter_serviceno%></span>
          </label>
        </span>
</div>        
<div class="col-md-6 mT10 text-left">

	
	<p class="mB5">
		<a href="<%-shipperUrl('users/change-password')%>">
			<%-tt('register').t_change_password%>
		</a>
	</p>
</div>
</div>    
    
        <div class="row">
		<div class="col-md-12 text-left mT20 " id="register-1success">
		</div>	
          <div class="col-md-6 text-left mT20">
        <input type="submit" class="btn btn-default btn-default hvr-sweep-to-right2 mT10" value="<%-tt('register').t_save_detail%>">
      </div>
          <div class="col-md-6 mT30 text-left">
        <% if(user && user.role==Model.SHIPPERCOMPANY){%>
          <p class="mB5"><a href ="<%-shipperUrl('users/business-detail')%>"> <%-tt('register').t_edit_company%></a></p>
		<% }else{%>
          <p class="mB5"><a href ="<%-shipperUrl('users/business-detail')%>"><%-tt('register').t_register_as_company%> </a></p>
		<%}%>	  
           </div>
        </div>    






</form>
    </div>  
  </div> 
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content pull-left">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%-tt('users').t_mobile_no_verification%></h4>
      </div>
      <div class="modal-body ">
		
<form id="verifyotp" class="col-md-12"  action="<%-shipperUrl('users/validate-otp')%>" data-form="ajax" <%if(!otpsent){%>style="display:none;" <%}%> >
<div class="col-md-12">
	<span class="input input--hoshi "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Users[otp]" id="users-otp" />
        	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt('users').t_enter_otp_code;%></span>
	</label>
	</span>
</div>
<div class="col-md-12">
	<div class="col-md-6 pull-left">
		<a href="javscript:;" class="resendotpon">
			<%-tt('users').t_resend_otp;%>
		</a>
	</div>
	<div class="col-md-6 pull-right">
		<input type="submit" name="submit" value="Submit">
	</div>
</div>
</form>
<%if(!otpsent){%>
	<div class="notsentotp">
		<p>
			<%-tt('users').t_dontgetotp_msg%>
		</p>
		<p class="text-center">
	
			<a href="javascript:;" class="sendotpon">
				<%-tt('users').t_sendotpon%>
					<%-user.contact.mobile_number||''%><span class="glyphicon glyphicon-edit" title="<%-tt('users').t_editmobileno%>"></span>
			</a>
		</p>
	</div>
	<%}%>
		</div>

		</div>

		</div>
		</div>
<script type="text/javascript">
require(['users']);
</script>	
