<div class="container minh">

<div class="row">
<form>

<div class="col-md-8 col-md-offset-2 mT30">
<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row">
<div class="col-md-12 text-center text-primary">
<h3><%-tt('shipments').t_notifications%></h3>
</div>
</div>
<% var norecordfound = tt('users').t_norecordfound%>	

<% rec.forEach(function(noti){  norecordfound=null %>
	
<div class="row mT30">
<div class="col-md-12">
<%-noti.message%>
</div>
</div>
<hr/>	
<%})%>
<div class="row mT30">
<div class="col-md-12 text-center">
<%-norecordfound%>
</div>
</div>		
</div>
</div>
</form>
</div>
</div>
	
