<div class="container minh">
<div class="row">
<div class="col-md-4 col-md-offset-4 mT60 col-sm-6 col-sm-offset-3 text-center">
<img src="<%-assetsp%>images/offer.png" class="img-responsive"/>
</div>
</div>
</div>