<div class="container">

<div class="row">
  <div class="col-md-5 mT5 text-center">
    <h3>Transforming the way India delivers.
    <h1 class="text-primary"> Trucking shall be a pleasure! </h1>
    <h3>That's our promise.</h3>
    <img src="<%-assetsp%>images/register.jpg" class="img-responsive img-rounded mT20">

    <ul class="list-unstyled text-left">
      <li class="mT20"><img src="<%-assetsp%>images/truck.png" class="mR20"> Cargowala is the best cargo shipping company in India </li>
      <li class="mT20"><img src="<%-assetsp%>images/truck.png" class="mR20"> Cargowala is the best cargo shipping company in India </li>

    </ul>  

  </div>  

<div class="col-md-6 col-md-offset-1 mT30">
<div class="bg-primary pB5 login pL40 pR40 pT10">
    <h3>Get Started with a free account.</h3>
<form id="register-form" action="/shipper/register" method="post" enctype="multipart/form-data">  
 
<div class="row  pT30">
  <div class="col-md-5">
    <img src="<%-assetsp%>images/upload.jpg"  class="img-responsive  img-rounded"  data-field="#register-image" data-trigger="#register-browse">
    <input type="file" id="register-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="Register[image]" id="register-image" readonly />  
    <div class="register-image-error cmperrmsg"></div>
  </div>
  <div class="col-md-7 text-left">

      <span class="input input--hoshi has-error">
          <input class="input__field input__field--hoshi" type="text" id="register-name-firstname" name="Register[firstname]" maxlength="15"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="register-firstname">
            <span class="input__label-content input__label-content--hoshi">First name</span>
          </label>
		  
        </span>

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" id="register-name-lastname" name="Register[lastname]" maxlength="15" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="register-lastname">
            <span class="input__label-content input__label-content--hoshi">Last name</span>
          </label>
        </span>  
</div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="email" id="register-contact-email" name="Register[email]"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-email">
            <span class="input__label-content input__label-content--hoshi">Enter your email id</span>
          </label>
        </span>
</div>  
<div class="col-md-1 mT30"><span class="label label-warning">+91</span></div>      
<div class="col-md-5 text-left pL30">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="tel"  name="Register[mobile_number]" id="register-contact-mobile_number"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-mobile_number">
            <span class="input__label-content input__label-content--hoshi">Mobile number</span>
          </label>
        </span>

</div>
</div>        

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi"  type="password" name="Register[password]" id="register-password"  autocomplete="off" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-password">
            <span class="input__label-content input__label-content--hoshi labeltxt">Enter password</span>
          </label>
        </span>
	
</div>        
<div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi"  type="password"  name="Register[confirm_password]" id="register-confirm_password"  autocomplete="off" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-confirm_password">
            <span class="input__label-content input__label-content--hoshi">Confirm password</span>
          </label>
        </span>

</div>
</div>    
    
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-danger"><span>  </span></p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 text-center">
		<input type="submit" class="btn btn-default btn-default2 hvr-sweep-to-right2 mT40" name="register-shipper" value="REGISTER AS A SHIPPER " > 
        </div>
      <div class="col-md-6 text-center">
		<input type="submit" class="btn btn-default btn-default2 hvr-sweep-to-right mT40" name="register-trucker" value="REGISTER AS A TRUCKER " >    
       
      </div>
    </div>

        <div class="row">
          <div class="col-md-12 mT20 text-center">

          <p class="mB5">Already have an account? <a href ="/shipper/login"> Login here</a></p>

           </div>
        </div>    






</form>
    </div>  
  </div> 
</div>
</div>
