    </div>  
<div class="container minh" >
<div class="row">
  <div class="col-md-6 col-md-offset-3 mT30">
   <div class="bg-success pT15 pB10 text-center">
   <h3>Reset Your Password</h3>
   </div> 
<div class="bg-primary pB5 text-center  login">
      
<form id="reset-form" action="/shipper/reset-password" method="post">  
<div class="row">
  <div class="col-md-8 col-md-offset-2 mT20">
      <p class="or"> Please enter you new password. </p>
       <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Reset[new_password]" id="reset-new_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Enter new password</span>
          </label>
        </span>
	  <input type="hidden" name="Reset[token]" id="reset-token" value="<%-token%>">
	   <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Reset[confirm_password]" id="reset-confirm_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Repeat password</span>
          </label>
        </span>
	    
	  <div class="row">       
      </div>
      <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-danger" id="reset-success"></p>
      </div>
    </div>
       <input type="submit" name="submit" class="btn btn-default hvr-sweep-to-right mT10"  value="Submit">
	  <div class="row cs-hidden make-visible-control">
		 
		  <p class="mT10">OR</p>
		 <a href="/shipper/">Back to Login</a> 
      </div>
	  
   
</div>
</div>
</form>
    </div>  
  </div> 
</div>
</div>
