<div class="container minhh-sm minh">

<div class="row">
  <div class="col-md-6 col-md-offset-3 mT40 pL0-xs pR0-xs col-sm-10 col-sm-offset-1">
      <div class="bg-success pT15 pB10 text-center">
      <h3><%-tt('users').t_proceed_as%></h3>
      </div>

<div class="bg-primary pB5 text-center login">
<form action="<%-shipperUrl('user-type')%>" id="user-type-form" data-form="ajax" method="post">  
 
   <div class="row">
<div class="col-md-6 mT20 bdrr col-xs-6">
         <a href="javascript:;" data-for="#register-usertype-individual" class="icon-button usertype" ><i class="fa fa-user"></i><span></span></a>
	  <p class="mT10 text-primary" data-for="#register-usertype-individual"><%-tt('users').t_individual%></p>
	  <input type="radio" class="register-usertype cs-hidden" name="Register[usertype]" id="register-usertype-individual" value="21">	
      
</div>
<!--<div class="col-md-4 mT20 bdrr col-xs-4">
      <a href="javascript:;" data-for="#register-usertype-agent"  class="icon-button usertype"><i class="fa fa-code-fork"></i><span></span></a>
		  <p class="mT10 text-primary" data-for="#register-usertype-agent" ><%-tt('users').t_agent%></p>
	      <input type="radio" class="register-usertype cs-hidden" name="Register[usertype]" id="register-usertype-agent"  value="3">

</div>-->
<div class="col-md-6 mT20 col-xs-6">      
	    <a href="javascript:;" data-for="#register-usertype-company"   class="icon-button usertype"><i class="fa fa-building"></i><span></span></a>
		  <p class="mT10 text-primary" data-for="#register-usertype-company"><%-tt('users').t_company%></p>
	      <input type="radio" class="register-usertype cs-hidden" name="Register[usertype]" id="register-usertype-company"  value="22">

</div>
</div>


<div class="row">
<div class="col-md-12 mT40">
<p><%-tt('users').t_proceedas_individual_tagline%></p>
</div>
</div>
<div class="row " >
    <p class="cmperrmsg register-usertype-error" >  </p>
      <div class="col-md-12 text-center">
		<input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_continue%>"> 
      </div>
    </div>		
</form>
    </div>  
  </div> 
</div>
</div>

