<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="<%-assetsp%>images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title><%-global.pageTitle%></title>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap.css">
  <link rel="stylesheet" href="<%-assetsp%>css/input.css">
  <link rel="stylesheet" href="<%-assetsp%>css/agents.css">
  <link rel="stylesheet" type="text/css" href="<%-assetsp%>css/component.css" />
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap-slider.css" media="all"> 
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/style.css" media="all">
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/developer.css" media="all">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="<%-assetsp%>css/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet"/>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>	
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js' type="text/javascript"></script>	
	
</head>
<div class="scrollBox">

<body class="cbp-spmenu-push contentScrolling">
<div class="scrollBox">

</div>
  
<div class="mainbg-agents">    
<div class="bg-trucker-nav pB10 pT10 pR40">
<div class="row">
	

<div class="col-md-3">
        <p class="mT20 applang"> Select langage : <img src="<%-assetsp%>images/united-kingdom.jpg" class="mT-5"/> <a href="#en"><%-tt('default').t_english%></a> | <img src="<%-assetsp%>images/india.jpg" class="mT-5"/> <a href="#hi"><%-tt('default').t_hindi%></p>
</div>        
<div class="col-md-3 text-center col-xs-8 mT5 mT10-xs col-sm-4 mT10-sm">  
<a href="#"><img src="<%-assetsp%>images/logo.png" class="img-responsive"></a>  
</div>
	
<div class="col-md-4 pull-right mT-15 col-xs-12 mT0-xs col-sm-6">

<ul class="nav navbar-nav navbar-right prof pull-left-xs">

  <li class="dropdown">
  <a href="#" class="dropdown-toggle pull-left-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <p class="text-center mT-10"><img src="<%-global.loggedUser.getImage()%>" class="img-circle profile pull-left mT10"/><h4 class="pull-left mT0 mB0"><%-tt('default').t_welcome%></h4> <%-global.loggedUser.getName()%></p>
  <ul class="dropdown-menu list-inline-xs">
    <div class="arrow-up"></div> 
    <li><a href="<%-webappUrl('logout')%>"><img src="<%-assetsp%>images/logout.png" class="pull-left mR10 mL10 mT5"> <%-tt('default').t_logout%></a></li>
  </ul>
</li>
</ul>

<div class=" text-right pull-right mT20 info">
<notification-counter url="<%-agentUrl('users/notification-counter')%>"  lnurl="<%-agentUrl('users/load-notifications')%>" mrkead="<%-agentUrl('users/webnoti-read')%>" seeall="<%-agentUrl('users/notifications')%>" ></notification-counter>

</div>

</div>

</div>
</div> 

<!--mainbg-->
<%-body%>
</div>
<div class="footer mT40 pB10">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <p>&copy; <%-tt('default').t_copyright%></p>
    </div>
    <div class="col-md-6 col-sm-6">
      <ul class="list-inline pull-right">
		  
      <li><a href="#"><%-tt('default').t_terms_of_service%></a> |</li>
      <li><a href="#"><%-tt('default').t_privacy_policy%></a></li>
    </ul>
    </div>
</div>
</div>
</div> 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" >
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" >


<script src="<%-assetsp%>js/require.min.js"></script>
<script type="text/javascript">
var cwApp =  angular.module('cargoWala',['ngRoute']);
requirejs.config({
	baseUrl: "<%-assetsp%>js",
	"waitSeconds" :0,
    paths: {
        jquery: '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min',
        bootstrap: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min',
        moment: '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min',
        bootstrap_calender: '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min',
	    bootstrap_slider:'//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min',
	    jqueryui:"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min",
	    //modernizr:"js/trucker/modernizr.custom.js",
	    mCustomScrollbar:"/js/jquery.mCustomScrollbar",
	    core:"<%-assetsp%>js/core",
	    select2:"<%-assetsp%>js/select2.full",
	    dashboard:"<%-assetsp%>js/agent/dashboard",
	    trucker_dashboard:"<%-assetsp%>js/trucker/dashboard",

    },
	shim: {
	     jquery: {
            exports: 'jquery'
        },
		moment:{
		    exports:'moment',		 
		},
		trucker_dashboard:{
			deps:['moment','bootstrap','mpcustom']	 
		},		 
        bootstrap: {
            //These script dependencies should be loaded before loading backbone.js
            deps: ['jquery'],
            //Once loaded, use the global 'Backbone' as the module value.
            exports: 'bootstrap'
        },
		mpcustom:{
			deps:['jquery','moment','bootstrap_calender']	 
		},			 
		dashboard:{
			deps: ['trucker_dashboard'],	 
		},
				 
       
				 
    }			 
    
});	
  
  require(['jquery','bootstrap','classie'],function($,bootstrap,classie,angular){
	  
  });

</script>
</body>
<script src="<%-assetsp%>js/angular-cotrollers.js" type="text/javascript" ></script>	
<%-script%>
</html>
