<div class="container minh2 minhh-sm">

<div class="row">

<div class="col-md-8 col-md-offset-2 mT50 pL0-xs pR0-xs col-sm-10 col-sm-offset-1">
<div class="bg-primary pB30 pT10 login pL40 pR40 pL20-xs pR20-xs mp-err">
      <h3><%-tt('users').t_enter_bank_detail%></h3>
<form action="<%-truckerUrl(action||'bank-info')%>" method="post" <%-action?'data-form="ajax"':''%> id="register" >  
<div class="row">
 <input type="hidden" name="_csrf"  value="<%-csrfToken%>">	
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="number"  name="Register[account][ac_number]" id="regsiter-account-ac_number" value="<%-user.account?user.account.ac_number:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_account_number%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-account-ac_number-error "></p>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[account][holder_name]" id="register-account-holder_name" value="<%-user.account?user.account.holder_name:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-account-holder_name">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_account_holdername%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-account-holder_name-error "></p>
</div>
</div>        
   

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text"  name="Register[account][branch_code]" id="register-account-branch_code" placeholder="000634" value="<%-user.account?user.account.branch_code:''%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-account-branch_code">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_branch_code%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20  register-account-branch_code-error"></p>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[account][ifsc_code]" id="register-account-ifsc_code" placeholder="SBIN0000634" value="<%-user.account?user.account.ifsc_code:''%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-account-ifcs_code">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_ifsc_code%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-account-ifsc_code-error"></p>

</div>
</div> 
<div class="row mT20">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[account][bank_name]" id="register-account-bank_name" placeholder="Punjab national bank" value="<%-user.account?user.account.bank_name:''%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-account-bank_name">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_bank_name%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-account-bank_name-error"></p>
</div>  

<div class="col-md-6 text-left">
        <textarea name="Register[account][branch_address]" id="register-account-branch_address" placeholder="Bank address"><%-user.account?user.account.branch_address:''%></textarea>
         <p class="text-danger text-right mB0 fnt10 mR20 register-account-branch_address-error"></p>

</div>
</div> 

<div class="row">
 <p id="register-1success"></p>	
  <div class="col-md-12 mT20 text-right">
	<div class="col-md-6 text-left mT20">
	<% if(user.account && user.account.ac_number){%>  
		<a href="javascript:history.back();"><%-tt('users').t_go_back%></a> OR 
	
	<%}else{%>  
	  <a href="<%-truckerUrl('skip-bank-detail')%>"><%-tt('users').t_skip%></a> OR 
    <%}%>
	</div>	
	<div class="col-md-6 text-right">  
      <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_continue%>">
	</div>  
  </div>
</div>

</form>
</div>
    </div>  

<!--
<div class="col-md-4 mT50  pL0-xs pR0-xs">
<div class="bg-primary pB20 pT10 login pL10 pR10 pL20-xs pR20-xs">
      <h3>Area of operation</h3>

    <div class="form-group mT30">
        <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
          <option>Chandigarh</option>
          <option>Punjab</option>
          <option>Haryana</option>
          <option>Himachal Pradesh</option>
          <option>Delhi</option>
          <option>Uttar Pradesh</option>
          <option>Jammu &amp; Kashmir </option>
        </select>
    </div>


<p class="mT20 text-right pull-right">
<input type="checkbox">
  <strong>All the information provided is true and correct to best on my knowledge.</strong>
</p>

<div class="row">
  <div class="col-md-6 text-right pull-right ">
    <a href="5company-business-address.html" class="btn btn-default hvr-sweep-to-right mT10"> Next </a>
  </div>
</div>

               
</div>
</div> -->

</div>
</div>