<div class="container">

<div class="row">


  <div class="col-md-8 col-md-offset-2 mT30">

      <div class="bg-success text-center pT15 pB10">
      <h3><%-tt('users').t_edit_company_address%></h3>
      </div>
    

<div class="bg-primary pB5 login pL40 pR40">

<form action="<%-truckerUrl(action||'company-address')%>" method="post" <%-action?'data-form="ajax"':''%> id="register-company-address" >  
<div class="row">
<div class="col-md-6 bdrr mT20">
<p class="pL20"><img src="<%-assetsp%>images/location.png" class="mR10"><%-tt('users').t_resgitred_company_address%></p> 

  <div class="col-md-12 text-left">
	  <input type="hidden" name="_csrf" value="<%-csrfToken%>">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][registered_address]" id="register-business-registered_address" value="<%-user.business?user.business.registered_address:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_address%></span>
          </label>
        </span>
  </div>  

  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][registered_city]" id="register-business-registered_city" value="<%-user.business?user.business.registered_city:''%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_city%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][registered_state]" id="register-business-registered_state" value="<%-user.business?user.business.registered_state:''%>"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_state%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][registered_pincode]" id="register-business-registered_pincode" value="<%-user.business?user.business.registered_pincode:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_pincode%></span>
          </label>
        </span>
  </div>  

</div>

<div class="col-md-6 mT20 office-address-control">
<p class="pL20"><img src="<%-assetsp%>images/location.png" class="mR10"><%-tt('users').t_enter_office_address%></p> 

<div class="row">
<div class="col-md-12">
 <div class="checkbox pL20 mT30">
    <label><input type="checkbox" name="Register[business][officeaddresssameasbusiness]" id="register-business-officeaddresssameasbusiness" ><%-tt('users').t_regaddresssameas%> </label>
  </div>
</div>
</div>
  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][office_address]" id="register-business-office_address" value="<%-user.business?user.business.office_address:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_address%></span>
          </label>
        </span>
  </div>  

  <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][office_city]" id="register-business-office_city" value="<%-user.business?user.business.office_city:''%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_city%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][office_state]" id="register-business-office_state" value="<%-user.business?user.business.office_state:''%>"   />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_state%></span>
          </label>
        </span>
  </div>  

    <div class="col-md-12 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][office_pincode]" id="register-business-office_pincode" value="<%-user.business?user.business.office_pincode:''%>"   />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_pincode%></span>
          </label>
        </span>
  </div>  

</div>

</div>

<div class="row">
	<p id="register-1success"></p>
      <div class="col-md-12 text-center mT20">
        <p class="text-danger"></p>
      </div>
    </div>
<div class="row">
  <div class="col-md-12 text-center">
	<% if(user.business && user.business.registered_address){%>  
	<div class="col-md-6 text-left mT20">
		<a href="javascript:history.back();"><%-tt('users').t_go_back%></a>
	</div>	
	<%}%>  
	<div class="col-md-6 text-center">    
	  <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_continue%>" >
	</div>	
  </div>
</div>
        
</form>
</div>  
</div> 
</div>
</div>

