<div class="container minh2 minhh-sm">

<div class="row">

<div class="col-md-8 col-md-offset-2 mT50 pL0-xs pR0-xs col-sm-10 col-sm-offset-1">
<div class="bg-primary pB30 pT10 login pL40 pR40 pL20-xs pR20-xs mp-err">
      <h3><%-tt('users').t_enter_company_detail%></h3>
<form action="<%-action?action:'/trucker/company'%>" <%-action?'data-form="ajax"':""%>   method="post">  
<div class="row">
 <% if(action) {%>
		<input type="hidden" name="_csrf" value="<%-csrfToken%>">
		<input type="hidden" name="registerascompany" value="1">
<%}%>	
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][name]" id="register-business-name" value="<%-user.business?user.business.name:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-business-name">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_business_name%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-business-name-error  "></p>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="number" name="Register[business][landline]" id="register-business-landline" placeholder="0172987654" value="<%-user.business?user.business.landline:''%>"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-business-landline">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_lanline_no%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-business-landline-error"></p>
</div>
</div>        
   

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[pancard]" id="register-pancard" value="<%-user.pancard || ''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-pancard">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_pancard_no%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-pancard-error "></p>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][service_taxno]" id="register-business-service_taxno" value="<%-user.business?user.business.service_taxno:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-business-service_taxno">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_servicetax_no%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-business-service_taxno-error"></p>

</div>
</div>  
<div class="row">
 <p id="register-1success"> </p>	
  <div class="col-md-12 mT20">
	<% if(user.business && user.business.name){%>  
	<div class="col-md-6 text-left mT20">
		<a href="javascript:history.back();"><%-tt('users').t_go_back%></a>
	</div>
	<%}%>  
	<div class="col-md-6 text-right">
      <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_continue%>">
	</div>  	
  </div>
</div>
<!--</div>-->

 
</form>
    </div>  

<!--
<div class="col-md-4 mT50  pL0-xs pR0-xs">
<div class="bg-primary pB20 pT10 login pL10 pR10 pL20-xs pR20-xs">
      <h3>Area of operation</h3>

    <div class="form-group mT30">
        <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
          <option>Chandigarh</option>
          <option>Punjab</option>
          <option>Haryana</option>
          <option>Himachal Pradesh</option>
          <option>Delhi</option>
          <option>Uttar Pradesh</option>
          <option>Jammu &amp; Kashmir </option>
        </select>
    </div>


<p class="mT20 text-right pull-right">
<input type="checkbox">
  <strong>All the information provided is true and correct to best on my knowledge.</strong>
</p>

<div class="row">
  <div class="col-md-6 text-right pull-right ">
    <a href="5company-business-address.html" class="btn btn-default hvr-sweep-to-right mT10"> Next </a>
  </div>
</div>

               
</div>
</div> -->

</div>
</div>
</div>









