<% assetsp = "/cw-assests/";%>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title>Cargo Wala - Login</title>
  <link  href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap.css">
  <link rel="stylesheet" href="<%-assetsp%>css/input.css">
  <link rel="stylesheet" type="text/css" href="<%-assetsp%>css/component.css" />
  <link rel="stylesheet" href="<%-assetsp%>css/style.css" media="all">
  <script src="<%-assetsp%>js/require.min.js"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body class="cbp-spmenu-push">

 
<div class="bg-primary pB10 pT10 pR40">
<div class="row">

<div class="col-md-4 col-md-offset-3 text-center">  
<a href="#"><img src="<%-assetsp%>images/logo.png" class="img-responsive"></a>  
</div>





</div>
</div> 


<div class="container">

<%-body%>


</div>

<div class="footer mT40">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>&copy; Copyright Cargowala. All Rights Reserved</p>
    </div>
    <div class="col-md-6">
      <ul class="list-inline pull-right mB0">
      <li><a href="#">Terms &amp; Conditions</a> |</li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
</div>
</div>
</div>    
</body>
  <script type="text/javascript">
   require.config({
	baseUrl: "<%-assetsp%>js",   
    paths: {
          "jquery": "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min"
    }
   });	  
  require(["jquery",'bootstrap','classie','modernizr.custom','mpcustom'],function($,bootstrap,classie){
	$("form").on('submit',function(e){
		e.preventDefault();
		$("#login-msg").html('');
	    $.post($(this).attr('action'),$(this).serialize(),function(res){
			if(!res.errors && !res.msg && !res.status || res.msg)
			   $("#login-msg").html(res.msg || "Invalid username or password.")
            else if(res.status && res.status==200) 
			  window.location.replace("/shipper/login");
			else if(res.errors){ //console.log(res.errors);
				  mp.validate(res.errors,'register');
			}
		});
	});
	
	 
	 (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();  
	  

  });	

 
  </script>	
</html>
