<div class="container minhh-sm">

<div class="row">
  <div class="col-md-6 col-md-offset-3 mT30  pL0-xs pR0-xs col-sm-10 col-sm-offset-1">
   <div class="bg-success pT15 pB10 text-center">
   <h3><%-tt('users').t_signin_tagline%></h3>
   </div> 
<div class="bg-primary pB5 text-center login">
      
<form id="login" action="/webapp/login" method="post">   
 
<div class="row">
<div class="col-md-4 col-md-offset-2 mT40 bdrr col-xs-6">
      <a href="/webapp/facebook-login" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
      <p class="mT10 facebook"><%-tt('users').t_facebook%></p>
</div>
<div class="col-md-4 mT40 col-xs-6">      
      <a href="/webapp/google-login" class="icon-button google-plus"><i class="fa fa-google"></i><span></span></a>
      <p class="mT10 google"><%-tt('users').t_google%></p>
</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 mT20 col-sm-8 col-sm-offset-2">

      <p class="or"> <%-tt('users').t_loginwith_email%> </p>

       <span class="input input--hoshi">
          <input class="input__field input__field--hoshi mT15" name="Login[username]" type="text" id="login-username" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="login-username">
            <span class="input__label-content"><%-tt('users').t_enter_email%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 login-username"></p>
          

        <span class="input input--hoshi">

          <input class="input__field input__field--hoshi mT15" name="Login[password]" type="password" id="login-password" autocomplete="off"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content"><%-tt('users').t_enter_password%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 login-password"></p>
        <p class="text-danger " id="login-msg">
	      <%if(hasflash('verify-email')){%><%-flash('verify-email')%><%}%>
	    </p> 
        <div class="row mT30">
        <div class="col-md-6 col-xs-6">
        <div class="checkbox"><label><input type="checkbox"><span><%-tt('users').t_remember_me%> </span></label></div>
        </div>
        <div class="col-md-6 mT10 text-right pR30 col-xs-6">
        <a href="/webapp/forgot-password"><%-tt('users').t_forgot_password%> </a>
        </div>
        </div>
</div>  
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 mT20 col-sm-8 col-sm-offset-2">

        <strong class="pull-left mT20"><%-tt('users').t_byclicking_agree%> <a href="#" class=""><%-tt('default').t_terms_of_service%></a> <%-tt('default').t_and%> <a href="#"><%-tt('default').t_privacy_policy%></a></strong>
     
	  

        <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_login%>">

        <div class="row">
          <div class="col-md-12 mT30">

          <p class="mB5"><%-tt('users').t_donot_have_account%> <a href ="/webapp/register"><%-tt('users').t_register%></a></p>

           </div>
        </div>    
</div>
</div>





</form>
    </div>  
  </div> 
</div>


</div>









