
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title>Cargo Wala - Login</title>
  <link  href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/input.css">
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <link rel="stylesheet" href="css/bootstrap-slider.css" media="all"> 
  <link rel="stylesheet" href="css/style.css" media="all">
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="js/wildcards-match-gcc"/></script>
  <script src="js/modernizr.custom.js"></script>
</head>

<body class="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <p class="navpr"><img src="images/driver.png" class="img-circle pull-left profile"/> Welcome <br> Shipper name <img class="pull-right" src="images/edit.png"/></p>
      <a href="#"><img src="images/home.png" class="pull-left"/> Home</a>
      <a href="index.html"><img src="images/book-truck.png" class="pull-left"/> Book a Truck</a>
      <a href="payment.html"><img src="images/payment.png" class="pull-left"/> Payments</a>
      <a href="14Shipments.html"><img src="images/myshipments.png" class="pull-left"/> My Shipments</a>
      <a href="pendingShipments.html"><img src="images/pendingshipments.png" class="pull-left"/> Pending shipments</a>
      <a href="13bid-board.html"><img src="images/bidboard.png" class="pull-left"/> Bid Board</a>
      <a href="offers.html"><img src="images/offers.png" class="pull-left"/> Offers</a>
      <a href="notifications.html"><img src="images/notifications.png" class="pull-left"/> Notifications</a>
      <a href="help-support.html"><img src="images/helpsupport.png" class="pull-left"/> Help &amp; Support</a>

    </nav>
 
<div class="bg-primary pB10 pT10 pR40">
<div class="row">
<div class="col-md-1 text-center mT10">  
<section class="hidden">
          <!-- Class "cbp-spmenu-open" gets applied to menu -->
          <button id="showLeft">Show/Hide Left Slide Menu</button>
          <button id="showRight">Show/Hide Right Slide Menu</button>
          <button id="showTop">Show/Hide Top Slide Menu</button>
          <button id="showBottom">Show/Hide Bottom Slide Menu</button>
</section>
<section class="buttonset">
<button id="showLeftPush" class="navbtn">
<span class="glyphicon glyphicon-menu-hamburger"></span></button>
</section>
</div>
<div class="col-md-4 col-md-offset-3 text-center">  
<a href="#"><img src="images/logo.png" class="img-responsive"></a>  
</div>



<div class="col-md-2 text-center pull-right mT10">
<div class="dropdown rightpro">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <p class="navpr"><img src="images/driver.png" class="img-circle profile pull-left"/> Welcome <br> Shipper name </p>
  </button>
  <ul class="dropdown-menu pT10 pB10" aria-labelledby="dropdownMenu1">
    <li class="mB10"><img src="images/edit2.png" class="pull-left mR10 mL10 mT5"><a href="#"> Edit Profile</a></li>
    <hr>
    <li><li><img src="images/logout.png" class="pull-left mR10 mL10 mT5"><a href="#"> Logout</a></li>
  </ul>
</div>  

</div>
<div class="col-md-1 text-right pull-right mT20 info">
<div class="dropdown info">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  Notifications <span class="badge">4</span>
</button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="pT10 pL10 pR10 pB10"><p><a href="#"> You have placed your order</a></p></li>
    <li class="bg-primary pT10 pL10 pR10 pB10"><p><a href="#"> Truck number <strong class="bg-primary">HR 68 B 6963</strong> has been assigned</a></p></li>
    <li class="pT10 pL10 pR10 pB10"><p><a href="#"> You have placed your order</a></p></li>
    <li class="bg-primary pT10 pL10 pR10 pB10"><p><a href="#"> Truck number <strong class="bg-primary">HR 68 B 6963</strong> has been assigned</a></p></li>
    <li class="pT10 pL10 pR10 pB10"><p><a href="#"> You have placed your order</a></p></li>
    <li class="bg-primary pT10 pL10 pR10 pB10"><p><a href="#"> Driver <strong class="bg-primary">Driver name</strong> has been assigned to vehicle number <strong class="bg-primary">HR 68 B 6963</strong></a></p></li>
  </ul>
</div>  

</div>

</div>
</div> 


<%-body%>

<div class="footer mT40">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>&copy; Copyright Cargowala. All Rights Reserved</p>
    </div>
    <div class="col-md-6">
      <ul class="list-inline pull-right mB0">
      <li><a href="#">Terms &amp; Conditions</a> |</li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
</div>
</div>
</div>    



<script async src="js/bootstrap.js"></script>
<script async type="text/javascript" src="js/classie.js"></script>

<script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>
      <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

      showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
      };
      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };
      showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
      };
      showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
      };
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
      };

      function disableOther( button ) {
        if( button !== 'showLeft' ) {
          classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
          classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
          classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
          classie.toggle( showRightPush, 'disabled' );
        }
      }
    </script>
  <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

      showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
      };
      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };
      showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
      };
      showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
      };
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      /*showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
      };*/

      function disableOther( button ) {
        if( button !== 'showLeft' ) {
          classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
          classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
          classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
          classie.toggle( showRightPush, 'disabled' );
        }
      }
    </script>

</body>
</html>
