<div class="container">

<div class="row">
  <div class="col-md-5 mT5 text-center hidden-xs col-sm-4">
    <h3><%-tt('users').t_transforming_tagline%>
    <h1 class="text-primary"> <%-tt('users').t_truckshell_tagline%></h1>
    <h3><%-tt('users').t_ourpromise_tagline%></h3>
    <img src="<%-assetsp%>images/register.jpg" class="img-responsive img-rounded mT20">

    <ul class="list-unstyled text-left">
      <li class="mT20"><img src="<%-assetsp%>images/truck.png" class="mR20"> <%-tt('users').t_best_shipping_company%> </li>
      <li class="mT20"><img src="<%-assetsp%>images/truck.png" class="mR20"> <%-tt('users').t_best_shipping_company1%> </li>

    </ul>  

  </div>  

<div class="col-md-6 col-md-offset-1 mT30 pL0-xs pR0-xs col-sm-8">
<div class="bg-primary pB5 login pL40 pR40 pT10 pR20-xs pL20-xs text-center pL20-sm pR20-sm mp-err">
    <h3><%-tt('users').t_getstarted%></h3>
<form id="register" action="/webapp/register" method="post" enctype="multipart/form-data">  
 
<div class="row  pT30">
  <div class="col-md-5">
    
	<% if(social.image){ %>
	  <img src="<%-social.image%>"  class="img-responsive  img-rounded"  data-field="#register-image" data-trigger="#register-browse">
	<% }else{ %>
	  <img src="<%-assetsp%>images/upload.jpg"  class="img-responsive  img-rounded"  data-field="#register-image" data-trigger="#register-browse">
	<% } %>  
    <input type="file" id="register-browse" data-maxsize="<%-image.maxsize%>" data-extensions="<%-image.extensions%>"  class="hidden"  />
	<input type="hidden" name="Register[social_image]" id="register-social_url" value="<%-social.image||null%>"  readonly /> 
	<input type="hidden" name="Register[image]" id="register-image" readonly /> 
	<input type="hidden" name="Register[user]" readonly /> 

<p class="text-danger text-right mB0 cmperrmsg fnt10 mR20 register-image-error"></p> 
  </div>
  <div class="col-md-7 text-left">

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[name][firstname]" type="text" id="register-name-firstname" value="<%-social?social.name.firstname:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="register-name-firstname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_firstname%></span>
          </label>
        </span>
       <p class="text-danger text-right mB0 fnt10 mR20 register-name-firstname-error"></p>  

      <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[name][lastname]" type="text" id="register-name-lastname" value="<%-social?social.name.lastname:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="register-name-lastname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_lastname%></span>
          </label>
        </span>
       <p class="text-danger text-right mB0 fnt10 mR20 register-name-lastname-error"></p>  

</div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[email]" type="email" id="register-email" value="<%-social?social.contact.email:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-email">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_email%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 register-contact-email-error"></p>
</div>  
<div class="col-md-1 mT30 col-xs-2"><span class="label label-warning">+91</span></div>      
<div class="col-md-5 text-left pL30 col-xs-10">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[mobile_number]" type="tel" id="register-mobile_number" />
		  <input name="Register[social]" type="hidden" id="register-social"  value='<%-social?JSON.stringify(social.social):null%>'/>	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="register-mobile_number">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_mobile%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 register-contact-mobile_number-error"></p>
</div>
</div>        
<%if(!social && !social.social){%>
<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[password]" type="password" id="register-password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="regsiter-password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_password%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20 register-password-error"></p>
</div>        
<div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" name="Register[confirm_password]" type="password" id="register-confirm_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="regsiter-confirm_password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_enter_confirm_password%></span>
          </label>
        </span>
         <p class="text-danger text-right mB0 fnt10 mR20  register-consfirm_password-error"></p>

</div>
</div>    
<%}%>    
<p class="mT20 text-center"><strong><%-tt('users').t_byclicking_agree%> <a href="#" class=""><%-tt('default').t_terms_of_service%></a> <br> <%-tt('users').t_and%> <a href="#"><%-tt('default').t_privacy_policy%> </a></strong></p>
    <div class="row">
      <div class="col-md-6 text-center col-sm-6">
        <input type="submit" data-next="0" class="btn btn-default submit-btn btn-default2 hvr-sweep-to-right2 mT10" value="<%-tt('users').t_register_shipper%>">
      </div>
      <div class="col-md-6 text-center col-sm-6">
        <input type="submit" data-next="1" class="btn btn-default submit-btn btn-default2 hvr-sweep-to-right mT10" value="<%-tt('users').t_register_trucker%>">
      </div>
    </div>
        <div class="row">
          <div class="col-md-12 mT20 text-center">
          <p class="mB5"><%-tt('users').t_already_have_account%> <a href ="/webapp/"> <%-tt('users').t_login_here%></a></p>
          </div>
        </div>    
</form>
    </div>  
  </div> 
</div>
</div>

