<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title><%-global.pageTitle%></title>
  <link  href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap.css">
  <link rel="stylesheet" href="<%-assetsp%>css/input.css">
  <link rel="stylesheet" type="text/css" href="<%-assetsp%>css/component.css" />
  <link rel="stylesheet" href="<%-assetsp%>css/shipper/style.css" media="all">
  <link rel="stylesheet" href="<%-assetsp%>css/shipper/developer.css" media="all">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body class="cbp-spmenu-push">

 
<div class="bg-primary pB10 pT10 pR40">
<div class="row">
<div class="col-md-3 col-md-offset-1">  
    <!--<p class="mT10 applang"> Select langage : <img src="<%-assetsp%>images/united-kingdom.jpg" class="mT-5"/> <a href="#en"><%-tt('default').t_english%></a> | <img src="<%-assetsp%>images/india.jpg" class="mT-5"/> <a href="#hi"><%-tt('default').t_hindi%></p>-->
    </div>    
<div class="col-md-4 text-center">  
<a href="#"><img src="<%-assetsp%>images/logo.png" class="img-responsive"></a>  
</div>
<div class="col-md-4 text-right"> 
    
	<% if(isverified){ %>
	<span id="isverified-msg">
	<%-isverified%>	
	</span>
	<% } %>
</div>





</div>
</div> 


<div class="container">

<%-body%>


</div>

<div class="footer mT40">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>&copy; <%-tt('default').t_copyright%></p>
    </div>
    <div class="col-md-6">
      <ul class="list-inline pull-right mB0">
      <li><a href="#"><%-tt('default').t_terms_and_conditions%></a> |</li>
      <li><a href="#"><%-tt('default').t_privacy_policy%></a></li>
    </ul>
    </div>
</div>
</div>
</div>    
</body>
  <script src="<%-assetsp%>js/require.min.js"></script> 	
  <script type="text/javascript">
   require.config({
	baseUrl: "<%-assetsp%>js",   
    paths: {
          "jquery": "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min",
		  "jquery.bootstrap":"bootstrap"		  
    },
	shim: {
        "jquery.bootstrap": {
            deps: ["jquery"]
        }
	 }
   });	  
  require(["jquery",'jquery.bootstrap','classie','modernizr.custom','mpcustom'],function($,bootstrap,classie){
	var ferrors={};  
	$("form").on('submit',function(e){ e.preventDefault();
		$("#login-msg").html('');
		var submit_btn = $("input[type='submit']").get(0),f =$(this);						    
		//if(f.attr('ferrors')){
		//   mp.validate(ferrors.err,ferrors.form);
		//   return;	
		//}
		submit_btn.disabled = true;							  
	    $.post(f.attr('action'),f.serialize(),function(res){ submit_btn.disabled = false;
			if(!res.errors && !res.msg && !res.status || res.msg)
			   $("#login-msg").html(res.msg || "Invalid username or password.")
            else if(res.status && res.status==200){ 	
			  if(res.display && res.display.html){
				$("#"+res.form+"-success").addClass('success').html(res.display.html);
				$(".make-visible-control").attr('display','block');  
			  }else
			    window.location.replace(res.location);
			}
			else if(res.errors){ //console.log(res.errors);
				if(!f.attr('partial')){  
				    f.attr('ferrors',1)
				    ferrors  = {'form':res.form||'register',err:res.errors};
				}
				mp.validate(res.errors,res.form ||'register');
			}
		});
	});
	var states =[];
	var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str.name)) {
        matches.push(str.name);
      }
    });

    cb(matches);
  };
};  
	(function($){	 	
	$.post('/shipper/dropdownlist/states',function(r){
		   states = r.states;
	});
	/*$('#register-business-registered_state').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});	*/
	})($);

	
	  
	 
	 (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();  
	  

  });	

 
  </script>	
</html>
