<div class="dropdown info">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  Notifications {{hi}} <span notification-counter lnurl="<%-shipperUrl('users/load-notifications')%>" url="<%-shipperUrl('users/notification-counter')%>" class="badge" >0</span>
	{{notifications|json}}  
</button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" post="true" >
    <li class="pT10 pL10 pR10 pB10" ng-repeat="n in notifications"  ><p><a href="#"> {{n.message}}</a></p></li>
  </ul>
</div> 