<div class="container">

<div class="row">


<div class="col-md-10 col-md-offset-1 mT30 pL0-xs pR0-xs ">
<div class="bg-success text-center pT15 pB10">
  <h3><%-(doc && doc._id)?tt('drivers').t_update_driver:tt('drivers').t_add_driver%></h3>
</div>


<div class="bg-primary pB5 login pL40 pR40 pL20-xs pR20-xs mp-err">
<form action="<%-truckerUrl('drivers/au-drivers')%>"  id="drivers" data-form="ajax" >  

<div class="row pT20">
<div class="col-md-7">

<div class="row">
<div class="col-md-4 mT20 text-center">
<%if(doc && doc._id){%>
<input type="hidden" name="_id" value="<%-doc._id%>">	
<%}%>	
	
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<input type="hidden" id="upload-url" value="<%-truckerUrl('upload')%>">	

<a href="#trucktype1" class="truck-type" data-target="#trucktype_1"><div class="truck1 <%-doc.truck_category==1?'truck1-active':''%>"></div>
<input type="radio" data-post="true" <%-doc.truck_type==1?'checked':''%> name="Drivers[truck_type]" class="cs-hidden" value="1" id="trucktype1">
</a>	
<p class="mT20"><%-tt('shipments').t_below5ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype2" class="truck-type" input-for="#trucktype_2"><div class="truck2 <%-doc.truck_type==2?'truck2-active':''%>"></div>
<input type="radio" <%-doc.truck_type==2?'checked':''%> data-post="true" name="Drivers[truck_type]" class="cs-hidden" value="2" id="trucktype2">
</a>
<p class="mT20"><%-tt('shipments').t_5tonto15ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype3" class="truck-type" input-for="#trucktype_3"><div class="truck3 <%-doc.truck_type==3?'truck3-active':''%>"></div>
<input type="radio" <%-doc.truck_type==3?'checked':''%> data-post="true" name="Drivers[truck_type]" class="cs-hidden" value="3" id="trucktype3">
</a>
<p class="mT20"><%-tt('shipments').t_above15ton%></p>
</div>
<p class="text-danger text-right mB0 fnt10 mR20 drivers-truck_type-error"></p> 	
</div>  

<div class="row mT20">
<h3><strong><%-tt('drivers').t_driver_login_txt%></strong></h3>

<div class="col-md-1 mT30 col-xs-2 col-sm-1"><span class="label label-warning">+91</span></div>      
<div class="col-md-5 text-left pL30 col-xs-10 col-sm-5">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="number" name="Drivers[mobile_no]" id="drivers-mobile_no" value="<%-doc.mobile_no||null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-mobile_no">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_driver_mobile_no%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-mobile_no-error"></p>
</div>
<div class="col-md-6 mT30 text-right mT20-xs col-sm-5 text-left-sm"><div class="noti"></div><%-tt('drivers').t_username_tagline%> </div>

<div class="clearfix"></div>
<div class="col-md-6 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Drivers[password]"  id="drivers-password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_password%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-password-error"></p>
</div>  
<div class="col-md-6 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" name="Drivers[confirm_password]" id="drivers-confirm_password" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-confirm_password">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_confirm_password%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-confirm_password-error"></p>
</div>  
</div>


<div class="row mT20">
<h3><strong><%-tt('drivers')._driver_licence_tagline%></strong></h3>

<div class="col-md-6 col-sm-8">
  <div class="row">
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[licence][number]" id="drivers-licence-number" value="<%-doc.licence?doc.licence.number:null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_licence_no%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-licence-number-error"></p>
</div>
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[licence][expiry]"  id="drivers-licence-expiry" value="<%-Common.dateToString(doc.licence?doc.licence.expiry:null)%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-licence-expiry">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_expiry_date%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-licence-expiry-error"></p>
</div>  
</div>
</div>

<div class="col-md-6 text-center mT20-xs col-sm-4 ">
<% if(doc.licence && doc.licence.image){%>
	<input type="hidden" name="Drivers[licence][image]"  value="<%-doc.licence.image%>">
   	  <img src="<%-Common.MediaPath({_id:doc._id,image:doc.licence.image},'image',Drivers)%>" class="img-responsive  img-rounded"   data-trigger="#drivers-licence-image">
<%}else{%>   	
	<img src="<%-assetsp%>images/license.png" class="img-responsive  img-rounded"   data-trigger="#drivers-licence-image">
<%}%>	
    <input type="file" name="Drivers[licence][image]" id="drivers-licence-image" data-maxsize="<%-image.licence.maxsize%>" data-extensions="<%-image.licence.extensions%>"   class="hidden"  />
    <div class="drivers-licence-image-error cmperrmsg"></div>	
</div>

</div>

<h3><strong><%-tt('drivers').t_adhaar_card_detail%></strong></h3>
<div class="row">
<div class="col-md-6 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[address][adhaar_no]" id="drivers-address-adhaar_no" value="<%-doc.address?doc.address.adhaar_no:null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-address-adhaar_no">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_adhaar_no%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-address-adhaar_no-error"></p>
</div>  

<div class="col-md-6 text-center mT20-xs col-sm-4 col-sm-offset-2">
<% if(doc.address && doc.address.adhaar_image){%>
	<input type="hidden" name="Drivers[address][adhaar_image]"  value="<%-doc.address.adhaar_image%>">
   	  <img src="<%-Common.MediaPath({_id:doc._id,image:doc.address.adhaar_image},'image',Drivers)%>" class="img-responsive  img-rounded"   data-trigger="#drivers-address-adhaar_image">
<%}else{%>   	
	<img src="<%-assetsp%>images/aadhar.png" class="img-responsive  img-rounded"   data-trigger="#drivers-address-adhaar_image">
<%}%>

    <input type="file" name="Drivers[address][adhaar_image]" id="drivers-address-adhaar_image" data-maxsize="<%-image.adhaar.maxsize%>" data-extensions="<%-image.adhaar.extensions%>"  class="hidden"  />
    <div class="drivers-address-adhaar_image-error cmperrmsg"></div>	
</div> 
</div>
</div>   

<div class="col-md-5 bdrl bdrn-xs bdrn-sm">


<h3><strong><%-tt('drivers').t_driver_info%></strong></h3>
<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-12 text-center-xs mT30 col-sm-6 ">
<% if(doc.image){%>
	<input type="hidden" name="Drivers[image]"  value="<%-doc.image%>">
   	  <img src="<%-Common.MediaPath({_id:doc._id,image:doc.image},'image',Drivers)%>" class="img-responsive  img-rounded"   data-trigger="#drivers-image">
<%}else{%>   	
	<img src="<%-assetsp%>images/upload.jpg" class="img-responsive  img-rounded"   data-trigger="#drivers-image">
<%}%>	
    <input type="file" name="Drivers[image]" id="drivers-image" data-maxsize="<%-image.profile.maxsize%>" data-extensions="<%-image.profile.extensions%>" data-url="<%-truckerUrl('drivers/upload')%>"  class="hidden"  />
    <div class="drivers-image-error cmperrmsg"></div>	
</div>

<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[name][firstname]" id="drivers-name-firstname"  value="<%-doc.name?doc.name.firstname:null%>"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-name-firstname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_firstname%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-name-firstname-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[name][lastname]" id="drivers-name-lastname" value="<%-doc.name?doc.name.lastname:null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-name-lastname">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_lastname%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-name-lastname-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[date_of_birth]" id="drivers-date_of_birth" value="<%-Common.dateToString(doc.date_of_birth||null)%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-date_of_birth">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_driver_dob%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-date_of_birth-error"></p>
</div>  

</div>

<h3 class="mT40"><strong><%-tt('drivers').t_permanent_address%></strong></h3>
<div class="row">
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[address][address]" id="drivers-address-address" value="<%-doc.address?doc.address.address:null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-address-address">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_address%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-address-address-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[address][city]" id="drivers-address-city" value="<%-doc.address?doc.address.city:null%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-address-city">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_city%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-address-city-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[address][state]" id="drivers-address-state" value="<%-doc.address?doc.address.state:null%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-address-state">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_state%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-address-state-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Drivers[address][pin_code]" id="drivers-address-pin_code" value="<%-doc.address?doc.address.pin_code:null%>"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="drivers-address-pincode">
            <span class="input__label-content input__label-content--hoshi"><%-tt('drivers').t_pincode%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 drivers-address-pin_code-error"></p>
</div>  

</div>

</div>
</div>

<div class="row">
  <div class="col-md-12 text-center mT40">
    <label><input type="checkbox" required><%-tt('drivers').t_infoprovidedis_correct%></label><br>
    <input type="submit" class="btn btn-default hvr-sweep-to-right mT10"  value="Submit">
  </div>
</div>

</form>
</div>   
</div> 
</div>
</div>
<script type="text/javascript">
require(['drivers'],function(th){});
</script>