<div class="container">

<div class="row">
<%if(!driver){%>
<div class="col-md-10 col-md-offset-1 mT30 pL0-xs pR0-xs ">
<div class="bg-success text-center pT15 pB10">
  <h3><%-tt('drivers').t_view_driver%> - <strong> </strong></h3>
</div>
</div>
<div class="bg-primary pB5 login pL40 pR40 pL20-xs pR20-xs">
<div class="row pT20">
<div class="col-md-6 text-left-xs col-sm-6">
 
<div class="row">
<div class="col-md-12 col-xs-12 col-md-offset-0">
<p class="mT20"><%-tt('drivers').t_error_fetching%></p>

</div>
 
</div>  
</div>   


</div>

</div>	
<%}else{%>
<div class="col-md-10 col-md-offset-1 mT30 pL0-xs pR0-xs ">
<div class="bg-success text-center pT15 pB10">
  <h3><%-tt('drivers').t_view_driver%> - <strong><%-driver.name['firstname']+" "+driver.name['lastname']%> </strong></h3>
</div>


<div class="bg-primary pB5 login pL40 pR40 pL20-xs pR20-xs">

<div class="row pT20">
<div class="col-md-6 text-left-xs col-sm-6">
<h3><%-tt('drivers').t_truck_typeandcat%></h3>  
<div class="row">
<div class="col-md-12 col-xs-12 col-md-offset-0">
<p class="mT20"><img src="<%-assetsp%>images/type<%-driver.truck_type%>.png" class="mR20"/> <%-driver.truck_type==1?tt('shipments').t_below5ton:(driver.truck_type==2)?tt('shipments').t_5tonto15ton:tt('shipments').t_above15ton%></p>

</div>
 
</div>  
</div>   

<div class="col-md-6 bdrl bdrn-xs bdrt-xs col-sm-6">
<h3><%-tt('drivers').t_driver_login_txt%></h3>

<div class="row">
<div class="col-md-12">
<h4 class="mT10"><%-tt('drivers').t_driver_mobile_no%> - <span class="text-primary"> <%-driver.mobile_no%></span></h4>
<h4><%-tt('drivers').t_password%> - <span class="text-primary">xxxxxxx </span></h4>
<p><div class="noti mT20"></div><%-tt('drivers').t_username_tagline%> </p>


</div>
</div>
</div>
</div>

<div class="row mT20">
<div class="col-md-6 bdrt-xs col-sm-6">
<h3><%-tt('drivers').t_driver_info%></h3>
<div class="row">
<div class="col-md-4 col-xs-6">  
<img src="<%-Common.MediaPath({_id:driver._id,image:driver.image},'image',Drivers)%>" class="img-circle img-responsive"/>
</div>
<div class="col-md-8 mT20 col-xs-6 mT0-xs">
<h4><%-tt('drivers').t_driver_name%> - <span class="text-primary"><%-driver.name['firstname']+" "+driver.name['lastname']%> </span></h4>
<h4 class="mT20"><%-tt('drivers').t_driver_dob%> - <span class="text-primary"><%-Common.dateToString(driver.date_of_birth)%> </span></h4>
</div>
</div>
</div>  
<div class="col-md-6 bdrl bdrn-xs bdrt-xs mT20-xs col-sm-6">
<h3><%-tt('drivers').t_driver_licence_tagline%></h3>
<div class="row">
<div class="col-md-4 col-xs-6">
<img src="<%-Common.MediaPath({_id:driver._id,image:driver.licence.image},'image',Drivers)%>" class="img-responsive"/>
</div>
<div class="col-md-6 mT0-xs">
<h4><%-tt('drivers').t_licence_no%> - <br><span class="text-primary"><%-driver.licence.number%> </span></h4>
<h4><%-tt('drivers').t_driver_licence_tagline%> - <br><span class="text-primary"><%-Common.dateToString(driver.licence.expiry)%>  </span></h4>
</div>
</div>
</div>
</div>


<div class="row mT20">
<div class="col-md-6 col-sm-6">
<h3><%-tt('drivers').t_adhaar_card_detail%></h3>
<div class="row">
<div class="col-md-4 col-xs-6">  
<img src="<%-Common.MediaPath({_id:driver._id,image:driver.address.adhaar_image},'image',Drivers)%>" class="img-responsive"/>
</div>
<div class="col-md-8 mT20 mT0-xs mT0-sm">
<h4><%-tt('drivers').t_adhaar_no%> - <br><span class="text-primary"><%-driver.address.adhaar_no%> </span></h4>

</div>
</div>
</div>


<div class="col-md-6 bdrl bdrn-xs col-sm-6">
<h3><%-tt('drivers').t_permanent_address%></h3>
<div class="row">
<div class="col-md-12">  
<h4><%-tt('drivers').t_address%> - <span class="text-primary"><%-driver.address.address%></span></h4>
<h4><%-tt('drivers').t_city%> - <span class="text-primary"><%-driver.address.city%></span></h4>
<h4><%-tt('drivers').t_state%> - <span class="text-primary"><%-driver.address.state%> </span></h4>
<h4><%-tt('drivers').t_pincode%> - <span class="text-primary"><%-driver.address.pin_code%> </span></h4> 
</div>
</div>
</div>
</div>

<div class="row pB20">
  <div class="col-md-12 text-center mT40">
    <a href="<%-truckerUrl('drivers/update-driver/'+driver._id)%>" class="btn btn-default hvr-sweep-to-right mT10"> <%-tt('drivers').t_edit_driver%> </a>
  </div>
</div>

</div>   
</div> 
<%}%>
</div>
</div>