<div class="container minh minh-sm">
<div class="row">

<div class="col-md-12 mT30">
<div class="bg-success pT10 pL10">
<div class="row">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<div class="col-md-7 pT5 col-xs-12 text-center-xs col-sm-3"> 
   <h3><%-tt('drivers').t_my_drivers%></h3>
</div>
<div class="col-md-3 col-xs-12 text-center-xs col-sm-6">   
<form method="get" id="drivers-list" method="get" action="<%-truckerUrl('drivers')%>">	
<div class="form-group mR20-xs">
    <input type="text" name="q" class="form-control" placeholder="<%-tt('drivers').t_search_drivers%>" value="<%-qp%>" >
</div> 
</form>	  
<input type="hidden" id="paginate-url" value="<%-truckerUrl('drivers/list')%>">	
<input type="hidden" name="availbility-url" value="<%-truckerUrl('drivers/change-availbility')%>">	
</div>
<div class="col-md-2 text-right pR30 col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-3">   
<a href="<%-truckerUrl('drivers/add-driver')%>" class="btn btn-white"><span class="glyphicon glyphicon-plus"></span> <%-tt().t_add_driver%></a>
<p class="mT20-xs visible-xs"> <%-tt().t_scroll%> <span class=" glyphicon glyphicon-resize-horizontal"></span> <%-tt().t_intable_below%> </p>
</div>    
</div>
</div> 
<div class="bg-primary pT5 login table-responsive">
<table class="table table-striped text-center"> 
<thead class="text-center">
<th class="text-center"> <%-tt().t_driver_image%></th>
<th class="text-center"> <%-tt().t_driver_name%></th>
<th class="text-center"> <%-tt().t_driver_truck_category%></th>
<th class="text-center"> <%-tt().t_driver_isavail%></th>
<th class="text-center"> <%-tt().t_driver_activity%></th>
<th class="text-center"> <%-tt().t_view_edit_detail%></th>
<%if("undefined"!=typeof(avail) && avail==1){%>
<th class="text-center"> <%-tt().t_assign_driver%></th>
<%}%>
</thead>
<tbody>	
<tr>
<% if(doc.length<=0){%>	
<td colspan="6"><%-tt('drivers').t_empty_record%></td>	
<%}%>	
</tr>	
<% include paginate.ejs%>	
</tbody>
<% if(doc.length>0){%>		
<tfoot>
	<tr id="load-data" ><td align="center" colspan="6">Scroll down to load more ↓</td></tr>	
</tfoot>
<%}%>	
</table>



</div>
</div>

</div>  
</div> 
<script type="text/javascript">
require(['drivers'],function(th){});
</script>
