<% if(!doc && doc.length<=0){%>
<tr>
<td>No Record Found</td>
</tr>
<% }else{ doc.forEach(function(driver){%>
<tr>
<td><img src="<%-Common.MediaPath({_id:driver._id,image:driver.image},'image',Drivers)%>" class="dimg"></td>
<td><%-driver.name['firstname']  +" "+driver.name['lastname'] %></td>
<td><%-driver.truck_type==1?tt('shipments').t_below5ton:(driver.truck_type==2)?tt('shipments').t_5tonto15ton:tt('shipments').t_above15ton%></td>
<%if(avail==1){%>
<td><%-(driver.is_available==Drivers.AVAILABLE)?tt('drivers').t_yes:tt('drivers').t_no %>
</td>
<!--<td><%-tt('drivers').t_intransit%></td>-->
<td><a target="_blank" href="<%-truckerUrl('drivers/view/'+driver._id)%>" class="text-primary"><%-tt('drivers').t_view_detail%> </a></td>
<td id="statustxt">
	<% if(driver.is_available==Drivers.AVAILABLE && driver.status==Drivers.ACTIVE && driver.driver_status==Drivers.NOTASSIGNED){%>
	   <a href="<%-truckerUrl('drivers/assign')%>" data-assign="<%-driver._id%>"><%-tt('drivers').t_assign_now%></a>
	<%}else if(driver.driver_status==Drivers.ASSIGNED){%>
	  <%-tt('drivers').t_assigned%>
	<%}else if(driver.is_available!=Drivers.AVAILABLE){%>
	  <%-tt('drivers').t_notavailable%>
	<%}else if(driver.status==Drivers.INACTIVE){%>
	   <%-tt('drivers').t_truck_inactiveadmin%>
	<%}%>
	</td>
<%}else{%>
	<td>
  <label class="switch actinact">
    <input type="checkbox" class="switch-input" <%-driver.is_available==Drivers.AVAILABLE?'checked=checked':false%>>
    <input type="hidden" value="<%-driver._id%>">
    <span class="switch-label" data-on="<%-tt('drivers').t_yes%>" data-off="<%-tt('drivers').t_no%>"></span>
    <span class="switch-handle"></span>
  </label>
</td>
<td><% if(driver.driver_status==Drivers.ASSIGNED){%>
	  <%-tt('drivers').t_assigned%>
	<%}else if(driver.is_available!=Drivers.AVAILABLE){%>
	  <%-tt('drivers').t_notavailable%>
	<%}else if(driver.status==Drivers.INACTIVE){%>
	   <%-tt('drivers').t_truck_inactiveadmin%>
	<%}else{%>
	  <%-tt('drivers').t_notassigned%>
	<%}%><%//tt('drivers').t_intransit%></td>
<td><a href="<%-truckerUrl('drivers/view/'+driver._id)%>" class="text-primary"><%-tt('drivers').t_view_detail%> </a></td>
<td>
</td>
<%}%>
</tr> 
<%});}%>	

