<div class="container minh minh-sm">
<div class="row">
<div class="col-md-12 mT30">
<div class="bg-success pT10 pL10">
<div class="row">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" name="avail" value="1">	
<input type="hidden" id="paginate-url" value="<%-truckerUrl('drivers/list')%>">	
<div class="col-md-7 pT5 col-xs-12 text-center-xs col-sm-3"> 
   <h3><%-tt('drivers').t_my_drivers%></h3>
</div>
<div class="col-md-3 col-xs-12 text-center-xs col-sm-6">   
<form action="<%-truckerUrl('drivers/assign-driver')%>" method="get" id="drivers-list" >	
<div class="form-group mR20-xs">
    <input type="text" name="q" class="form-control" placeholder="<%-tt('drivers').t_search_drivers%>" value="<%-qp%>" >
</div> 
</form>	  
</div>
<div class="col-md-2 text-right pR30 col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-3">   
<p class="mT20-xs visible-xs"> <%-tt('drivers').t_scroll%> <span class=" glyphicon glyphicon-resize-horizontal"></span><%-tt('drivers').t_intable_below%> </p>
</div>    
</div>
</div> 
<div class="bg-primary pT5 login table-responsive">
<table class="table table-striped text-center">

 
<thead class="text-center">
<th class="text-center"> <%-tt().t_driver_image%></th>
<th class="text-center"> <%-tt().t_driver_name%></th>
<th class="text-center"> <%-tt().t_driver_truck_category%></th>
<th class="text-center"> <%-tt().t_driver_isavail%></th>
<th class="text-center"> <%-tt().t_view_edit_detail%></th>
<th class="text-center"> <%-tt().t_assign_driver%></th>

</thead>
<tbody>
<tr>
<td colspan="6">
<% if(doc.length<=0){%>	
<div class="bg-primary pT20 pB20 login text-center">
<strong><%-tt('drivers').t_empty_record%> </strong>
</div>
</td>		
</tr>		
<% }%>	
<% include paginate.ejs%>

</tbody>
<tfoot>
<tr id="load-data" ></tr>	
</tfoot>	
</table>
</div>
</div>

</div>  
</div> 
<script type="text/javascript">
require(['drivers'],function(th){});
</script>