<% if(payments.length>0){%>
<div class="row">
<% payments.forEach(function(p,i){
	var shipment = p.shipment_id || {}; 
 %>	
<div class="col-md-6 mT20">
<div class="bg-primary pT5 login">
<div class="row bids">
<div class="col-md-12 pL30 pR30 col-xs-12">
<h4 class="text-primary text-center"><%-tt('shipments').t_reference_no%> : #<%-shipment.shipment_id%></h4>  
<div class="row">
  <div class="col-md-4 mT20 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></h4>
  </div>  
    <div class="col-md-4 text-center mT10 col-xs-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.unloading.up_city:''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 col-xs-6 bdrr fnt14-xs">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 col-xs-6 text-right fnt14-xs pR20-xs">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt('shipments').t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
</div>
</div>
<p class="mT10"><%-shipment.shipment_detail?shipment.shipment_detail.truck_name:null%></p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-grey2 pT10 pB5 pL10 pR10 fnt16 text-info">
<p>Final Total : <strong class="pull-right"><%-tt('shipments').t_rupee_sign%> <%-p.total%></strong></p>
<%p.transactions.forEach(function(t,n){%>
<p>
	
	<%if(n==0){%>
	<%if(t.status==0){%>
	<%-tt('users').t_pendingfirst_payment%>
	<%}else{%>
	<%-tt('users').t_completedfirst_payment%>
	<%}%>
	<%}else{%>
	<%if(t.status==0){%>
	<%-tt('users').t_pendingsecond_payment%>
	<%}else{%>
	<%-tt('users').t_completedsecond_payment%>
	<%}%>	
	<%}%>: <strong class="pull-right text-right"><%-tt('shipments').t_rupee_sign%> <%-t.amount%></strong><br><small>(<%-t.instalment%>% <%-tt('users').t_of_final_total%> - 
	<%if(n==0){%>
	<%-t.mode==1?tt('users').t_on_loading:tt('users').t_online%>
	<%}else{%>
	<%-t.mode==2?tt('users').t_on_unloading:tt('users').t_online%>
	<%}%>
	)</small></p>
<%})%>
</div>
</div>
</div>
</div>
</div>
<%})%>
</div>
<%}%>