<div class="container minh">
<div class="row">

<div class="col-md-12 mT30 pL0-xs pR0-xs">
<div class="bg-success pT10 pB40 pL10 pR10">
   <h3 class="pull-left"><%-tt().t_payments_txt%></h3><p class="pull-right mT5 fnt16"> <strong><%-tt('users').t_total_earning%> : <%-tt('shipments').t_rupee_sign%> <span class="total-earned" >00,000</span>
 </strong></p>
</div> 

<div class="pending mT20">
  <div id="sticky-anchor"></div>  <!-- Nav tabs -->
  <ul class="nav nav-tabs bdrb" role="tablist" id="sticky">
    <li role="presentation" class="text-center active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%-tt('users').t_tab_pending_payments%></a></li>
    <li role="presentation" class="text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%-tt('users').t_tab_completed_payments%></a></li>
  </ul>

<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" id="ttlstats" value="<%-truckerUrl('users/trucker-eraned')%>"> 	
<div class="tab-content mT30">
<div role="tabpanel" class="tab-pane active" id="home">
<input type="hidden" id="payment-paginate" value="<%-truckerUrl('users/payments/pending')%>">	
 <%include pending_paginates.ejs%>
<br id="payments-before">	
<div id="load-page"></div>	
</div>

<div role="tabpanel" class="tab-pane" id="profile">
<input type="hidden" id="payment-paginate" value="<%-truckerUrl('users/payments/completed')%>">	 
<br id="payments-before">	
<div id="load-page"></div>
</div>
</div>

</div>
</div>

</div>  
</div> 



<script type="text/javascript">
require(['payments']);
</script>