
<div class="container minh">
<div class="row">
<div class="col-md-10 col-md-offset-1 mT30 pL0-xs pR0-xs ">
<div class="bg-success text-center pT15 pB10">
  <h3><%-doc._id?tt().t_edit_vehicle:tt().t_add_truck%></h3>
</div>


<div class="bg-primary pB5 login pL40 pR40 pL20-xs pR20-xs mp-err">
<form action="<%-truckerUrl('vehicles/add-vehicle')%>"  data-form="ajax" method="post" id="vehicle">  
<%if(truck_count>1 && individualTrucker){%>
<div class="row pT20">
 <div class="col-md-12 text-center">	
   <%-tt('vehicles').t_individual_trucker%> <a href="javascript:history.back()">Go Back</a>
  </div>
</div>
<%}else{%>	
<div class="row pT20">
<div class="col-md-7">

<div class="row">
<h3><strong><%-tt('shipments').e_truck_category%></strong> </h3>  
<div class="col-md-12">
<%if(doc._id){%>
<input type="hidden" name="Vehicle[id]" value="<%-doc._id%>">
<%}%>	
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<div class="row">
<div class="col-md-4 mT20 text-center">
<a href="#trucktype1" class="truck-type" data-target="#trucktype_1"><div class="truck1 <%-doc.truck_category==1?'truck1-active':''%>"></div>
<input type="radio" data-post="true" <%-doc.truck_category==1?'checked':''%> name="Vehicle[truck_category]" class="cs-hidden" value="1" id="trucktype1">
</a>	
<p class="mT20"><%-tt('shipments').t_below5ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype2" class="truck-type" input-for="#trucktype_2"><div class="truck2 <%-doc.truck_category==2?'truck2-active':''%>"></div>
<input type="radio" <%-doc.truck_category==2?'checked':''%> data-post="true" name="Vehicle[truck_category]" class="cs-hidden" value="2" id="trucktype2">
</a>
<p class="mT20"><%-tt('shipments').t_5tonto15ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype3" class="truck-type" input-for="#trucktype_3"><div class="truck3 <%-doc.truck_category==3?'truck3-active':''%>"></div>
<input type="radio" <%-doc.truck_category==3?'checked':''%> data-post="true" name="Vehicle[truck_category]" class="cs-hidden" value="3" id="trucktype3">
</a>
<p class="mT20"><%-tt('shipments').t_above15ton%></p>
</div>
<p class="text-danger text-right mB0 fnt10 mR20 vehicle-truck_category-error"></p> 	
</div>
<div class="row">
  <div class="col-md-12 text-left mT30 col-sm-8 col-sm-offset-2 col-md-offset-0 mT30-sm mB30-sm">
  <div class="dropdown pR20 pL10 pL0-xs pR0-xs">
  <select data-val="<%-doc.truck_type||''%>" name="Vehicle[truck_type]" id="vehicle-truck_type" class="dropdownbx">
   <option value=""><%-tt('shipments').t_select_truck%></option>
  </select>
	<p class="text-danger text-right mB0 fnt10 mR20 vehicle-truck_type-error"></p>  
</div>
</div>  
</div>  
</div>
<% if(doc && doc.isAvailable){ %>	
<div class="col-md-4 text-center mT40 mT30-sm col-sm-4">
<span><%-tt('vehicles').t_available%></span>
 <label class="switch actinact">
    <input type="checkbox" <%-doc.is_available?'checked':''%>  class="switch-input" name="Vehicle[is_available]" >
    <span class="switch-label" data-on="<%-tt().t_yes%>" data-off="<%-tt().t_no%>"></span>
    <span class="switch-handle"></span>
  </label> 
    <div class="vehicle-is_available-error cmperrmsg"></div>
	
</div>
<% } %>	
</div>  

<div class="row mT20">
<h3><strong><%-tt('vehicles').t_enter_vehicle_insurance%></strong></h3>
<div class="col-md-12 text-left col-sm-6" data-provide="datepicker">
        <span class="input input--hoshi ovflo-visi noani">
          <input  class="input__field input__field--hoshi" type="text" name="Vehicle[insurance][renew_date]" id="vehicle-insurance-expire_date" value="<%-Common.dateToString(doc.insurance?doc.insurance['renew_date']:null)%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="vehicle-insurance-renew_date">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_insurance_validup2%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 vehicle-insurance-renew_date-error"></p>
</div>  
<div class="col-md-12 text-center mT40 mT30-sm col-sm-12">
<% if(doc.insurance){%>
   <img src="<%-Common.MediaPath({_id:doc._id,'image':doc.insurance['image']},'image',Trucks)%>" class="img-responsive  img-rounded"  data-field="#vehicle-insurance-image" data-trigger="#insurance-browse">
<%}else{%>	
   <img src="<%-assetsp%>images/rc.png" class="img-responsive  img-rounded"  data-field="#vehicle-insurance-image" data-trigger="#insurance-browse">	
<%}%>	
    <input type="file" id="insurance-browse" data-maxsize="<%-image.insurance.maxsize%>" data-extensions="<%-image.insurance.extensions%>"  class="hidden"  />
	<input type="hidden" name="Vehicle[insurane_image]" id="vehicle-insurance_image" readonly />  
	<input type="hidden" name="Vehicle[insurance][image]" id="vehicle-insurance-image" readonly />  
    <div class="vehicle-insurance-image-error cmperrmsg"></div>
	
</div>

</div>

</div>   

<div class="col-md-5 bdrl bdrn-xs bdrn-sm mT30-sm">
<h3><strong><%-tt('vehicles').t_enterrc_detal%></strong></h3>
<div class="row">
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Vehicle[registration][vehicle_number]"  id="vehicle-vehicle_number" value="<%-doc.registration?doc.registration['vehicle_number']:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="vehicle-registration-vehicle_number">
            <span class="input__label-content input__label-content--hoshi"><%-tt('vehicles').t_vehicle_no%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 vehicle-registration-vehicle_number-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" type="text" name="Vehicle[registration][expiry_date]"  id="vehicle-registration-expiry_date" value="<%-Common.dateToString(doc.registration?doc.registration['expiry_date']:null)%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="vehicle-registration-expiry_date">
            <span class="input__label-content input__label-content--hoshi"><%-tt('vehicles').t_rc_validup2%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 vehicle-registration-expiry_date-error"></p>
</div>  
<div class="col-md-12 text-center mT20 col-sm-12 mT30-sm">
<%if(doc.registration){%>
	<img src="<%-Common.MediaPath({_id:doc._id,'image':doc.registration['rc_pic']},'image',Trucks)%>" class="img-responsive  img-rounded"  data-field="#vehicle-registration-rc_pic" data-trigger="#rc-browse">

<%}else{%>	
<img src="<%-assetsp%>images/rc.png" class="img-responsive  img-rounded"  data-field="#vehicle-registration-rc_pic" data-trigger="#rc-browse">
<%}%>	
    <input type="file" id="rc-browse" data-maxsize="<%-image.rc.maxsize%>" data-extensions="<%-image.rc.extensions%>"  class="hidden"  />
	 
	<input type="hidden" name="Vehicle[registration][rc_pic]" id="vehicle-registration-rc_pic"  readonly />  
    <div class="vehicle-registration-rc_pic-error cmperrmsg"></div>	
</div> 
</div>

<h3 class="mT40"><strong><%-tt('vehicles').t_enter_permit_detail%></strong></h3>
<div class="row">
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Vehicle[permit][pnumber]" id="vehicle-permit-pnumber" value="<%-doc.permit?doc.permit['pnumber']:''%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="vehicle-permit-pnumber">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_permit_no%></span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 vehicle-permit-pnumber-error"></p>
</div>  
<div class="col-md-12 text-left col-sm-6">
        <span class="input input--hoshi ovflo-visi noani">
          <input class="input__field input__field--hoshi" type="text" name="Vehicle[permit][permit_expiry_date]" id="vehicle-permit-permit_expiry_date" value="<%-Common.dateToString(doc.permit?doc.permit['permit_expiry_date']:null)%>" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="vehicle-permit-permit_expiry_date">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_permit_validup2%>x</span>
          </label>
        </span>
        <p class="text-danger text-right mB0 fnt10 mR20 vehicle-permit-permit_expiry_date-error"></p>
</div>  
<div class="col-md-12 text-center mT20 col-sm-12 mT30-sm">
<%if(doc.permit){%>
	<img src="<%-Common.MediaPath({_id:doc._id,'image':doc.permit['pic']},'image',Trucks)%>" class="img-responsive  img-rounded"  data-field="#vehicle-registration-rc_pic" data-trigger="#rc-browse">
<%}else{%>		
<img src="<%-assetsp%>images/permit.png" class="img-responsive  img-rounded"  data-field="#vehicle-permit-pic" data-trigger="#permit-browse">
<%}%>	
    <input type="file" id="permit-browse" data-maxsize="<%-image.permit.maxsize%>" data-extensions="<%-image.permit.extensions%>"  class="hidden"  />	
	<input type="hidden" name="Vehicle[permit][pic]" id="vehicle-permit-pic" readonly />  
    <div class="vehicle-permit-pic-error cmperrmsg"></div>	
</div> 
</div>

</div>
</div>

<div class="row">
<div id="vehicle-1error" class="text-danger" ></div>	
  <div class="col-md-12 text-center mT40">
    <label><input type="checkbox" required> <%-tt('vehicles').t_tagline_infoistrue%></label><br>
    <input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('vehicles').t_submit%>">
  </div>
</div>
<%}%>
</form>
</div>   
</div> 
</div>
</div>
<script type="text/javascript">
require(['vehicles'],function(th){});
</script>