<div class="container">
<div class="row">
<%if(doc.registration==undefined){ console.log(doc)%>
<center><%-tt('vehicles').t_norecord_found%>	
<%}else{ %></center>	
<div class="col-md-10 col-md-offset-1 mT30 pL0-xs pR0-xs ">
<div class="bg-success text-center pT15 pB10">
  <h3><%-tt('vehicles').t_view_truck_detail%> -  <strong><%-doc.registration.vehicle_number||0000000%></strong></h3>
</div>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1 pL0-xs pR0-xs ">
<div class="bg-primary pB30 login pL40 pR40 pL20-xs pR20-xs">
<div class="row pT20">
<div class="col-md-6 text-left-xs  col-sm-6">
<h3><%-tt('vehicles').t_truck_type_category%></h3>  
<div class="row">
<div class="col-md-12 col-xs-12 col-md-offset-0">
<p class="mT20"><img src="<%-assetsp%>images/type<%-doc.truck_category%>.png" class="mR20"/>
<% cat = {1:tt('shipments').t_below5ton,2:tt('shipments').t_5tonto15ton,3:tt('shipments').t_above15ton};  %>
	<%-cat[doc.truck_category]%> </p>
<h4 class="text-primary mT30"><%-doc.truck_type.name%></h4>
</div>
 
</div>  
</div>   

<div class="col-md-6 text-left-xs bdrl bdrn-xs bdrT-xs col-sm-6">
<h3><%-tt('vehicles').t_rc_detail%></h3>
<div class="row">
<div class="col-md-12">
        <h4><%-tt('vehicles').t_vehicle_no%> - <span class="text-primary"><%-doc.registration.vehicle_number%> </span></h4>
        <h4><%-tt('vehicles').t_rcvalidup2%> - <span class="text-primary"><%-Common.dateToString(doc.registration.expiry_date)%> </span>
		<span class="text-danger text-right mB0 fnt18 mR20">  <% if(Date.now()>doc.registration.expiry_date){ "-"+tt('vehicles').t_expired }%></span></h4>
</div>  

<div class="col-md-12 mT20 col-sm-12">
<img src="<%-Common.MediaPath({_id:doc._id,'image':doc.registration['rc_pic']},'image',Trucks)%>" class="img-responsive"/>
</div> 
</div>
</div>
</div>


<div class="row mT40">
<div class="col-md-6 bdrT-xs col-sm-6">
<h3> <%-tt('vehicles').t_permit_detail%></h3>
<div class="row">
<div class="col-md-12 text-left">
        <h4><%-tt('vehicles').t_permit_no%> - <span class="text-primary"><%-doc.permit.pnumber%> </span></h4>
</div>  
<div class="col-md-12 text-left">
        <h4><%-tt('vehicles').t_permitvalidup2%> - <span class="text-primary"><%-Common.dateToString(doc.permit.permit_expiry_date)%>  </span></h4>
</div>  
<div class="col-md-12 mT20 col-sm-12">
<img src="<%-Common.MediaPath({_id:doc._id,'image':doc.permit['pic']},'image',Trucks)%>" class="img-responsive"/>
</div> 
</div>
</div>

<div class="col-md-6 bdrl bdrn-xs mT40-xs bdrT-xs col-sm-6">  
<h3><%-tt('vehicles').t_vehicle_insurane_detail%></h3>
<div class="row">
<div class="col-md-12 text-left col-xs-12">
        <h4><%-tt('vehicles').t_insurancevalidup2%> - <span class="text-primary"><%-Common.dateToString(doc.insurance.renew_date)%> </span></h4>
</div>  
<div class="col-md-12 mT20 mT30-sm col-sm-12">
<img src="<%-Common.MediaPath({_id:doc._id,'image':doc.insurance['image']},'image',Trucks)%>" class="img-responsive"/>
</div> 
</div>
</div>
</div>

<div class="row">
  <div class="col-md-12 text-center mT40">
    <a href="<%-truckerUrl('vehicles/update-vehicle/'+doc._id)%>" class="btn btn-default hvr-sweep-to-right mT10"> <%-tt('vehicles').t_edit_vehicle%></a>
  </div>
</div>

</div>
</div>
</div>
</div>
<%}%>