<div class="container minh minh-sm">
<div class="row">

<div class="col-md-12 mT30">
<div class="bg-success pT10 pL10 pR20-sm">
<div class="row">
<div class="col-md-7 pT5 col-xs-12 text-center-xs col-sm-3">   
   <h3><%-tt('vehicles').t_myvehilecs%></h3>
</div>
<div class="col-md-3 col-xs-12 text-center-xs col-sm-6">   
<form action="<%-truckerUrl('vehicles')%>" method="get" id="vehicle-list" >	
<div class="form-group mR20-xs">
    <input type="text" name="q" class="form-control" placeholder="<%-tt('vehicles').t_search_trucks%>" value="<%-qp%>" >
</div> 
</form>	
</div>
<div class="col-md-2 text-right pR30 col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-3">   
<a href="<%-truckerUrl('vehicles/add-vehicle')%>" class="btn btn-white"><span class="glyphicon glyphicon-plus"></span> <%-tt('vehicles').t_add_newvehicles%></a>
<p class="mT20-xs visible-xs"> <%-tt('vehicles').t_scroll%>Scroll <span class=" glyphicon glyphicon-resize-horizontal"></span> <%-tt('vehicles').t_tables_below_tagline%></p>
</div>  

<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" id="paginate-url" value="<%-truckerUrl('vehicles/list')%>">
<input type="hidden" name="availbility-url" value="<%-truckerUrl('vehicles/change-availbility')%>">	
</div>
</div> 
<div class="bg-primary pT5 login table-responsive">
<table class="table table-striped text-center">
<thead class="text-center">

<th class="text-center"> <%-tt('vehicles').t_truck_type%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_number%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_name%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_status%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_detail%></th>
<th class="text-center"> <%-tt('vehicles').t_assign_truck%></th>

</thead>
<tbody>
<tr>
<% if(doc.length<=0){%>	
<td colspan="7"><%-tt('vehicles').t_norecord_found%></td>	
<%}%>	
</tr>		
 
 <%-include paginate.ejs %>
</tbody>
<% if(doc.length>0){%>	
<tfoot>
<tr id="load-data" ><td align="center" colspan="6">Scroll down to load more &darr;</td></tr>	
</tfoot>	
<%}%>	
</table>


	


</div>
</div>



</div>  
</div>
<script type="text/javascript">
require(['vehicles'],function(th){});
</script>