<% if(!doc && doc.length<=0){%>
<tr>
<td>No Record Found</td>
</tr>
<% }else{ doc.forEach(function(truck){%>
<tr>
<td><img src="<%-assetsp%>images/type<%-truck.truck_category%>.png"></td>
<td><%-truck.registration.vehicle_number%></td>
<td><%-truck.truck_type.name%>( <%-truck.truck_type.loading_capacity + tt().t_tons%>  )</td>
<% if(avail){%>
<td><%-truck.is_available?tt('vehicles').t_yes:tt('vehicles').t_no%></td>
<td><a target="_blank" href="<%-truckerUrl('vehicles/'+truck._id)%>" class="text-primary"><%-tt('vehicles').t_view_detail%> </a></td>
<td id="statustxt">
	<% if(truck.is_available==Trucks.AVAILABLE && truck.status==Trucks.ACTIVE && truck.truck_status==Trucks.FREE){%>
	   <a href="<%-truckerUrl('vehicles/assign')%>" data-assign="<%-truck._id%>"><%-tt('vehicles').t_assign_truck%></a>
	<%}else if(truck.truck_status==Trucks.ASSIGNED){%>
	  <%-tt('vehicles').t_assigned%>
	<%}else if(truck.is_available==Trucks.NOTAVAILABLE){%>
	  <%-tt('vehicles').t_notavailable%>
	<%}else if(truck.status==Trucks.INACTIVE){%>
	   <%-tt('vehicles').t_truck_inactiveadmin%>
	<%}%>
	</td>
<%}else{%>	
	
<td>
  <label class="switch actinact">
    <input type="checkbox" class="switch-input" <%-truck.is_available==Trucks.AVAILABLE?'checked=checked':false%>>
    <input type="hidden" value="<%-truck._id%>">
    <span class="switch-label" data-on="<%-tt().t_yes%>" data-off="<%-tt().t_no%>"></span>
    <span class="switch-handle"></span>
  </label>
</td>
<td><a href="<%-truckerUrl('vehicles/'+truck._id)%>" class="text-primary"><%-tt().t_view_detail%> </a></td>
<td><%  if(truck.truck_status==Trucks.ASSIGNED){%>
	  <%-tt('vehicles').t_assigned%>
	<%}else if(truck.is_available==Trucks.NOTAVAILABLE){%>
	  <%-tt('vehicles').t_notavailable%>
	<%}else if(truck.status==Trucks.INACTIVE){%>
	   <%-tt('vehicles').t_truck_inactiveadmin%>
	<%}else{%>
 	  <%-tt('vehicles').t_notassigned%> 
	<%}%>
	
	
	
	</td>
<input type="hidden" id="offset" value="<%-offset%>">
<%}%>	
</tr> 
<%});}%>	

