<div class="container minh minh-sm">
<div class="row">

<div class="col-md-12 mT30">
<div class="bg-success pT10 pL10 pR20-sm">
<div class="row">
<div class="col-md-7 pT5 col-xs-12 text-center-xs col-sm-3">   
   <h3><%-tt('vehicles').t_myvehicles%></h3>
</div>
<div class="col-md-3 col-xs-12 text-center-xs col-sm-6">   
<form action="<%-truckerUrl('vehicles/assign-vehicle')%>" method="get" id="vehicle-list">	
<div class="input-group mR20-xs">
    <input type="text" name="q" class="form-control" placeholder="<%-tt('vehicles').t_search_trucks%>" value="<%-qp%>" >
	
</div> 
</form>	
</div>
<div class="col-md-2 text-right pR30 col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-3">   
<p class="mT20-xs visible-xs"> <%-tt('vehicles').t_scroll%>Scroll <span class=" glyphicon glyphicon-resize-horizontal"></span> <%-tt('vehicles').t_tables_below_tagline%></p>
</div>  

<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<input type="hidden" name="avail" value="1">
<input type="hidden" id="paginate-url" value="<%-truckerUrl('vehicles/list')%>">
</div>
</div> 
<div class="bg-primary pT5 login table-responsive">
<table class="table table-striped text-center">
<thead class="text-center">

<th class="text-center"> <%-tt('vehicles').t_truck_type%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_number%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_name%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_status%></th>
<th class="text-center"> <%-tt('vehicles').t_truck_detail%></th>
<th class="text-center"> <%-tt('vehicles').t_assign_truck%></th>

</thead>
<tbody>
<% if(!doc){%>
<tr>
<td colspan="7"><%-tt('vehicles').t_norecord_found%></td></tr>	
<%}else{ doc.forEach(function(truck){%>
<tr>
<td><img src="<%-assetsp%>images/type<%-truck.truck_category%>.png"></td>
<td><%-truck.registration.vehicle_number%></td>
<td><%-truck.truck_type.name%>( <%-truck.truck_type.loading_capacity + tt('vehicles').t_tons%>  )</td>
<td><%-truck.is_available?tt('vehicles').t_yes:tt('vehicles').t_no%></td>
<td><a target="_blank" href="<%-truckerUrl('vehicles/'+truck._id)%>" class="text-primary"><%-tt('vehicles').t_view_detail%> </a></td>
<td id="statustxt">
	<% if(truck.is_available==Trucks.AVAILABLE && truck.status==Trucks.ACTIVE && truck.truck_status==Trucks.FREE){%>
	   <a href="<%-truckerUrl('vehicles/assign')%>" data-assign="<%-truck._id%>"><%-tt('vehicles').t_assign_truck%></a>
	<%}else if(truck.truck_status==Trucks.ASSIGNED){%>
	  <%-tt('vehicles').t_assigned%>
	<%}else if(truck.is_available==Trucks.NOTAVAILABLE){%>
	  <%-tt('vehicles').t_notavailable%>
	<%}else if(truck.status==Trucks.INACTIVE){%>
	   <%-tt('vehicles').t_truck_inactiveadmin%>
	<%}%>
	</td>	
</tr> 
<%}); }%>
</tbody>
<tfoot>
<tr id="load-data" ><td align="center"  colspan="6">Scroll down to load more &darr;</td></tr>
</tfoot>	
</table>


	


</div>
</div>



</div>  
</div>
<script type="text/javascript">
require(['vehicles'],function(th){});
</script>