.mtb10{ margin:10px 0px;}
.avatar-pic{
    background-color: #F5F5F5;
    width: 120px;
    height: 100px;
    display: inline-block;    
}
.dnone{display: none;};
.box .border-right{border-right: solid 1px #F5E9E9;}
.field-users-avatar_name{ margin-top:25px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice {color: #2F2F2F; }
.nav-tabs li.disabled a{ color: #999;}
.design-model .model-body {
    max-height:400px !important; 
    overflow-y: auto;
}
#list-avatars a{
    display: inline-block;
    padding: 5px;
}
#list-avatars a:hover{
    background-color: #84AFEF;
}
.pop-form label{
    display:block;
}
.pop-form .select2-container {
    display: block;
    width: 100% !important;
}
/* tags*/
.mp-tag-cont{ min-height: 50px;height: auto;}
.mp-tag-cont span{ 
    padding: 1px 4px;
    display: inline-block;
    min-width: 20px;
    background-color: #E8E7E7;
    margin: 0px 2px 4px;
    border-radius: 6px;
}
.mp-tag-cont span a{
    font-size: 11px;
    margin: 0px 3px;
}
.mp-tag-cont span.editable{ background-color: #fff;}
/* tags */
.status-badge{
	border: solid 1px;
    padding: 2px 5px;
    color: #000;
    border-radius: 4px;
}
.status-expired{ background-color: #EF6F6F; border: solid 1px #F54545;}
.status-pending{ background-color: #C8F5E2;border-color:#A7ECBD; }
.status-incomplete{  background-color: #F9F65F; border: solid 1px #E6D558; }
/* margin padding */
.mT10{
	margin-top: 10px;
}
div.postnewbidtruker {
    z-index: 99999;
}