.mT0{margin-top: 0}.mT-5{margin-top: -5px}.mT-10{margin-top: -10px}.mT-15{margin-top: -15px}.m-15{margin: -15px 10px}.mT-40{margin-top: -40px}
.mT5{margin-top: 5px}.mT10{margin-top: 10px}.mT15{margin-top: 15px}.mT20{margin-top: 20px}.mT25{margin-top: 25px}.mT30{margin-top: 30px}.mT35{margin-top: 35px}
.mT40{margin-top: 40px}.mT50{margin-top: 50px}.mT60{margin-top: 60px}.mL5{margin-left: 5px}.mL10{margin-left: 10px}.mL15{margin-left: 15px}.mL20{margin-left: 20px}
.mL25{margin-left: 25px}.mL30{margin-left: 30px}.mL35{margin-left: 35px}.mL40{margin-left: 40px}.mR5{margin-right: 5px}.mR10{margin-right: 10px}
.mR15{margin-right: 15px}.mR20{margin-right: 20px}.mR25{margin-right: 25px}.mR30{margin-right: 30px}.mR35{margin-right: 35px}.mR40{margin-right: 40px}
.mB0{margin-bottom: 0}.mB5{margin-bottom: 5px}.mB10{margin-bottom: 10px}.mB15{margin-bottom: 15px}.mB20{margin-bottom: 20px}.mB25{margin-bottom: 20px}.mB30{margin-bottom: 35px}.mB35{margin-bottom: 40px}.mB40{margin-bottom: 40px}.mT95{margin-top: 95px}

.pR0{padding-right: 0}.pR5{padding-right: 5px}.pR10{padding-right: 10px}.pR15{padding-right: 15px}.pR20{padding-right: 20px}.pR30{padding-right: 30px}
.pR35{padding-right: 35px}.pR40{padding-right: 40px}.pL0{padding-left: 0px}.pL5{padding-left: 5px}.pL10{padding-left: 10px}.pL15{padding-left: 15px}
.pL20{padding-left: 20px}.pL25{padding-left: 25px}.pL30{padding-left: 30px}.pL35{padding-left: 35px}.pL40{padding-left: 40px}.pT5{padding-top: 5px}
.pT10{padding-top: 10px}.pT15{padding-top: 15px}.pT20{padding-top: 20px}.pT25{padding-top: 25px}.pT30{padding-top: 30px}.pT35{padding-top: 35px}
.pT40{padding-top: 40px}.pB5{padding-bottom: 5px}.pB10{padding-bottom: 10px}.pB15{padding-bottom: 15px}.pB20{padding-bottom: 20px}.pB25{padding-bottom: 25px}
.pB30{padding-bottom: 30px}.pB35{padding-bottom: 35px}.pB40{padding-bottom: 40px}.pL60{padding-left: 60px}.pL80{padding-left: 80px}.pL200{padding-left: 200px}
.pL220{padding-left: 220px}.pL240{padding-left: 240px}.pB2{padding-bottom: 2px} .pB1{padding-bottom: 1px} .pT80{padding-top: 80px}

.bg{background: url(/cw-assets/images/orange.jpg) no-repeat; background-size: cover}


/* Sweep To Right button*/ 
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FE5702;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active { color: white;}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right button*/

/* Sweep To Right button2*/
.hvr-sweep-to-right2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #FE5502;
  color: #fff;
}
.hvr-sweep-to-right2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right2:hover, .hvr-sweep-to-right2:focus, .hvr-sweep-to-right2:active { color: #FE5502;}
.hvr-sweep-to-right2:hover:before, .hvr-sweep-to-right2:focus:before, .hvr-sweep-to-right2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right button2*/




.icon-button {background-color: white;	border-radius: 4.6rem; cursor: pointer;	display: inline-block; font-size: 2.0rem; height: 4.6rem; line-height: 3.6rem;
	margin: 0 5px;	position: relative;	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 4.6rem;
}

/* Circle */
.icon-button span {border-radius: 0; display: block; height: 0;	left: 50%; margin: 0; position: absolute; top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {width: 4.6rem;	height: 4.6rem;	border-radius: 50px; margin: -23px;}
.facebook span {background-color: #3B5998;}
.google-plus span {background-color: #db5a3c;}

/* Icons */
.icon-button i {
	background: none;
	color: #3B5998;
	height: 3.6rem;
	left: 10%;
	line-height: 3.6rem;
	position: absolute;
	font-size: 20px;
	top: 12%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-facebook {color: #3B5998;}
.icon-button .fa-google {color: #DB5A3C;}
.icon-button:hover .fa-facebook,.icon-button:hover .fa-google {color: #fff;}
.facebook{color: #3B5998; font-size: 18px}
.google{color: #DB5A3C;  font-size: 18px}
/* Icons */

.switch {position: relative; display: inline-block; vertical-align: top; width: 100%; height: 30px; padding: 3px; background-color: #E7E7E7; border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); cursor: pointer;}

.switch-input {position: absolute; top: 0; left: 0; opacity: 0;}
.switch-label {position: relative; display: block; height: inherit; font-size: 12px; text-transform: uppercase; background: #eceeef; border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {content: attr(data-off); right: 11px; color: #aaa; text-shadow: 0 1px rgba(255, 255, 255, 0.5);}
.switch-label:after {content: attr(data-on); left: 11px; color: white; text-shadow: 0 1px rgba(0, 0, 0, 0.2); opacity: 0;}
.switch-input:checked ~ .switch-label {background: #FE5502; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);}
.switch-input:checked ~ .switch-label:before {opacity: 0;}
.switch-input:checked ~ .switch-label:after {opacity: 1;}
.switch-handle {position: absolute; top: 7px; left: 7px; width: 22px; height: 22px; background: white; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {content: ''; position: absolute; top: 50%; left: 50%; margin: -6px 0 0 -6px; width: 12px; height: 12px; background: #f9f9f9; border-radius: 6px; box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {left: 60px; box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);}
.switch-green > .switch-input:checked ~ .switch-label {background: #4fb845;}

.bg-success h3{margin-top: 0}
.bdrr{border-right: 1px solid #FE5502}
.bdrl{border-left: 1px solid #FE5502}
.or{font-size: 20px; font-weight: 400; font-size: 20px; margin-bottom: 0}
.bg-success h3 span{font-size: 16px; }
.btn-default2{padding: 10px 20px}
.footer{background: #1C1C1C; color: #fff; padding: 10px 0}
.footer p{margin-bottom: 0}
.footer a:hover{color: #fff}
.minh{min-height: 510px}
.minh3{min-height: 548px}
.usertype span {background-color: #3B5998;}
.usertype span {background-color: #db5a3c;}
.icon-button .fa-user {color: #FE5502;}
.icon-button .fa-building {color: #FE5502;}
.icon-button .fa-code-fork {color: #FE5502;}
.icon-button:hover .fa-user,.icon-button:hover .fa-building,.icon-button:hover .fa-code-fork {color: #fff;}
.btn-default3{border: none; border-bottom: 1px solid #FE5502; border-radius: 0; background: transparent; width: 100%; text-align: left; padding: 0 0px 2px 2px; font-size: 13px; margin-top: 20px}
.btn-default3:focus, .btn-default3:active:focus, .btn-default3.active:focus, .btn-default3.focus, .btn-default3.focus:active, .btn-default3.active.focus {box-shadow: none; outline: none}
.btn-default3 span.caret{margin-right: 5px; margin-top: -12px; float: right; color: #FE5502}
.dropdowncust{margin: 5px; position: relative; width: calc(100% - 2em);}
.selectr label.btn-primary{font-size: 12px; background: transparent;  color: #FE5502; border: 1px solid #FE5502; margin-top: 10px}
.selectr label.btn-primary.active, .selectr label.btn-primary:hover, .selectr label.btn-primary:focus{background: #FE5502; color: #fff;}
#map{width: 100%; height: 552px; top: 78px; z-index: -1; position: absolute;}
.fnt16{font-size: 16px; }
.pd{padding: 0.4em 0}
.formbg{background: rgba(255,255,255,0.6); margin-top: 150px; border-radius: 8px; padding: 0px 15px 5px 15px; border-top: 5px solid #FE5502; box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);}
.bg-success2 {background-color: #fe5502; border-radius: 0 0 8px 8px; color: #fff;}
.bg-success2 h3{margin-top: 5px}
a .truck1{background: url(/cw-assets/images/truck-type.png) no-repeat -89px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck1{background: url(/cw-assets/images/truck-type.png) no-repeat 23px 0px; height: 60px; width: 130px;}
a .truck2{background: url(/cw-assets/images/truck-type.png) no-repeat -352px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck2{background: url(/cw-assets/images/truck-type.png) no-repeat -225px 0px; height: 60px; width: 130px;}
a .truck3{background: url(/cw-assets/images/truck-type.png) no-repeat -657px 0px; height: 60px; width: 130px; transition:all 0.8s ease 0s;}
a:hover .truck3{background: url(/cw-assets/images/truck-type.png) no-repeat -500px 0px; height: 60px; width: 130px;}
a .truck4{background: url(/cw-assets/images/load.png) no-repeat -140px 0px; height: 60px; width: 138px; transition:all 0.8s ease 0s;}
a:hover .truck4{background: url(/cw-assets/images/load.png) no-repeat 8px 0px; height: 60px; width: 138px;}
a .truck5{background: url(/cw-assets/images/load.png) no-repeat -468px 0px; height: 60px; width: 138px; transition:all 0.8s ease 0s;}
a:hover .truck5{background: url(/cw-assets/images/load.png) no-repeat -310px 0px; height: 60px; width: 138px;}
a:hover .truck1,a .truck1-active{background: url(/cw-assets/images/truck-type.png) no-repeat 23px 0px; height: 60px; width: 130px;}
a:hover .truck2,a .truck2-active{background: url(/cw-assets/images/truck-type.png) no-repeat -225px 0px; height: 60px; width: 130px;}
a:hover .truck3,a .truck3-active{background: url(/cw-assets/images/truck-type.png) no-repeat -500px 0px; height: 60px; width: 130px;}


.btn-drop{background-color: transparent; border-bottom: 1px solid #FE5502; border-radius: 0; color: #000; text-align: left; width: 100%; padding: 0 5px; font-size: 12px}
.btn-drop .caret{float: right; margin: -10px 0 0; padding-bottom: 10px;}
.btn-drop:hover .caret{color: #fe5502}
.btn-drop:active{box-shadow: none; outline: none}
.dropdown-menu2{width: 95%}
.dropdown-menu2 > li > a:hover, .dropdown-menu2 > li > a:focus {background-color: #fe5502; color: #fff; text-decoration: none;}
.insu .radio{font-size: 16px }
textarea{background: transparent;border: none; border-bottom: 1px solid #fe5502; padding: 5px; width: 95%; margin: 0 5px; font-size: 13px}
.items .list-group-item{padding: 10px 3px; background: transparent;  border: none; border-bottom:1px solid #ccc;}
.fa-plus-circle{color: #FE5502}
.fa-pencil-square{font-size: 22px!important}
.fa-trash-o{font-size: 22px!important}
.fnt18{font-size: 18px}
.bidlink a{text-decoration: underline;}
.bidlink{ margin: 120px 100px }
.bdrd{border: 2px dashed #fe5502}
.coupon .btn-default2 {font-size: 14px; padding: 2px 20px;}
.btn-default4 {padding: 5px 10px;}
.ship li{width: 50%}
.bg-success3{background-color: #FE5502; color: #fff; border-radius: 0 8px 8px}
.bg-success3 a{ color: #fff }
.bg-success4{background-color: #565656; color: #fff; border-radius: 0 0 8px 8px}
.bg-success4 a{ color: #fff}
.dimage{height: 50px; width: 50px}
.navbtn{border: 1px solid #fe5502; border-radius: 5px; color: #fe5502; font-size: 21px; padding: 6px 10px 8px;}
.bg-success5{background-color: #FE5502; color: #fff; border-radius: 0}
.bg-success5 a{color: #fff; text-decoration: underline;}
.navbar-right li a{padding:20px 0 0 40px}
.navbar-right.prof a:hover{background: none}
.navbar-right li a:hover{background: transparent;}
.navbar-right li a:focus{background: transparent;}
.navbar-right li a:active{background: transparent;}
.navbar-right ul.dropdown-menu {margin-top: 10px;}
.navbar-right .dropdown-menu a{padding: 0;}
.navbar-right .dropdown-menu li a{padding: 5px 0 0 0; }
.navbar-right .dropdown-menu li img{width: 10px; height: 10px; float: left}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background: transparent;}
.arrow-up {width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #ffffff; position: absolute;
  top: -11px; left: 15%;}
.arrow-up-right {width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #ffffff; position: absolute;
  top: -8px; right: 7%;}
.prof img{height: 50px; width: 50px; margin-right: 10px}
.prof ul.navbar-right{margin-top: 0!important;}
.info{position: relative;}
a.info i.fa-bell{color: #fe5502}
a:hover.info i.fa-bell{color: #fff}
a.info p{position: absolute; right: 0px; }
.notinav ul.dropdown-menu{width: 250px}

/*trucker css */
.dropdown.info .btn-default:hover{background: transparent;}
.dropdown.rightpro .btn-default:hover{background: transparent;} 

.home{background: url(/cw-assets/images/sprite.png) 0px 0px no-repeat;  height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.bookt{background: url(/cw-assets/images/sprite.png) -28px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.pay{background: url(/cw-assets/images/sprite.png) -51px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.myship{background: url(/cw-assets/images/sprite.png) -75px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.pship{background: url(/cw-assets/images/sprite.png) -101px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.bidb{background: url(/cw-assets/images/sprite.png) -125px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.offer{background: url(/cw-assets/images/sprite.png) -150px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.noti{background: url(/cw-assets/images/sprite.png) -175px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.help{background: url(/cw-assets/images/sprite.png) -200px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.availablebids{background: url(/cw-assets/images/sprite.png) -283px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.availableorders{background: url(/cw-assets/images/sprite.png) -255px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.myveh{background: url(/cw-assets/images/sprite.png) -309px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.mydri{background: url(/cw-assets/images/sprite.png) -335px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.regularload{background: url(/cw-assets/images/sprite.png) -470px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.bidload{background: url(/cw-assets/images/sprite.png) -500px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.member{background: url(/cw-assets/images/sprite.png) -530px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.location{background: url(/cw-assets/images/sprite.png) -387px 0px no-repeat; height: 24px; width: 20px; float: left; margin: 2px 10px 0 0 }
.fullstar{background: url(/cw-assets/images/sprite.png) -410px 0px no-repeat; height: 24px; width: 24px; float: left; margin: 2px 0 0 0 }
.halfstar{background: url(/cw-assets/images/sprite.png) -433px 0px no-repeat; height: 24px; width: 24px; float: left; margin: 2px 0 0 0 }
.homerat li{padding: 0}

a.medit{background: url(/cw-assets/images/sprite.png) -225px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 ; border: none;}
a:hover.medit{background: url(/cw-assets/images/sprite.png) -225px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0; }
.fnt10{font-size: 10px}
.minh2{min-height: 515px}
.mainbg{background: url(/cw-assets/images/bg7.jpg) no-repeat; background-size: 100% 100%; height: 100%;}
.bg-trucker-nav{background:rgba(255,255,255,0.75)}
.formbg2{background: rgba(255,255,255,0.75); margin-top: 50px; border-radius: 8px 8px 0px 0px; padding: 0; box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);}
.circle-btn {background: #fe5502; height: 120px; width: 120px; border-radius: 50%; margin:0 auto; color: #fff; position: relative; box-shadow: 0px 0px 10px 1px #222; padding: 5px; transition: all 1s ease-in-out;}
.circle-btn p{color: #fff; font-size: 16px; font-weight: bold; position: relative; top:5px; line-height: 1; text-shadow:0 0 5px #2c2c2c;}
.circle-btn img{position: relative; top:5px; line-height: 1}
a:hover .circle-btn {background: #000; transform: scale(1.1); }
.badge2 {background-color: #000; border-radius: 50%; color: #fff; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px;
    padding:7px 10px; text-align: center; vertical-align: middle; white-space: nowrap; position: absolute; top: 0; right: 5px;  transition: all 1s ease-in-out;}
a:hover .circle-btn .badge2{background: #fe5502; }
.company-icon{height: 55px; width: 55px; margin: 0; background: #fe5502;}
.company-icon .fa-building{top: 18%; font-size: 29px; left: 18%; color: #fff}
a:hover.company-icon span{background: #000; height: 55px; width: 55px; margin: -28px; }
.bids a:hover {color: #565656}
.bids a:hover .text-primary{color: #565656}
.text-grey{color: #565656}
.bg-black{background: #000}
.bg-black p{font-size: 14px; color: #fff}
.bg-black p span{color: #fe5502; font-weight: 700}
.bg-black p a{color: #fff}
.btn-orange{background: #fe5502; color: #fff; font-weight: bold; width: 100%; border-radius: 0; height: 42px}
.w100{width: 100%}
.expand{background: url(/cw-assets/images/sprite.png) -362px 0px no-repeat; height: 24px; width: 25px; float: left; margin: -3px 10px 0 0 }
.insur img{max-height: 200px; max-width: 400px; width: 100%; height: auto; margin-top: 20px}
.btn-orange:hover .text-info{color: #000}
.btn-white{background: #fff; color: #fe5502; font-weight: bold; border-radius: 8px; height: 35px}
.dimg{height: 50px; width: 50px; border-radius: 50%}
.shiptruck li{width: 33.33%}
.shiptruck li{background: #fff; border-right: 1px solid #fe5502}
.shiptruck li:last-child{border: none}
.shiptruck li.active{border: none;}
.assigntable{background: #fff; border-radius: 8px;}
.bg-grey{background:#565656;}
.bg-grey2{background:#565656; border-radius: 0 0 8px 8px }
.pending li{width: 50%}
.pending li{background: #fff; border-right: 1px solid #fe5502}
.pending li:last-child{border: none}
.pending li.active{border: none;}
.pending ul {border-bottom: 3px solid #fe5502}
a.invoice{color: #fff; text-decoration: underline; font-weight: bold;}
.bdrn{border-radius: 0 0 8px 8px}
img.package{position: relative; top: 70px}
.bg-silver{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0aaaa+0,cdcbcb+24,d3d3d3+50,cdcbcb+81,b0aaaa+100 */
background: #b0aaaa; /* Old browsers */
background: -moz-linear-gradient(left, #b0aaaa 0%, #cdcbcb 24%, #d3d3d3 50%, #cdcbcb 81%, #b0aaaa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b0aaaa 0%,#cdcbcb 24%,#d3d3d3 50%,#cdcbcb 81%,#b0aaaa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b0aaaa 0%,#cdcbcb 24%,#d3d3d3 50%,#cdcbcb 81%,#b0aaaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0aaaa', endColorstr='#b0aaaa',GradientType=1 ); /* IE6-9 */
color:#303030; font-weight: bold; font-size: 22px;
}
.bg-gold{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edaf15+0,eaaf26+24,e9a611+50,eaaf26+80,edaf15+100 */
background: #edaf15; /* Old browsers */
background: -moz-linear-gradient(left, #edaf15 0%, #eaaf26 24%, #e9a611 50%, #eaaf26 80%, #edaf15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #edaf15 0%,#eaaf26 24%,#e9a611 50%,#eaaf26 80%,#edaf15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #edaf15 0%,#eaaf26 24%,#e9a611 50%,#eaaf26 80%,#edaf15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edaf15', endColorstr='#edaf15',GradientType=1 ); /* IE6-9 */
color:#303030!important; font-weight: bold; font-size: 22px;
}
.bg-platinum{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7b7b+0,9b9a9a+24,9e9e9e+50,9b9a9a+79,7f7b7b+100 */
background: #7f7b7b; /* Old browsers */
background: -moz-linear-gradient(left, #7f7b7b 0%, #9b9a9a 24%, #9e9e9e 50%, #9b9a9a 79%, #7f7b7b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7f7b7b 0%,#9b9a9a 24%,#9e9e9e 50%,#9b9a9a 79%,#7f7b7b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7f7b7b 0%,#9b9a9a 24%,#9e9e9e 50%,#9b9a9a 79%,#7f7b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7b7b', endColorstr='#7f7b7b',GradientType=1 ); /* IE6-9 */
color:#303030; font-weight: bold; font-size: 22px;
}
.bg-silver2{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0aaaa+0,cdcbcb+24,d3d3d3+50,cdcbcb+81,b0aaaa+100 */
background: #b0aaaa; /* Old browsers */
background: -moz-linear-gradient(left, #b0aaaa 0%, #cdcbcb 24%, #d3d3d3 50%, #cdcbcb 81%, #b0aaaa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b0aaaa 0%,#cdcbcb 24%,#d3d3d3 50%,#cdcbcb 81%,#b0aaaa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b0aaaa 0%,#cdcbcb 24%,#d3d3d3 50%,#cdcbcb 81%,#b0aaaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0aaaa', endColorstr='#b0aaaa',GradientType=1 ); /* IE6-9 */
color:#303030; font-weight: bold; font-size: 22px; border-radius: 8px; padding: 10px; opacity: 0.9
}
.bg-silver2 h3{font-weight: bold; margin-top: 0}
.bg-silver2 a{font-size: 14px}
.bg-gold2{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edaf15+0,eaaf26+24,e9a611+50,eaaf26+80,edaf15+100 */
background: #edaf15; /* Old browsers */
background: -moz-linear-gradient(left, #edaf15 0%, #eaaf26 24%, #e9a611 50%, #eaaf26 80%, #edaf15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #edaf15 0%,#eaaf26 24%,#e9a611 50%,#eaaf26 80%,#edaf15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #edaf15 0%,#eaaf26 24%,#e9a611 50%,#eaaf26 80%,#edaf15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edaf15', endColorstr='#edaf15',GradientType=1 ); /* IE6-9 */
color:#303030!important; font-weight: bold; font-size: 22px; border-radius: 8px; padding: 10px; opacity: 0.9
}
.bg-gold2 h3{font-weight: bold; margin-top: 0}
.bg-gold2 a{font-size: 14px}
.bg-platinum2{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7b7b+0,9b9a9a+24,9e9e9e+50,9b9a9a+79,7f7b7b+100 */
background: #7f7b7b; /* Old browsers */
background: -moz-linear-gradient(left, #7f7b7b 0%, #9b9a9a 24%, #9e9e9e 50%, #9b9a9a 79%, #7f7b7b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7f7b7b 0%,#9b9a9a 24%,#9e9e9e 50%,#9b9a9a 79%,#7f7b7b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7f7b7b 0%,#9b9a9a 24%,#9e9e9e 50%,#9b9a9a 79%,#7f7b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7b7b', endColorstr='#7f7b7b',GradientType=1 ); /* IE6-9 */
color:#303030; font-weight: bold; font-size: 22px; border-radius: 8px; padding: 10px; opacity: 0.9
}
.bg-platinum2 h3{font-weight: bold; margin-top: 0}
.bg-platinum2 a{font-size: 14px}



a.confirm{background-color: #fe5502; border-radius: 0 0 8px 8px; color: #fff; float: left; width: 100%; transition:all 1s ease-in-out 0s; text-shadow: 0px 0px 5px #000;}
a.confirm p{ font-size: 16px; font-weight: bold; line-height: 1;}
a:hover.confirm{background-color: #000; text-decoration: none}
.pop{width: 400px; top: 50px}
.pop .modal-body{padding: 0px;}
.pop .modal-content{border-radius: 0 0 10px 10px;}
.w50{width: 50%}
.bg-black2{background: #000; border-radius: 0 0 0px 8px; border: none; margin-right: -4px; color: #fff; border-top: 1px solid #000}
.bg-orange2{background: #fe5502; border-radius: 0 0 8px 0px; border: none; color: #fff;  border-top: 1px solid #fe5502}
.bg-black2:hover{background: #ffffff; color: #000}
.bg-orange2:hover{background: #ffffff; color: #fe5502}
.fnt24{font-size: 24px}
.filter a:hover{text-decoration: none; outline: none;}
.filter a:focus{text-decoration: none; outline: none;}
.filter .collapse{border-top: 1px solid #000000}
.filter .panel-group{margin-bottom: 0px}
.filter .panel-group .panel-heading{padding: 0}
.bdrb{border-bottom: 2px solid #fe5502}
#sticky.stick {margin-top: 0 !important; position: fixed; top: 0; z-index: 10000; border-radius: 0 0 0.5em 0.5em; width: 85%}
.track{cursor: pointer;}
.order{border-top: 20px solid #fff}
a:hover.invoice{color: #000}
.mCSB_container{margin-right: 0!important}
.mCustomScrollBox > .mCSB_scrollTools{width: 8px!important}
.actinact{width: 78%}
.maps {border-radius: 8px!important; height: 240px!important; width: 100%!important; position: relative!important; top: 0!important; z-index: 2!important}
.bdrbn{border-bottom: 0}
.loccontact{position: relative; top: -13px}
.noani label.input__label--hoshi::after{border: none!important; margin: 0!important; transform:none!important; transition:none!important;}
.scrlh{overflow-y: scroll;}
.imageset{height: 100px; width: 300px; margin: 0 auto}
.imageset img{height: 100%; width: 100%}
.input__field--hoshi{margin-top: 15px!important}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi, .input--filled .input__label-content--hoshi{animation:none;}


/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

h3{font-size: 18px}

.pL0-xs{padding-left: 0}.pL20-xs{padding-left: 20px}.pR40-xs{padding-left: 40px}
.pR0-xs{padding-right: 0}.pR20-xs{padding-right: 20px}.pR40-xs{padding-right: 40px}

.mT0-xs{margin-top: 0px}.mT5-xs{margin-top: 5px}.mT10-xs{margin-top: 20px}.mT20-xs{margin-top: 20px}.mT30-xs{margin-top: 30px}.mT40-xs{margin-top: 40px}
.mB0-xs{margin-bottom: 0px}.mB10-xs{margin-bottom: 20px}.mB20-xs{margin-bottom: 20px}
.mL20-xs{margin-left: 20px}
.mR20-xs{margin-right: 20px}

.text-center-xs{text-align: center;}.text-left-xs{text-align: left;}
.footer{margin-top: 0}
.minh{min-height: 0}
.minh2{min-height: 0}
.minh3{min-height: 0}
.minh-xs{min-height: 500px}
.info ul.dropdown-menu {float: left; left: 0; margin-left: 10px; margin-top: 10px; padding: 0; width: 300px;}
.info ul.dropdown-menu::after, .info ul.dropdown-menu::before{left: 15%}
.bdrr-xs{border-right: 0;}
.pL220{padding-left: 0}
.mainbg {background: rgba(0, 0, 0, 0) url("/cw-assets/images/bg7.jpg") no-repeat scroll -210px 0 / cover ; height: 100%;}
.nobg{background: none}
.formbg2{box-shadow: none}
a.confirm{border-radius: 0}
h4.text-primary{font-size: 14px}
.fnt14-xs{font-size: 14px}
.pop{width: 94%;}
.pull-left-xs{float: left!important;}
.bdrn-xs{border: none!important;}
#sticky.stick {margin-top: 0 !important; position: fixed; top: 0; z-index: 10000; border-radius: 0 0 0.5em 0.5em; width: 100%; margin-bottom: 20px}
.bdrb.nav > li > a{font-size: 12px; border-radius: 0}
.driver-xs .dimg{margin-right: 10px; float: none!important;}
.driver-xs a{float:right; margin-top: -10px}
.order .bg-success3{border-radius: 0}
.bg-success4{border-radius: 0}
.bg-silver{font-size: 16px;}
.bg-gold{font-size: 16px;}
.bg-platinum{font-size: 16px;}
.actinact{width: 100%}
.navbar-right.prof li ul.dropdown-menu{margin-left: 25px; background: #fff; position: absolute; top: 85px; width: 300px; border-radius: 8px}
.navbar-right.prof li ul.dropdown-menu li:first-child{border-right: 1px solid #fe5502}
.arrow-up{top: -15px; left: 24px; border-bottom: 15px solid #fff}
.arrow-up-right{right: 18%}
.navbar-nav.notinav .open .dropdown-menu{ background-color: #fff; border: 0 none; box-shadow: none; float: left; left: -151px; margin-top: 84px; 
  position: absolute; width: 290px;} 
.list-inline-xs {padding-left: 0; margin-left: -5px; list-style: none;}
.list-inline-xs > li {display: inline-block; padding-right: 5px; padding-left: 5px;}
.bdrr-xs2{border-right: 1px solid #fe5502}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding: 0 15px 5px 25px}
.imageset{height: 100px; width: 260px; margin: 0 auto}
.switch-input:checked ~ .switch-handle{left: 42px;}

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.pL0-sm{padding-left: 0}.pL10-sm{padding-left: 10px}.pL20-sm{padding-left: 20px}.pR40-sm{padding-left: 40px}
.pR0-sm{padding-right: 0}.pR10-sm{padding-right: 10px}.pR20-sm{padding-right: 20px}.pR40-sm{padding-right: 40px}
.pB20-sm{padding-bottom: 20px}

.mT0-sm{margin-top: 0px}.mT5-sm{margin-top: 5px}.mT10-sm{margin-top: 10px}.mT20-sm{margin-top: 20px}.mT25-sm{margin-top: 25px}.mT30-sm{margin-top: 30px}.mT40-sm{margin-top: 40px}
.mT60-sm{margin-top: 60px}.mT100-sm{margin-top: 100px}
.mB0-sm{margin-bottom: 0px}.mB10-sm{margin-bottom: 10px}.mB20-sm{margin-bottom: 20px}.mB30-sm{margin-bottom: 30px}
.mL15-sm{margin-left: 15px}.mL20-sm{margin-left: 20px}
.mR15-sm{margin-right: 15px}.mR20-sm{margin-right: 20px}

h3{font-size: 18px}
.minh-sm{min-height: 745px}
.minhh-sm{min-height: 905px}
.mainbg{background: url("/cw-assets/images/bg7.jpg") no-repeat scroll -400px 0 / cover }
.pull-left-sm{float: left!important;}
.bdrn-sm{border: none!important;}
.actinact{width: 100px}
.text-left-sm{text-align: left}
.text-right-sm{text-align: right}
#sticky.stick{width: 94%}
.pull-right-sm{float: right;}
.switch-input:checked ~ .switch-handle{left: 70px}

}
/*shipper listing view*/

.bg-black{background: #000}
.bg-black p{font-size: 14px; color: #fff}
.bg-black p span{color: #fe5502; font-weight: 700}
.bg-black p a{color: #fff}
.table thead tr th{text-align: center; font-size: 16px; border: 1px solid #fff; border-top: none}
.table thead tr.bg-black th{color: #fff}
.table tbody tr td{text-align: center; font-size: 16px;}
.table tbody tr{margin-top: 20px}
.table tbody tr td .btn-orange{height: 28px; padding: 3px 5px 5px 5px; font-weight: normal; font-size: 15px}
.modal-content{max-height: 500px; overflow-y: scroll}
.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #e7e7e7;}



/*trucker listing view*/
.mainbg-agents{background: url(../images/bg7.jpg) no-repeat; background-size: 100% 100%; height: 105%;}
.bg-agents {background-color: #FE5502; color: #fff; border-radius: 4px;}
.agentsshipper img{position: relative; top: -20px; left: 10px}
.agentsshipper h3{border-bottom: 1px solid #000000; padding-bottom: 5px; margin-top: 15px}
.minh-agents{min-height: 275px; background: }
.agents-form{background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);
    margin-top: 50px;
    padding: 0;
}

.table thead tr th{text-align: center; font-size: 16px; border: 1px solid #fff; border-top: none}
.table thead tr.bg-black th{color: #fff}
.table tbody tr td{text-align: center; font-size: 16px;}
.table tbody tr{margin-top: 20px}
.table tbody tr td .btn-orange{height: 28px; padding: 3px 5px 5px 5px; font-weight: normal; font-size: 15px}
.bidplaced{font-size: 12px;}
.mT2{margin-top: 2px}