<div class="container minh">
<div class="row">

<div class="col-md-12 mT30 pL0-xs pR0-xs mB20-xs">
  <div class="bg-success pL20 pT15 pB10">
      <h3><%-tt().t_payments_txt%></h3>
  </div>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<% if(typeof err !="undefined" && err){%>
		<p class="alert alert-waring"><%-err%></p>
		<%}%>
	<% if(typeof transactions !="undefined" && transactions){%>
	   <div class="col-md-8">
		<div class="col-md-4 ">	
	      <strong>Your Pending Payment</strong>
		</div>   
	   <div class="col-md-12 ">
	     <label>Instalment : </label><strong><%-transactions.instalment%>%</strong>
	   </div>
	   <div class="col-md-12 ">
	     <label>Amount pending : </label><strong><%-transactions.amount%></strong>
	   </div>
	   <div class="col-md-12 ">
	     <label>Total Payment : </label><strong><%-transactions.amount%></strong>
	   </div>
	  </div>   
     <%}%>	
	
	</div>
</div>
<div class="col-md-12">
  <div class="col-md-6" >
	  <p>We are redirecting you on payment page in <span id="seconds"></span> Seconds or <a href="<%-shipperUrl('shipments/pay')%>">Click Here</a></p>
  </div>
</div>	
</div>
<script type="text/javascript">
   require(['payments'],function(){ 
	   var seconds =10;
	   var intv = setInterval(function(){
		   $("#seconds").html(seconds--)
		   if(seconds<=0){
			   clearInterval(intv);
			  location.href =shipperUrl('shipments/pay'); 
		   }
	   },1000);
   });
</script>