<div class="container minh">
<div class="row">

<div class="col-md-12 mT30 pL0-xs pR0-xs mB20-xs">
  <div class="bg-success pL20 pT15 pB10">
      <h3><%-tt().t_payments_txt%></h3>
  </div>
</div>
</div>
<input type="hidden" id="payment-paginate" value="<%-shipperUrl('users/payments')%>">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<% include paginate.ejs%>
<br id="payments-before">	
<div id="load-page"></div>	
</div>
<script type="text/javascript">
require(['payments']);
</script>