<div class="row mT10 mB20 mT0-xs"> 
<% if(payments.length>0){
 payments.forEach(function(p,i){
	var shipment = p.shipment_id || {}; 
 %> 
<div class="col-md-6 pL0-xs pR0-xs mT20-xs mT20-sm">
<div class="bg-primary pT5 login">
<div class="row bids">
<div class="col-md-12 pL30 pR30 pL40-xs pR40-xs">
<div class="row">
  <div class="col-md-4 mT20 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></h4>
  </div>  
    <div class="col-md-4 text-center mT10 col-xs-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.unloading.up_city:''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 col-xs-6 bdrr fnt14-xs">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 col-xs-6 text-right fnt14-xs pR20-xs">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt('shipments').t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
</div>
</div>
<p class="mT10"><%-shipment.shipment_detail?shipment.shipment_detail.truck_name:null%></p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-9 pR0 col-sm-9">
<div class="bg-black pT10 pL10 pB2 pL20-xs pR20-xs">
<p><%-p.status==1?tt('users').t_complete_payment_done:tt('users').t_payment_pending%> | <a href="<%-shipperUrl('shipments/detail/'+shipment._id)%>"><%-tt('users').t_view_order_detail%></a></p>
</div>
</div>
<div class="col-md-3 pL0 col-sm-3">
<a class="btn btn-orange pT10" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%-p._id+i%>" aria-expanded="true" aria-controls="collapseOne"><span class="glyphicon glyphicon-chevron-down text-info fnt16 mR10"></span> <%-tt('users').t_view_status%> </a>
</div>
</div>
<div id="accordion" role="tablist" aria-multiselectable="true">
<div id="collapse<%-p._id+i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body text-center">
<h3 class="mT0"><%-tt('users').t_final_payment%> - <span class="text-primary "><%-tt('shipments').t_rupee_sign%> <%-p.total.toFixed(2)%></span></h3>
<div class="row mT20">
<% if(p.status==1){%>
<div class="col-md-12 text-center">
<p class="fnt16 mB0"><strong> <%-tt('users').t_complete_payment%> - <span class="text-primary"><%-tt('shipments').t_rupee_sign%><%-p.total.toFixed(2)%></span></strong></p>
<span>(100% <%-tt('shipments').t_of_final_total%>)</span>
<p class="mT20"><%-tt('shipments').t_you_have_done_complete_payment%></p>
</div>
<%}else{%>	
<%p.transactions.forEach(function(t,n){%>
<div class="col-md-6 text-center <%-n==1?'bdrl':null%>">
<p class="fnt16 mB0"><strong> <%-n==0?tt('users').t_first_payment:tt('users').t_second_payment%> - <span class="text-primary"><%-tt('shipments').t_rupee_sign%><%-t.amount.toFixed(2)%></span></strong></p>
<span>(<%-t.instalment%>% <%-tt('users').t_of_final_total%>)</span>
<p class="mT20"><%-tt('users').t_you_selected%> <strong><%-t.mode==1?tt('users').t_on_loading:tt('users').t_online%></strong> <%-tt('users').t_op_earliar%> <%-tt('users').t_rest_amout%> <strong><%-t.mode==2?tt('users').t_on_unloading:tt('users').t_online%></strong> <%-tt('users').t_now_txt%>.</p>
<br>
<% if(t.status==1){%>
<%-tt('users').t_payment_done%>
<%}else{%>	
<a href="<%-shipperUrl('users/payments/final-pay/'+p._id)%>" class="btn  btn-default btn-default hvr-sweep-to-right mR10"><%-tt('users').t_pay_onlinenow%></a>
<%}%>	
</div>
<%})}%>
</div>


</div>
</div>
</div>
</div>
</div>

</div>
</div>
<%})}%>
</div>