<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="<%-assetsp%>images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title><%-global.pageTitle%></title>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap.css">
  <link rel="stylesheet" href="<%-assetsp%>css/input.css">
  <link rel="stylesheet" type="text/css" href="<%-assetsp%>css/component.css" />
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap-slider.css" media="all"> 
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/style.css" media="all">
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/developer.css" media="all">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="<%-assetsp%>css/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet"/>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>	
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js' type="text/javascript"></script>	
	
</head>
<div class="scrollBox">

<body class="cbp-spmenu-push contentScrolling">
<div class="scrollBox">
 <%- include sidebar.ejs %>
</div>
  
<div class="mainbg">    
<div class="bg-trucker-nav pB10 pT10 pR40">
<div class="row">
<% if(global.loggedUser && global.loggedUser._id){%>	
<div class="col-md-1 text-center mT10 col-xs-4 col-sm-2">  
<section class="hidden">
          <!-- Class "cbp-spmenu-open" gets applied to menu -->
          <button id="showLeft">Show/Hide Left Slide Menu</button>
          <button id="showRight">Show/Hide Right Slide Menu</button>
          <button id="showTop">Show/Hide Top Slide Menu</button>
          <button id="showBottom">Show/Hide Bottom Slide Menu</button>
</section>
<section class="buttonset">
<button id="showLeftPush" class="navbtn">
<span class="glyphicon glyphicon-menu-hamburger"></span></button>
</section>
</div>
<%}%>
<div class="col-md-3">
        <p class="mT20 applang"> Select langage : <img src="<%-assetsp%>images/united-kingdom.jpg" class="mT-5"/> <a href="#en"><%-tt('default').t_english%></a> | <img src="<%-assetsp%>images/india.jpg" class="mT-5"/> <a href="#hi"><%-tt('default').t_hindi%></p>
</div>        
<div class="col-md-3 text-center col-xs-8 mT5 mT10-xs col-sm-4 mT10-sm">  
<a href="#"><img src="<%-assetsp%>images/logo.png" class="img-responsive"></a>  
</div>
<% if(global.loggedUser && global.loggedUser._id){%>	
<div class="col-md-4 pull-right mT-15 col-xs-12 mT0-xs col-sm-6">

<ul class="nav navbar-nav navbar-right prof pull-left-xs">

  <li class="dropdown">
  <a href="#" class="dropdown-toggle pull-left-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <p class="text-center mT-10"><img src="<%-global.loggedUser.getImage()%>" class="img-circle profile pull-left mT10"/><h4 class="pull-left mT0 mB0"><%-tt('default').t_welcome%></h4> <%-global.loggedUser.getName()%></p>
  <ul class="dropdown-menu list-inline-xs">
    <div class="arrow-up"></div>
	<% if(loggedUser.asAgent()){%>  
    <li class="mB10"><img src="<%-assetsp%>images/edit2.png" class="pull-left mR10 mL10 mT5"><a href="<%-agentUrl('users/dashboard')%>"> <%-tt('default').t_agent_dashboard%></a></li>
    <hr>
	<%}%>  
    <li class="mB10 bdrr-xs2 mB0-xs"><a href="<%-truckerUrl('users/edit-profile')%>"><img src="<%-assetsp%>images/edit2.png" class="pull-left mR10 mL10 mT5"> <%-tt('default').t_edit_profile%></a></li>
    <li><a href="<%-truckerUrl('logout')%>"><img src="<%-assetsp%>images/logout.png" class="pull-left mR10 mL10 mT5"> <%-tt('default').t_logout%></a></li>
  </ul>
</li>
</ul>

<div class=" text-right pull-right mT20 info">
<notification-counter url="<%-truckerUrl('users/notification-counter')%>"  lnurl="<%-truckerUrl('users/load-notifications')%>" mrkead="<%-truckerUrl('users/webnoti-read')%>" seeall="<%-truckerUrl('users/notifications')%>" ></notification-counter>

</div>

</div>
<%}else{%>
<div class=" text-right pull-right mT20 info">
	<a href="<%-webappUrl('')%>">Back to Home</a>

</div>
<%}%>
</div>
</div> 

<!--mainbg-->
<%-body%>
</div>
<div class="footer mT40 pB10">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <p>&copy; <%-tt('default').t_copyright%></p>
    </div>
    <div class="col-md-6 col-sm-6">
      <ul class="list-inline pull-right">
		  
      <li><a href="#"><%-tt('default').t_terms_of_service%></a> |</li>
      <li><a href="#"><%-tt('default').t_privacy_policy%></a></li>
    </ul>
    </div>
</div>
</div>
</div> 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" >
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" >


<script src="<%-assetsp%>js/require.min.js"></script>
<script type="text/javascript">
var cwApp =  angular.module('cargoWala',['ngRoute']);
requirejs.config({
	baseUrl: "<%-assetsp%>js",
	"waitSeconds" :0,
    paths: {
        jquery: '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min',
        bootstrap: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min',
        moment: '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min',
        bootstrap_calender: '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min',
	    bootstrap_slider:'//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min',
	    jqueryui:"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min",
	    //modernizr:"js/trucker/modernizr.custom.js",
	    mCustomScrollbar:"/js/jquery.mCustomScrollbar",
	    core:"<%-assetsp%>js/core",
	    select2:"<%-assetsp%>js/select2.full",
	    _dashboard:"<%-assetsp%>js/trucker/dashboard",
	    shipments:"<%-assetsp%>js/shipper/shipments",
	    itemdetail:"<%-assetsp%>js/shipper/itemdetail",
	    shipment:"<%-assetsp%>js/trucker/shipment",
	    vehicles:"<%-assetsp%>js/trucker/vehicles",
	    drivers:"<%-assetsp%>js/trucker/drivers",
    },
	shim: {
	     jquery: {
            exports: 'jquery'
        },
		moment:{
		    exports:'moment',		 
		}, 
        bootstrap: {
            //These script dependencies should be loaded before loading backbone.js
            deps: ['jquery'],
            //Once loaded, use the global 'Backbone' as the module value.
            exports: 'bootstrap'
        },
					 
		_dashboard:{
			deps: ['moment','bootstrap_calender','jqueryui'],	 
		},
		mpcustom:{
			deps:['jquery','moment']	 
		},
		mCustomScrollbar:{
		    deps:['jquery'] 		 
		},
		core:{
			deps:['jquery','mCustomScrollbar']	 
		},		 
		shipments:{
			deps:['mpcustom']	 
		},		 
		jqueryui:{
			deps :['jquery'],	 
		    exports:'jqueryui',		 
	    },
		itemdetail:{
		        deps:['mpcustom'],		 
		},		 
       
				 
    }			 
    
});	
  
  require(['jquery','bootstrap','classie','modernizr.custom','bootstrap_calender',/*'core',*/'mpcustom','bootstrap_slider'],function($,bootstrap,classie,angular){
	   
	var ferrors={};  
	$("[data-form='ajax']").on('submit',function(e){ e.preventDefault();
		$("#login-msg").html('');
		var submit_btn = $("input[type='submit']").get(0),f =$(this);						    
		//if(f.attr('ferrors')){
		//   mp.validate(ferrors.err,ferrors.form);
		//   return;	
		//}
		$("#"+$(this).attr('id')+"-1error").html('');											
		$("#"+$(this).attr('id')+"-1success").html('');											
		submit_btn.disabled = true;	
	    $.post(f.attr('action'),f.serialize(),function(res){ submit_btn.disabled = false;		
			if(!res.errors && !res.msg && !res.status || res.msg)
			   $("#login-msg").html(res.msg || "Invalid username or password.")
            else if(res.status && res.status==200){ 	
			  if(res.display){
				if(res.display.html){  
				$("#"+res.form+"-success").addClass('success').html(res.display.html);
				$(".make-visible-control").attr('display','block');  
				}else if(res.display.success){
				 $("#"+res.form+"-1success").addClass('mp-success').html(res.display.success);	
				}
			}else{
			      //history.pushState({url:res.next},null,res.next);
				  window.location.href=res.next;
			}
			}
			else if(res.status && res.status == 206){
			    if(res['cb']){ 
				   var func = eval(res['cb']);
					//console.log(func)
				       func.call(null,res.data);			
				}
			}												
			else if(res.errors){ //console.log(res.errors);
			    if(res.display){
				   if(res.display.error){
				    $("#"+res.form+"-1error").addClass('mp-error').html(res.display.error);	
				  }
			    }	
				if(!f.attr('partial')){  
				    f.attr('ferrors',1)
				    ferrors  = {'form':res.form||'register',err:res.errors};
				}
				mp.validate(res.errors,res.form ||'register');
			}
		});
	});
	var states =[];
	var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str.name)) {
        matches.push(str.name);
      }
    });

    cb(matches);
  };
};
  
	(function($){	 	
	$.post('/shipper/dropdownlist/states',function(r){
		   states = r.states;
	});
	/*$('#register-business-registered_state').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});	*/
	})($);
 
	 $("p.applang").on('click','a',function(e){ e.preventDefault();
	var $this = $(this);										
	$.post('/webapp/app-lang',{code:$this.attr('href').replace('#','')},function(res){
		location.reload();
	})
});
	 (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

      showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
      };
      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };
      showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
      };
      showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
      };
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      /*showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
      };*/

      function disableOther( button ) {
        if( button !== 'showLeft' ) {
          classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
          classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
          classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
          classie.toggle( showRightPush, 'disabled' );
        }
      }  


  });

</script>
</body>
<script src="<%-assetsp%>js/angular-cotrollers.js" type="text/javascript" ></script>	
<%-script%>
</html>
