<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="<%-assetsp%>images/favicon.png" />
  <!-- Mobile Metas -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="description" content="Transforming the way India delivers. Trucking shall be a pleasure! That's our promise.">
  <title><%-global.pageTitle%></title>
	
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap.css">
  <link rel="stylesheet" href="<%-assetsp%>css/input.css">
  <link rel="stylesheet" type="text/css" href="<%-assetsp%>css/component.css" />
  <link rel="stylesheet" href="<%-assetsp%>css/bootstrap-slider.css" media="all"> 
  <link rel="stylesheet" href="<%-assetsp%>css/select2.css" media="all">
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/style.css" media="all">
  <link rel="stylesheet" href="<%-assetsp%>css/trucker/developer.css" media="all">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="<%-assetsp%>css/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet"/>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>	
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js' type="text/javascript"></script>	
</head>
<body class="cbp-spmenu-push contentScrolling" ng-app="cargoWala">
<div class="scrollBox"><!--mainbg-->
<%-body%>
</div>
</body>	
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" >
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" >
<script src="<%-assetsp%>js/require.min.js"></script>

<script type="text/javascript">
// angular app
var cwApp =  angular.module('cargoWala',['ngRoute']);	
requirejs.config({
	baseUrl: "<%-assetsp%>js",
	"waitSeconds" :0,
    paths: {	    
        jquery: '//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min',
        bootstrap: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min',
        moment: '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min',
        bootstrap_calender: '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min',
	    bootstrap_slider:'//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min',
	    jqueryui:"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min",
        	
	    //modernizr:"js/trucker/modernizr.custom.js",
	    mCustomScrollbar:"/js/jquery.mCustomScrollbar",
	    core:"<%-assetsp%>js/core",
	    select2:"<%-assetsp%>js/select2.full",
	    _dashboard:"<%-assetsp%>js/shipper/dashboard",
	    shipments:"<%-assetsp%>js/shipper/shipments",
	    itemdetail:"<%-assetsp%>js/shipper/itemdetail",
	    shipment:"<%-assetsp%>js/trucker/shipment",
	    vehicles:"<%-assetsp%>js/trucker/vehicles",
	    drivers:"<%-assetsp%>js/trucker/drivers",
    },
	shim: {
	     jquery: {
            exports: 'jquery'
        },
		moment:{
		    exports:'moment',		 
		}, 
        bootstrap: {
            //These script dependencies should be loaded before loading backbone.js
            deps: ['jquery'],
            //Once loaded, use the global 'Backbone' as the module value.
            exports: 'bootstrap'
        },
					 
		_dashboard:{
			deps: ['moment','bootstrap_calender','jqueryui'],	 
		},
		mpcustom:{
			deps:['jquery','moment']	 
		},
		mCustomScrollbar:{
		    deps:['jquery'] 		 
		},
		core:{
			deps:['jquery','mCustomScrollbar']	 
		},		 
		shipments:{ //shipper module js...
			deps:['mpcustom']	 
		},
		shipment:{ //trucker module js...
			deps:['mpcustom'],
	    },			 
		jqueryui:{
			deps :['jquery'],	 
		    exports:'jqueryui',		 
	    },
		itemdetail:{
		        deps:['mpcustom'],		 
		},
		vehicles:{
				deps:['moment','mpcustom','bootstrap_calender','jqueryui'] 
		},
		drivers:{
				deps:['moment','mpcustom','bootstrap_calender','jqueryui'] 
		},		 
       
				 
    }			 
    
});	
  
  require(['jquery','bootstrap','classie','modernizr.custom','bootstrap_calender','select2',/*'core',*/'mpcustom','bootstrap_slider'],function($,bootstrap,classie){
	$(".select2").select2();
  });
</script>
<script src="<%-assetsp%>js/angular-cotrollers.js" type="text/javascript" ></script>	
<%-script%>
</html>
