  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left contentScrolling" id="cbp-spmenu-s1">
      <p class="navpr"><img src="<%-global.loggedUser.getImage()%>" class="img-circle pull-left profile" > <%-tt('default').t_welcome%> <br> <%-global.loggedUser.getName()%> <a class="medit pull-right" href="<%-truckerUrl('users/edit-profile')%>"></a></p>
      <a href="<%-truckerUrl('users/dashboard')%>"> <div class="home"></div> <%-tt('default').t_home%></a>
      <a href="<%-truckerUrl('shipments/regular-load-board')%>"> <div class="regularload"></div> <%-tt('default').t_regular_load_board%></a>
      <a href="<%-truckerUrl('shipments/bid-load-board')%>"> <div class="bidload"></div> <%-tt('default').t_bid_load_board%></a>
      <!--<a href="<%-truckerUrl('shipments/confirmation')%>"> <div class="availableorders"></div><%-tt('default').t_confirm_orders%> </a>-->
      <a href="<%-truckerUrl('users/payments')%>"><div class="pay"></div><%-tt('default').t_payments%>  </a>
      <a href="<%-truckerUrl('users/my-shipments')%>"><div class="myship"></div><%-tt('default').t_myshipments%>  </a>
      <a href="<%-truckerUrl('vehicles/')%>"><div class="myveh"></div><%-tt('default').t_myvehicles%>  </a>
      <a href="<%-truckerUrl('drivers')%>"><div class="mydri"></div><%-tt('default').t_mydrivers%>  </a>
      <a href="<%-truckerUrl('users/membership')%>"><div class="mydri"></div><%-tt('default').t_membership_plans%>  </a>
      <a href="<%-truckerUrl('users/notifications')%>"><div class="noti"></div><%-tt('default').t_notification%>  </a>
      <a href="<%-webappUrl('help-and-support')%>"><div class="help"></div><%-tt('default').t_helpandsupport%>  </a>
    </nav>