/*agents screen*/
.mainbg-agents{background: url(/cw-assets/images/bg7.jpg) no-repeat; background-size: 100% 100%; height: 105%;}
.bg-agents {background-color: #FE5502; color: #fff; border-radius: 4px;}
.agentsshipper img{position: relative; top: -20px; left: 10px}
.agentsshipper h3{border-bottom: 1px solid #000000; padding-bottom: 5px; margin-top: 15px}
.minh-agents{min-height: 275px; background: }
.agents-form{background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 21px rgba(32, 31, 31, 0.32);
    margin-top: 50px;
    padding: 0;
}


/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

/*agents screen*/
.mainbg-agents{background: #e7e7e7; height: 100%}    
.agents-form{box-shadow: none; background: #dbdbdb}
.agentsshipper img{left: 0}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

/*agents screen*/    
.mainbg-agents{background: url(../images/bg7.jpg) no-repeat -400px 0; background-size: cover; }    
.pL40-sm{padding-left: 40px}    
}
