<div class="container">

<div class="row">


  <div class="col-md-6 col-md-offset-3 mT30">

      <div class="bg-success text-center pT15 pB10">
      <h3><%-tt('users').t_enter_company_detail%></h3>
      </div>
    

<div class="bg-primary pB5 login pL40 pR40">

<form action="/shipper/company"   method="post">  
 
<div class="row">
  <div class="col-md-6 text-left">
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][name]" id="register-business-name" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_business_name%></span>
          </label>
        </span>
</div>  

<div class="col-md-6 text-left">


        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="text" name="Register[business][landline]" id="register-business-landline" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi"><%-tt('users').t_lanline_no%></span>
          </label>
        </span>

</div>
</div>        
   

<div class="row">
<div class="col-md-12 text-center selectr mT10">
<p><%-tt('users').t_select_business%></p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary option-form-select" for="register-business-manufacturing">
    <img src="<%-assetsp%>images/manufacture.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-manufacturing" autocomplete="off" value="2" > <br><%-tt('users').t_manufacturing_company%>
  </label>
  <label class="btn btn-primary option-form-select" for="register-business-warehouse">
    <img src="<%-assetsp%>images/warehouse.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-warehouse" autocomplete="off" value="3"> <br><%-tt('users').t_warehouse%>
  </label>
  <label class="btn btn-primary option-form-select" for="register-business-distributer">
    <img src="<%-assetsp%>images/distributor.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-distributer" autocomplete="off" value="5"> <br><%-tt('users').t_distributer%>
  </label>
  <label class="btn btn-primary option-form-select" for="register-business-logistics">
    <img src="<%-assetsp%>images/distributor.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-logistics" autocomplete="off" value="1"> <br><%-tt('users').t_logistics%>
  </label>
  <label class="btn btn-primary option-form-select" for="register-business-trader">
    <img src="<%-assetsp%>images/distributor.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-trader" autocomplete="off" value="6"> <br><%-tt('users').t_traders%>
  </label>	
  <label class="btn btn-primary option-form-select" for="register-business-others">
    <img src="<%-assetsp%>images/others.png"/>
	  <input type="radio" name="Register[business_type][btype]" id="register-business-others" autocomplete="off" value="4"> <br><%-tt('users').t_others%>
  </label>
	<input type="text" name="Register[business_type][others]" class="cs-hidden" id="register-business_type-others">
  <p class="cmperrmsg register-business_type-btype-error"></p>	
</div>
</div>
</div>

<div class="row">
<div class="col-md-12 text-center selectr mT40">
<p><%-tt('users').t_select_company%></p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary option-form-select1" for="register-company-public">
    <img src="<%-assetsp%>images/public.png"/>
	  <input type="radio" name="Register[company_type][ctype]" id="register-company-public"  value="5" > <br><%-tt('users').t_public_sector%>
  </label>
  <label class="btn btn-primary option-form-select1" for="register-company-proprietary">
    <img src="<%-assetsp%>images/proprierty.png"/>
	  <input type="radio" name="Register[company_type][ctype]" id="register-company-proprietary" value="1" > <br><%-tt('users').t_proprietary%>
  </label>
  <label class="btn btn-primary option-form-select1" for="register-company-partnership">
    <img src="<%-assetsp%>images/partnership.png"/>
	  <input type="radio" name="Register[company_type][ctype]" id="register-company-partnership" value="2" > <br><%-tt('users').t_partnerfirm%>
  </label>
  <label class="btn btn-primary option-form-select1" for="register-company-private">
    <img src="<%-assetsp%>images/private.png"/>
	  <input type="radio" name="Register[company_type][ctype]" id="register-company-private" value="3"> <br><%-tt('users').t_private_limited%>
  </label>
  <label class="btn btn-primary option-form-select1" for="register-company-others">
    <img src="<%-assetsp%>images/others.png"/>
	  <input type="radio" name="Register[company_type][ctype]" id="register-company-others" value="4"> <br><%-tt('users').t_others%>
  </label>
	<input type="text" name="Register[company_type][others]" class="cs-hidden" id="register-business_type-others">
	 <p class="cmperrmsg register-company_type-ctype-error"></p>
</div>
</div>
</div>



    
    <div class="row">
      <div class="col-md-12 text-center mT20">
        <p class="text-danger"></p>
      </div>
    </div>


    <div class="row">
    
      <div class="col-md-12 text-center">
		<input type="submit" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt('users').t_continue%>">  
    
      </div>
    </div>

        


</form>
    </div>  
  </div> 
</div>
</div>