    </div>  
<div class="container minh" >
<div class="row">
  <div class="col-md-6 col-md-offset-3 mT30">
   <div class="bg-success pT15 pB10 text-center">
   <h3>Forgot Your Password</h3>
   </div> 
<div class="bg-primary pB5 text-center  login">
      
<form id="forgot-form" action="/shipper/forgot-password" method="post">  
<div class="row">
  <div class="col-md-8 col-md-offset-2 mT20">
      <p class="or"> let us know your registred email. </p>
       <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="email" name="Forgot[email]" id="forgot-email" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Enter your email id</span>
          </label>
        </span>
	  <div class="row">       
      </div>
      <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-danger" id="login-msg"></p>
      </div>
    </div>
       <input type="submit" name="submit" class="btn btn-default hvr-sweep-to-right mT10"  value="Submit">
	  <div class="row">
		 
		  <p class="mT10">OR</p>
		 <a href="/shipper/">Back to Login</a> 
      </div>
	  
   
</div>
</div>
</form>
    </div>  
  </div> 
</div>
</div>
