
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 mT30">
   <div class="bg-success pT15 pB10 text-center">
   <h3>Sign in to your account now</h3>
   </div> 
<div class="bg-primary pB5 text-center login">
      
<form id="login-form" action="/shipper/login" method="post">  
 
<div class="row">
<div class="col-md-4 col-md-offset-2 mT40 bdrr">
      <a href="/shipper/facebook-login" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
      <p class="mT10 facebook">Facebook</p>
</div>
<div class="col-md-4 mT40">      
      <a href="/shipper/google-login" class="icon-button google-plus"><i class="fa fa-google"></i><span></span></a>
      <p class="mT10 google">Google</p>
</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 mT20">

      <p class="or"> or login with your email id </p>

       <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="email" name="Login[username]" id="input-4" message="Plesae enter valid email(eg.abcd@domain.com)." autocomplete="off"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Enter your email id</span>
          </label>
        </span>
        
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password"  name="Login[password]" id="login-password" autocomplete="off"  />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="login-password">
            <span class="input__label-content input__label-content--hoshi">Enter password</span>
          </label>
        </span>

        <div class="row">
        <div class="col-md-6">
        <div class="checkbox"><label><input type="checkbox"><span> Remember me</span></label></div>
        </div>
        <div class="col-md-6 mT10 text-right pR30">
        <a href="/shipper/forgot-password">Forgot Password ? </a>
        </div>
        </div>

         <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-danger" id="login-msg"></p>
      </div>
    </div>
       <input type="submit" name="submit" class="btn btn-default hvr-sweep-to-right mT10"  value="Login"
	  

        <div class="row">
          <div class="col-md-12 mT20">

          <p class="mB5">Don't have an account yet? <a href ="/shipper/register">Register here</a></p>

           </div>
        </div>    
</div>
</div>
</form>
    </div>  
  </div> 
</div>
