<table>
<thead>
<tr><td>Payment Invoice</td></tr>
</thead>
<tbody>
 <tr>
  <td>User detail</td>
 </tr>
<tr>
  <td>User Address</td>
</tr>
<tr>
  <td>Payment detail</td>
</tr>
<tr>
  <td>Shipment detail</td>
</tr>	
</tbody>	
</table>