<table width="70%" align="center">
<thead>
<tr><td><strong>Payment Invoice</strong></td></tr>
</thead>
<tbody>
 <tr >
	 <td colspan="2"><strong>User detail</strong></td><td><strong>User Address</strong></td>
 </tr>
<tr>
  <td colspan="2">
	  <label>Name:</label><span>MP Singh</span><br/>
	  <label>Contact No:</label><span>9463944676</span><br/>
	  <label>Email:</label><span>mandeepak.singh@trigma.co.in</span><br/>
  </td>
  <td colspan="2">
   	  <label>Street Address:</label><span>MP Singh</span><br/>
	  <label>City:</label><span>9463944676</span><br/>
	  <label>State:</label><span>mandeepak.singh@trigma.co.in</span><br/> 
	  <label>Pincode:</label><span>mandeepak.singh@trigma.co.in</span><br/>
 </td>
</tr>
 <tr >
	 <td colspan="2"><strong>Shipment detail</strong></td><td><strong>Payment Detail</strong></td>
 </tr>	
<tr>
	<td colspan="2"> 
	  <label>Loading Point:</label><span>MP Singh</span> <label>Unloading Point:</label><span>MP Singh</span><br/>
	  <label>Date:</label><span>9463944676</span><label>Time:</label><span>9463944676</span><br/>
	  <label>Distance:</label><span>mandeepak.singh@trigma.co.in</span><label>Duration:</label><span>mandeepak.singh@trigma.co.in</span><br/> 
	  <label>Fare:</label><span>mandeepak.singh@trigma.co.in</span><br/>
    </td>
    <td colspan="2">	
		<label>Loading Point:</label><span>MP Singh</span> <label>Unloading Point:</label><span>MP Singh</span><br/>
	  <label>Date:</label><span>9463944676</span><label>Time:</label><span>9463944676</span><br/>
	  <label>Distance:</label><span>mandeepak.singh@trigma.co.in</span><label>Duration:</label><span>mandeepak.singh@trigma.co.in</span><br/> 
	  <label>Fare:</label><span>mandeepak.singh@trigma.co.in</span><br/>
	</td>
</tr>
<tr>
  <td colspan="2">Insurance</td><td colspan="2">3432</td>
</tr>
<tr>	
  <td colspan="2">Load Fare</td><td colspan="2"></td>
</tr>
<tr>	
	<td colspan="2">Tax 1</td><td colspan="2"></td>
</tr>
<tr>	
  <td colspan="2">Tax 2</td><td colspan="2"></td>
	</tr>
<tr>	
  <td colspan="2">Total</td><td colspan="2"></td>
</tr>	
</tbody>	
</table>