<div class="container minh">
<div class="row">

<div class="col-md-12 mT30 pL0-xs pR0-xs mB20-xs bid-load-board">
  <div class="bg-success pL20 pT15 pB10">
      <h3><%-tt().t_bidposted_byou%></h3>
  </div>

<!--</div>-->
<% if(doc && doc.length<=0){%>
<div class="row mT10 mB20 mT0-xs">  
<div class="col-md-12 pL0-xs pR0-xs text-center">
	<%-tt().t_nomore_records%>
 </div>
</div>
<%}else{%>	
<div id="bidrow" class="cs-hidden">
<div class="row">
<form action="<%-shipperUrl('bids/bid-status')%>" data-form="postbid" >	
							<div class="col-md-8 mT10">
							<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
								<strong class="fnt16 text-primary">{%company%} {%city%} </strong>
								<input type="hidden" name="_id_" value="{%_id%}">	
<input type="hidden" name="_s_" value="{%_s_%}">	
<input type="hidden" name="_m_" value="1">
								<p class="mT10">{%description%}</p>
							</div>
							<div class="col-md-4 mT10 text-right">
								<span class="stars">{%rating%}</span>
								<h4 class="text-primary mT10"> <%-tt('shipments').t_rupee_sign%> {%price%} </h4>
								<button type="submit" data-submit="1" class="btn  btn-default btn-default4 hvr-sweep-to-right mR10"><%-tt('shipments').t_accept%> </button>
<button type="submit" data-submit="243523545" class="btn btn-success hvr-sweep-to-right"><%-tt('shipments').t_reject%></button>
							</div>
</form>	
</div>
</div>
<input type="hidden" id="bidloadboard-paginate" value="<%-shipperUrl('shipments/bid-load-board')%>">	
<input type="hidden" name="getbids-count" value="<%-shipperUrl('bids/bids-count')%>">	
<input type="hidden" name="getbids" value="<%-shipperUrl('bids/get-bids')%>">	
<div class="row mT10 mB20 mT0-xs">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<div class="col-md-12 pL0-xs pR0-xs">
<div class="row mT10 mB20 mT0-xs">  
<div class="col-md-12 pL0-xs pR0-xs mB20">

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="text-center">
        <tr class="bg-black">
        <th><%-tt('shipments').t_source%> </th>
        <th><%-tt('shipments').t_destination%> </th>
        <th><%-tt('shipments').t_load_type%> </th>
        <th><%-tt('shipments').t_priority_delivery%></th>
        <th><%-tt('shipments').t_nof_trucks%></th>
        <th><%-tt('shipments').t_date%> </th>
        <th><%-tt('shipments').t_time%> </th>
        <th><%-tt('shipments').t_order_detail%></th>
        <th><%-tt('shipments').t_bids_recieved%></th>    
        <th><%-tt('shipments').t_accept%></th>
        </tr>
      </thead>
      
      <tbody>
      <% include paginate_bidloadboard.ejs %>
		  
	  <tr id="bidload-board-before">
		<td colspan="10" align="center" id="load-page" class="cs-hidden text-center">Loading...  </td>
      </tr>
      </tbody>
  </table>
</div>    
</div>
</div>
</div>	

</div>
<%}%>	


<div class="row mT10 mB20 mT0-xs">	

</div>	
</div>
</div>	
</div>
          <!-- Modal -->
<div class="col-md-12">
	<div class="modal fade" id="ViewBids" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog pop" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<strong class="fnt18 text-primary"><%-tt('shipments').t_view_allbids%></strong>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 mT10">
							<span id="bid-loader"><img src="<%-assetsp%>images/loader66x.gif" alt="Loading"><span><%-tt('shipments').t_loading%></span></span>
							<span id="no-data" class="cs-hidden"><%-tt('shipments').t_no_bid_found%></span>
						</div>

					

					</div>

				</div>
			</div>
		</div>
	</div>	
<!-- Model -->
<button type="button" class="cs-hidden" id="bid-accepted" data-toggle="modal" data-target="#myModal1"> </button>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt().t_accept_bid_txt%></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
        <p class="mT20 mB20" id="body-message"><%-tt().t_complete_payment_process%></p>
        <a href="<%-shipperUrl('shipments/payment')%>" class="btn bg-black w50"><%-tt().t_yes%> </a>
		<button type="button" class="btn bg-orange2 w50" data-dismiss="modal" aria-label="Close"><%-tt().t_no%> </button>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
require(['shipments']);
</script>