<div class="container minh minhh-sm">

<div class="row mT20-sm">
<form>

<div class="col-md-8 col-md-offset-2 mT30 col-xs-12 pL0 pR0">
<div class="bg-primary pB20 pL30 pR40 pL20-xs pR20-xs">
<div class="row">
<div class="col-md-12 text-left text-primary pull-left-xs">
<h3><strong><%-tt().t_shipment_detail%></strong> <span class="pull-right mT20-xs pull-left-xs"><%-tt().t_reference_no%> : #<%-shipment.shipment_id%> </span></h3>
</div>
</div>

<div class="row mT20">
<div class="col-md-12">  
<div class="row">

<div class="col-md-7 mT10 pR40 pR20-xs bdrr bdrn-xs col-sm-7">
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h4 class="text-primary"><%-shipment.loading.lp_city%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4">
    <h4 class="text-primary"><%-shipment.unloading.up_city%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary fnt14-xs"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6 fnt14-xs">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
<small data-label="<%-tt('shipments').t_available_for_expiryin%>" class="col-md-12 text-center" bid-timer data-expiry="<%-shipment.transit.t_expdatetime%>"  ></small>	
</div>
</div>
<p class="mT10"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<% if(shipment.insurance && shipment.insurance.text=='Yes'){ %>
<p class="mT40 text-center"><%-tt().t_insurance%> - <strong class="text-primary"><%-shipment.insurance.text%></strong></p>  
<% } %>	
<!--image insurance modal-->
<% if(shipment.insurance && shipment.insurance.image){ %>
<div class="col-md-12">
<a class="insur" data-toggle="modal" data-target="#myModal">
  <img src="<%-Common.MediaPath({_id:shipment._id,image:shipment.insurance.image},'image',Shipments)%>"/>
</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body text-center">
        <img src="<%-Common.beforeImageLoad({_id:shipment._id,image:shipment.insurance.image},'image',Shipments)%>" data-path="<%-Common.MediaPath({_id:shipment._id,image:shipment.insurance.image},'image',Shipments)%>"   class="img-responsive"/>  <br>
        <!--<button type="button" class="btn btn-default hvr-sweep-to-right mT30"> UPLOAD IMAGE</button>-->
      </div>
      
    </div>
  </div>
</div>
<!--image insurance modal-->
<%}%>	
</div>

<div class="col-md-5 mT20 text-left col-sm-5">
<strong><%-tt().t_items_list%> </strong>  
<% if(shipment.items && shipment.items.length>0){
	  shipment.items.forEach(function(item,i){
%>	  
<!-- Button trigger modal -->
<a class="bg-info pull-left pL15 pR5 pT10 mT20 w100" data-toggle="modal" data-target="#myModal<%-++i%>">
  <div class="pB5"> <%-tt().t_label_item%> <%-i%> : <strong class="text-primary"><%-item.name%></strong> <img src="<%-assetsp%>images/expand.png" class="pull-right mR10"/></div>
</a>
<!-- Modal -->
<div class="modal fade" id="myModal<%-i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%-tt().t_label_item%> <%-i%> : <strong class="text-primary"><%-item.name%></strong> </h4>
      </div>
      <div class="modal-body">
        
        <div class="pB5"> <%-tt().t_category%> : <strong class="text-primary">Utensils</strong></div>    
        <div class="pB5"> <%-tt().t_sub_category%> : <strong class="text-primary">Crockery</strong></div>    
        <div class="pB5"> <%-tt().t_item_weight%> : <strong class="text-primary">10 </strong> <small>(<%-tt().t_inkg%> )</small></div>    
        <div class="pB5"> <%-tt().t_nof_units%> : <strong class="text-primary"><%-item.total_item%></strong> <small>(Total weight = <%-item.total_weight%>)</small></div>
		<% if(item.length && item.width){%>  
        <div class="pB5"> <%-tt().t_item_size%> : <%-tt().t_length%> : <span class="text-primary"> <%-item.length%></span> | <%-tt().t_width%> : <span class="text-primary"> <%-item.width%></span> | <%-tt().t_height%> : <span class="text-primary"> <%-item.height%></span><small> (<%-tt().t_in_inches%>)</small></div>
		<%}%>  
      <h4><%-tt().t_description%></h4>  
  <p><%-item.description%> </p>
      </div>
      
    </div>
  </div>
</div>
<%})}%>



</div>
</div>

</div>
</div>



</div>

</div>
</form>
</div>  
</div> 