<div class="container minh">

<div class="row">
<div class="col-md-8 mT30 pL0-xs pR0-xs">
<div class="bg-primary pB20 pT10 pL30 pR40 pL10-xs pR10-xs">
<div class="row">
<div class="col-md-6 text-left text-primary mT20">
<h4><%-tt().t_shipment_detail%></h4>
</div>
</div>
<div class="row mT20">
<div class="col-md-12">  
<div class="row">
<div class="col-md-12 mT20 pR40 col-sm-12">
<div class="row">
  <div class="col-md-4 col-xs-4 col-sm-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 col-sm-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4 col-sm-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.unloading.up_city:''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
</div>
</div>
<p class="mT10 mT20-xs"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<% if(shipment.status!=Shipments.PENDING){%>
<div class="active">
<div data-bids="trucker-<%-shipment._id%>"  data-status="<%-shipment.status%>">
<%-tt('shipments').t_loading_trucker_info%>
</div>	
</div>		
<% }%>	
</div>
</div>
<div class="row">
<div class="col-md-12">
<% if(shipment.status==Shipments.COMPLETED || shipment.status==Shipments.TRUCKER_CANCELED || shipment.status==Shipments.SHIPPER_CANCELED || shipment.status==Shipments.EXPIRED){%>	
<div class="bg-success4 pL10 pT10 pR10">  
<%}else{%>
<div class="bg-success3 pL10 pT10 pR10">  
<%}%>	
<div class="row">
<div class="col-md-4 col-xs-12 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : #<%-shipment.shipment_id%> </p>   
</div> 
<div class="col-md-4 text-center col-xs-12 text-center-xs col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_status%> : <%-Shipments.currentStatus(shipment.status)%>  </strong>
</div>
<% if(shipment.status==Shipments.PENDING || shipment.status==Shipments.ACCEPTED || shipment.status==Shipments.BID_ACCEPTED){%>
<div class="col-md-4 text-right col-xs-12 text-center-xs mT10-xs col-sm-4">  
  <a href="javascript:;" data-toggle="modal" data-target="#myModal1"><%-tt('shipments').t_change_timelinktxt%></a> 
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> <strong class="text-primary text-left"><%-tt('shipments').t_change_datetime%></strong></h4>
      </div>
      <div class="modal-body change-time-success">
		<form action="<%-shipperUrl('shipments/reschedule')%>">
		<div class="row">
         <div class="col-md-6 text-left">
          <span class="input input--hoshi ovflo-visi noani">
		   <input type="hidden" name="_csrf" value="<%-csrfToken%>">	  
           <input class="input__field input__field--hoshi" name="Shipment[change_time]" type="text" id="shipment-change_time" />
           <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="shipment-change_time">
            <span class="input__label-content input__label-content--hoshi"><%-tt('shipments').t_change_time%></span>
           </label>
          </span>
          <p class="text-danger text-right mB0 fnt10 mR20 shipment-change_time-error"></p>
         </div>  
         <div class="col-md-4 text-left">
			<p class="text-info"><i class="glyphicon glyphicon-info-sign"></i><%-tt('shipments').t_change_timeinfo%></p> 
		 </div>	  
         </div>
		 <div class="row">
         <div class="col-md-6 text-left">
			<input type="button" name="submit" id="changetime-submit" class="btn btn-default btn-default2 hvr-sweep-to-right" value="Submit"> 
		 </div>	 
		</div>
		</form>	
      </div>      
    </div>
  </div>
</div>	
<%}%>	
</div>
</div>
</div>
</div>

<div class="row">
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<input type="hidden" name="get-trip-info" value="<%-shipperUrl('shipments/getrip-info')%>">
<input type="hidden" id="bid-url" value="<%-shipperUrl('bids/isbid-accedpted')%>">	
<input type="hidden" name="_id" value="<%-shipment._id%>">
<% if(shipment.vehicle && shipment.vehicle.length<=0 && shipment.status==Shipments.ACCEPTED){ %>	
<div class="col-md-12 mT20 cs-hidden" id="no-driver-vehicle-assigned">
<h4 class="text-left text-primary mB20"><%-tt().t_driver_vehile_assigned_tagline%></h4>
<div class="row">
<div class="col-md-1 col-xs-3 col-sm-1">  
<span class="label label-warning pull-left mR20"></span>
</div>
<div class="col-md-11 col-xs-9 col-sm-11">
<div class="row">
<div class="col-md-6 text-left col-sm-6">
<p><%-tt().t_no_vehicle_assigned%></p>
</div>
<div class="col-md-6 text-left bdrl bdln-xs col-sm-6">  
<div class="row">
<div class="col-md-3 col-xs-4 col-sm-3">
<img src="<%-assetsp%>images/no-image.png" class="img-circle img-responsive dimage mR10"/> 
</div>
<div class="col-md-9 text-left col-xs-8 col-sm-9">
<%-tt().t_no_driver_assigned%>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%}else if(shipment.vehicle && shipment.vehicle.length>=0 && shipment.status==Shipments.ACCEPTED){%>
<hr class ="visible-xs mL20-xs mR20-xs">
<% shipment.vehicle.forEach(function(vehicle,i){%>	

<div class="col-md-12 mT20 cs-hidden" id="assigned-driver-vehicles">
<div class="row">
<div class="col-md-1 col-xs-3 col-sm-1">  
<span class="label label-warning pull-left mR20"># <%-i%></span>
</div>
<div class="col-md-11 col-xs-9 col-sm-11">
<div class="row">
<div class="col-md-6 text-left col-sm-6">
<p><%-tt().t_vehicle_no%><strong class="text-primary"><%-vehicle.id?vehicle.id.registration.vehiclle_number:000000%></strong> 
 <%-tt().t_txt_is_assigned_for_shipment%></p>
</div>
<div class="col-md-6 text-center bdrl bdln-xs col-sm-6">  
<div class="row">
<div class="col-md-3 col-xs-4 col-sm-3">
<img src="images/driver.png" class="img-circle img-responsive dimage mR10"/> 
</div>
<div class="col-md-9 text-left col-xs-8 col-sm-9">
<%-tt().t_driver%> <strong  class="text-primary"><%-vehicle.driver?vehicle.driver.name.firstname+" "+vehicle.driver.name.lastname:null%></strong> <%-tt().t_assigned%> 
<br><span><%-vehicle.driver?vehicle.driver.rating:0%></span><br>
<% if(vehicle.driver && vehicle.driver.status==1){%>
  <a class="mT10 pull-left" href="tel:+<%-vehicle.driver?vehicle.driver.mobile_no:'#'%>">+<%-vehicle.driver?vehicle.driver.mobile_no:null%></a>
<%}else{%>
 <%-tt('shipments').t_driverno_appears%>	
<%}%>	
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%});%>
<hr class ="visible-xs mL20-xs mR20-xs">
<%}%>
</div>
</div>
</div>
</div>
</div>



<div class="col-md-4 mT30 pL0-xs pR0-xs col-sm-6 col-sm-offset-3 col-md-offset-0">
<div class="bg-primary pB20 pT10 pL30 pR40 pL10-xs pR10-xs">

<div class="row">
<div class="col-md-12 text-left text-primary mT10">
<h4><%-tt().t_shipment_tracking_detail%></h4>
<hr>
</div>
</div>

<div class="row mT20"> 
<div class="col-md-12 text-center">

<div class="col-md-12">
<p><%-tt().t_shipment_started_on%> : <strong  class="text-primary"><%-shipment.transit?shipment.transit.t_date:''%></strong> <%-tt().t_at%> <strong  class="text-primary"><%-shipment.transit?shipment.transit.t_time:''%></strong> <%-tt().t_from%> <strong  class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></strong></p>
<hr>
<p id="trip-intransit" >
<% if(shipment.status==Shipments.ACCEPTED){%>
	<%-tt('shipments').t_trip_not_started_yet%>
<%}%>
</p>
<% if(shipment.vehicle && shipment.vehicle.length>=0 && shipment.status==Shipments.INTRANSIT){%>
<form>
<% shipment.vehicle.forEach(function(vehicle,i){%>
 <p class="cs-hidden" data-driver="<%-vehicle.driver._id%>"><%-tt().t_truck_no%> <strong  class="text-primary fnt16"> <%-vehicle.id?vehicle.id.registration.vehiclle_number:000000%> </strong>
   <input type="hidden" name="Driver[][vehicle_no]" value="<%-vehicle.id?vehicle.id.registration.vehiclle_number:null%>">
   <input type="hidden" name="Driver[][id]" value="<%-vehicle.driver._id%>">
	 <input type="hidden" name="_csrf" value="<%-csrfToken%>">	
	<%-tt().t_reached%>: <strong  class="text-primary">{{reached}}</strong> <%-tt().t_at%> <strong  class="text-primary"><%-tt().t_on%> {{ondate}}</strong> <%-tt().t_from%> <strong  class="text-primary"> <%-tt().t_at%> {{attime}}</strong>
</p> 
<%});}%>
</form>	
</div>
</div>
</div>
</div>  
</div> 
</div>
</div>
<script type="text/javascript">
var shipment_datetime = <%-shipment.transit?shipment.transit.t_expdatetime:0%>;
require(['users','shipments']);
</script>