<div class="container minh">

<div class="row">
<div class="col-md-8 mT30 pL0-xs pR0-xs">
<div class="bg-primary pB20 pT10 pL30 pR40 pL10-xs pR10-xs">
<div class="row">
<div class="col-md-6 text-left text-primary mT20">
<h4><%-tt().t_shipment_detail%></h4>
</div>
</div>
<div class="row mT20">
<div class="col-md-12">  
<div class="row">
<div class="col-md-12 mT20 pR40 col-sm-12">
<div class="row">
  <div class="col-md-4 col-xs-4 col-sm-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 col-sm-4">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4 col-sm-4">
    <h4 class="text-primary"><%-shipment.loading?shipment.unloading.up_city:''%></h4>
  </div>  
</div>
<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
<input type="hidden" name="get-trip-info" value="<%-shipperUrl('shipments/getrip-info')%>">
<input type="hidden" id="bid-url" value="<%-shipperUrl('bids/isbid-accedpted')%>">	
<input type="hidden" name="_id" value="<%-shipment._id%>">	
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span></p>
</div>
</div>
<p class="mT10 mT20-xs"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
<% if(shipment.status!=Shipments.PENDING){%>
<div class="active">
<div data-bids="trucker-<%-shipment._id%>"  data-status="<%-shipment.status%>">
<%-tt('shipments').t_loading_trucker_info%>
</div>	
</div>		
<% }%>	
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success4 pL10 pT10 pR10">  
	
<div class="row">
<div class="col-md-4 col-xs-12 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : #<%-shipment.shipment_id%> </p>   
</div> 
<div class="col-md-4 text-center col-xs-12 text-center-xs col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_status%> : <%-Shipments.currentStatus(shipment.status)%>  </strong>
</div>
	
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12 mT20">
<h4 class="text-primary mB20 mT40-xs"><%-tt().t_shipment_tracking_detail%></h4>

<p><%-tt().t_shipment_started_on%> : <strong  class="text-primary"><%-shipment.transit?shipment.transit.t_date:''%></strong> at <strong  class="text-primary"><%-shipment.transit?shipment.transit.t_time:''%></strong> from <strong  class="text-primary"><%-shipment.loading?shipment.loading.lp_city:''%></strong></p>
<hr>
<% if(shipment.vehicle && shipment.vehicle.length>=0){%>
<% shipment.vehicle.forEach(function(vehicle){	%>
<p> <%-tt().t_truck_no%> <strong  class="text-primary fnt16"> <%-vehicle.id?vehicle.id.registration.vehiclle_number:000000%> </strong> <%-tt().t_reached%>: <strong  class="text-primary"><%-vehicle.location.text||null%></strong> <%-tt().t_at%> <strong  class="text-primary"><%-tt().t_on%> <%-vehicle.end_at||null%></strong> <%-tt().t_from%> <strong  class="text-primary"> <%-tt().t_at%> <%-vehicle.time_at||null%></strong></p>
<hr>
<%});}%>	

</div>
</div>	

</div>
</div>
</div>
</div>



<div class="col-md-4 mT30 pL0-xs pR0-xs">
<div class="bg-primary pB20 pT10 pL30 pR40 pL10-xs pR10-xs">
<%var doc = shipment.shipment_detail;%>
<div class="row">
<div class="col-md-12 text-left text-primary">
<h4><%-tt().t_invoice_detail%></h4>
</div>
</div>

<div class="row">
<div class="col-md-12">
<ul class="list-unstyled">
<li><%-tt().t_freight_charges%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.load_fare||0).toFixed(2)%></div> 
  <br> <small>( <%-tt().t_load_rate_today%> = <%-tt().t_rupee_sign%> <%-doc.per_ton_price||0%>/<%-tt().t_tons%> )</small></li>
<% if(doc.priority_delivery_charges){%>
	<li><%-tt().t_priority_delivery%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.priority_delivery_charges||0).toFixed(2)%> </div></li>
<%}%>
<% if(doc.insurance_charges>0){%>
	<li><%-tt().t_insurance_charges%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.insurance_charges||0).toFixed(2)%> </div></li>
<%}%>	
<hr>
<li><strong class="text-primary fnt18"><%-tt().t_sub_total%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.sub_total||0).toFixed(2)%> </div></strong></li>
</ul>

</div>
</div>

<div class="row">
<div class="col-md-12">
<ul class="list-unstyled">
<!--<li>Discount (-) <div class="pull-right">Rs 1000 </div></li>-->
<% if(shipment.shipment_type.code==Shipments.REGULAR_BOARD){%>
<li><strong class="fnt18"><%-tt().t_taxes%></strong></li>
<%for(var i in shipment.shipment_detail.taxes){%>	
<% //tax =  JSON.parse(tax)%>	
<li><%-shipment.shipment_detail.taxes[i].name%><div class="pull-right"><%-tt().t_rupee_sign%> <%-shipment.shipment_detail.taxes[i].rate%></div></li>		
	
<%}}%>
<hr>
<li><strong class="text-primary fnt18"><%-tt().t_total%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-(shipment.shipment_detail.overall_total).toFixed(2)%> </div></strong></li>
<hr>
<li class="text-center mT40"><strong >Download Invoice :<a href="#" class="text-primary"> AWB58467D</a></strong></li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
require(['users','shipments']);
</script>