<div class="container minh">

<div class="row">
<form>
<div class="col-md-7 mT30">
<div class="bg-primary pB20 pT10 login pL30 pR40">
  <div class="bidlink">
	<%if(!isShipExpired){%>  
      <h3 class=" mT50 pL40"><a href="#myModal" data-toggle="modal"><%-tt().t_getbids_tagline%></a> </h3>
	  <p class="text-center"><%-tt().t_bids_info_desc%></p>
	<%}else{%>
	  <h3 class=" mT50 pL40"><%-tt().t_shipment_expired_changedatetime%> </h3>
	   <p><a href="#ChangeDateTimePOP" data-toggle="modal"><%-tt().t_click_heretochangedatetime%> </a></p>
	<%}%>  
      
  </div>    
</div>
</div>

  
<div class="col-md-5 mT30">
<div class="bg-primary pB20 pT10 login pL10 pR10">
      <h3><%-tt().t_load_detail%></h3>

<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary"><%-doc.from_city||""%></h4>
  </div>  
    <div class="col-md-4 text-center mT10">
    <img src="<%-assetsp%>images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20">
    <h4 class="text-primary"><%-doc.to_city||""%></h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary"><%-doc.load_type||""%> <%-doc.priority_delivery?" - "+doc.priority_delivery:""%></strong><br>
<p><%-tt().t_nof_trucks%> - <span class="text-primary"><%-doc.truck_quantity||1%></span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary"><%-doc.transit_date||""%></span><br> <%-tt().t_at%> <span class="text-primary"><%-doc.transit_time||""%> </span></p>
</div>
</div>

<p class="mT20"><%-doc.truck_name||""%></p>

<div class="row">
<div class="col-md-12">
<ul class="list-unstyled"><!--<strong class="text-primary">X <%-doc.shipment_weight||""%> <%-tt().t_tons%></strong>-->
	<li><%-tt().t_load_fare%>   <%-tt().t_for%> <strong class="text-primary"><%-doc.truck_quantity||1%></strong> <%-tt().t_trucks%>  <div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.load_fare||0).toFixed(2)%></div> 
		
  <br> <small>(<%-tt().t_load_rate_today%> = <%-tt().t_rupee_sign%> <%-doc.per_ton_price||0%> / <%-tt().t_tons%> )</small></li>
<% if(doc.priority_delivery_charges){%>
	<li><%-tt().t_priority_delivery%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.priority_delivery_charges||0).toFixed(2)%> </div></li>
<%}%>
<% if(doc.insurance_charges>0){%>
	<li><%-tt().t_insurance_charges%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.insurance_charges||0).toFixed(2)%> </div></li>
<%}%>	

<hr>
<li><strong class="text-primary fnt18"><%-tt().t_sub_total%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(doc.sub_total||0).toFixed(2)%> </div></strong></li>
<hr>
<li class="pull-right"> * <%-tt().t_rate_may_vary%></li>

</ul>
</div>
</div>
<div class="row">
  <div class="col-md-12 mT20 text-right">
	<%if(!isShipExpired){%>   
	  <a href="<%-shipperUrl('shipments/payment')%>" class="btn btn-default hvr-sweep-to-right mT10"><%-tt().t_proceed_to_pay%></a>
	<%}%>  
  </div>
</div>

</div>
</div>
</form>
</div>  
</div>

<%if(!isShipExpired){%> 
<!-- Modal -->
<div id="myModal" class="modal fade " role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content pop">
	<form action="<%-shipperUrl('shipments/postonbb')%>" method="post" data-form="ajax" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%-tt().t_postonbid_board%></h4>
      </div>
      <div class="modal-body">
        <p><%-tt().t_postonbidboard_areusure%></p>
		<input type="hidden" name="_csrf" value="<%-csrfToken%>"> 
      </div>
      <div class="modal-footer">
          <input type="submit" class="btn btn-default1" value="<%-tt().t_yes%>">
		  <button type="button" class="btn btn-default2"   data-dismiss="modal"><%-tt().t_no%></button>
      </div>
     </form>
    </div>
  </div>
</div>
<% } %>
<!-- Modal -->
<div id="ChangeDateTimePOP" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content pull-left">
      <div class="modal-header">
      
        <h4 class="modal-title"><%-tt('shipments').t_change_date_time%></h4>
      </div>
      <div class="modal-body">
		
<form id="biddatetime"  action="<%-shipperUrl('shipments/changebid-date-time')%>"  >
<div class="col-md-12">
    <div  class="col-md-7" >
	<p>Shipment Unloading Date:<%-doc.transit.t_date%> Time:<%-doc.transit.t_time%></p>
	</div>
	<div class="col-md-5">
	  <p><%-tt('shipments').t_shipment_expired%></p>
	</div>	
</div>
<div class="col-md-12">
    <div  class="col-md-7" >
	<p>Update Date Time</p>
	</div>
</div>	
	<div class="col-md-12">
	<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
	<span class="input input--hoshi ovflo-visi noani "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Bid[loading-date]" id="bid-loading-date" />
        	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt('users').t_loading_date;%><small><small><em>dd/mm/yyyy</em></small></small></span>
	</label>
	</span>
</div>
<div class="col-md-12">
	<span class="input input--hoshi ovflo-visi noani"><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Bid[loading-time]" id="bid-loading-time" />
        	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt('users').t_loading_time;%><small><small><em>hh:mm:ss</em></small></small></span>
	</label>
	</span>
</div>	
<div class="col-md-12">
	<div class="col-md-12 alert alert-warning cs-hidden" id="datetimechanged" ></div>
	<div class="col-md-6 pull-right">
		<input type="submit" class="btn" name="submit" value="<%-tt('users').t_submit;%>">
	</div>
    </div>
   </form>
  </div>
  </div>
 </div>
</div>
<button type="button" class="btn btn-info btn-lg showpop hidden" data-toggle="modal" data-target="#ChangeDateTimePOP">Open Modal</button>
<script type="text/javascript">showpop = <%-isShipExpired%></script>

<script type="text/javascript">
require(['itemdetail'],function(th){
    $(window).load(function(){
	if(showpop)	
	  $(".showpop").click();
 });
});
</script>