<div class="container minh">

<div class="row">
<form>
<div class="col-md-5 mT30">
<div class="bg-primary pB20 pT5 login pL10 pR10 ">
      <h3>Bids Posted by you</h3>

<div class="row">
<div class="col-md-10">

<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary">Chandigarh</h4>
  </div>  
    <div class="col-md-4 text-center mT10">
    <img src="images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20">
    <h4 class="text-primary">Delhi</h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary">Full load - Priority</strong><br>
<p>Number of trucks - <span class="text-primary">10</span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary">24 March 2016 </span><br> at <span class="text-primary">10:00 AM </span></p>
</div>
</div>
<p class="mT10">TATA Prima (5 TON MT)</p>
</div>
<div class="col-md-2 mT20 text-center">
<a href="#"><img src="images/arrow.png"/></a>
</div>
</div>

<hr>

<div class="row">
<div class="col-md-10">

<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary">Chandigarh</h4>
  </div>  
    <div class="col-md-4 text-center mT10">
    <img src="images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20">
    <h4 class="text-primary">Delhi</h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary">Full load - Priority</strong><br>
<p>Number of trucks - <span class="text-primary">10</span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary">24 March 2016 </span><br> at <span class="text-primary">10:00 AM </span></p>
</div>
</div>
<p class="mT10">TATA Prima (5 TON MT)</p>
</div>
<div class="col-md-2 mT20 text-center">
<img src="images/arrow.png"/>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-10">

<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary">Chandigarh</h4>
  </div>  
    <div class="col-md-4 text-center mT10">
    <img src="images/truck2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right mT20">
    <h4 class="text-primary">Delhi</h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary">Full load - Priority</strong><br>
<p>Number of trucks - <span class="text-primary">10</span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary">24 March 2016 </span><br> at <span class="text-primary">10:00 AM </span></p>
</div>
</div>
<p class="mT10">TATA Prima (5 TON MT)</p>
</div>
<div class="col-md-2 mT20 text-center">
<img src="images/arrow.png"/>
</div>
</div>



</div>
</div>

<div class="col-md-7 mT30">
<div class="bg-primary pB20 pT10 pL30 pR40">
<div class="row mT30">
<div class="col-md-12 text-center text-primary">
<h4>There are no new bids for your order</h4>
</div>
</div>



<div class="row mT30">
<div class="col-md-12 text-left">
<h4 class="text-center">4 New Bids available</h4>
<hr>
<div class="row">
<div class="col-md-8 mT10">
<strong class="fnt16 text-primary"><span class="badge">1</span> Cargo Wala Chandigarh</strong>
<p class="mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.  
</p>
</div>

<div class="col-md-4 mT10 text-right">
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-half.png"/>
<h4 class="text-primary mT10"> Rs 4000 </h4>
<button type="button" class="btn  btn-default btn-default4 hvr-sweep-to-right mR10">Accept</button>
<button type="button" class="btn btn-success hvr-sweep-to-right">Reject</button>
</div>

</div>

<hr>
<div class="row">
<div class="col-md-8 mT10">
<strong class="fnt16 text-primary"><span class="badge">2</span> Cargo Wala Chandigarh</strong>
<p class="mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.  
</p>
</div>

<div class="col-md-4 mT10 text-right">
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-half.png"/>
<h4 class="text-primary mT10"> Rs 4000 </h4>
<button type="button" class="btn  btn-default btn-default4 hvr-sweep-to-right mR10">Accept</button>
<button type="button" class="btn btn-success hvr-sweep-to-right">Reject</button>
</div>

</div>

<hr>
<div class="row">
<div class="col-md-8 mT10">
<strong class="fnt16 text-primary"><span class="badge">3</span> Cargo Wala Chandigarh</strong>
<p class="mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.  
</p>
</div>

<div class="col-md-4 mT10 text-right">
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-half.png"/>
<h4 class="text-primary mT10"> Rs 4000 </h4>
<button type="button" class="btn  btn-default btn-default4 hvr-sweep-to-right mR10">Accept</button>
<button type="button" class="btn btn-success hvr-sweep-to-right">Reject</button>
</div>

</div>

<hr>
<div class="row">
<div class="col-md-8 mT10">
<strong class="fnt16 text-primary"><span class="badge">4</span> Cargo Wala Chandigarh</strong>
<p class="mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.  
</p>
</div>

<div class="col-md-4 mT10 text-right">
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-full.png"/>
<img src="images/star-half.png"/>
<h4 class="text-primary mT10"> Rs 4000 </h4>
<button type="button" class="btn  btn-default btn-default4 hvr-sweep-to-right mR10">Accept</button>
<button type="button" class="btn btn-success hvr-sweep-to-right">Reject</button>
</div>

</div>

</div>
</div>



</div>
</div>

</form>
</div>  
</div>