<div class="container minh">
<div class="row">
<div class="col-md-12 mT30 pL0-xs pR0-xs">
<div class="bg-success pT10 pB5 pL10">
   <h3><%-tt('shipments').t_myshipments%></h3>
</div> 

<div class="bg-primary shiptruck mT20">
<div id="sticky-anchor"></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs bdrb" role="tablist" id="sticky">
    <li role="presentation" class="text-center active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%-tt('shipments').t_upcompingorders%></a></li>
    <li role="presentation" class="text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%-tt('shipments').t_activeorders%></a></li>
    <li role="presentation" class="text-center"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%-tt('shipments').t_history%></a></li>
  </ul>


  <!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="home">
<% if(shipments.length<=0){%>
<div class="order pT20">  
<div class="row pL20 pR20">
<div class="col-md-4 mT20 pR40">
<div class="row">
  <div class="col-md-4 col-xs-4 mT0-xs">
	<%-tt('shipments').t_upcoming_not_found%>  
  </div>
</div>
</div>
</div>	
</div>	
<%}%>	
<% shipments.forEach(function(s,i){%>
<div class="order pT20">  
<div class="row pL20 pR20">
<div class="col-md-4 mT20 pR40">
<div class="row">
  <div class="col-md-4 col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-s.loading.lp_city||''%></h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4 mT0-xs">
    <img src="images/type2.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4 mT0-xs">
    <h4 class="text-primary"><%-s.unloading.up_city||''%></h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary"><%-s.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load%>
	<%-(s.truck.priority_delivery==1)?  tt('shipments').t_priority_delivery:''%></strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary"><%-s.truck.quantity||0%></span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary"><%-s.transit.t_date||''%> </span><br> <%-tt('shipments').t_at%> <span class="text-primary"><%-s.transit.t_time||''%> </span></p>
</div>
</div>
<p class="mT10"><%-s.shipment_detail.truck_name||''%></p>
</div>
<div class="col-md-8 mT20 table-responsive col-xs-12 pL0-xs mB0-xs">
<table class="table assigntable text-center">
<thead class="text-center">
<th class="text-center"> <%-tt('shipments').t_no%></th>
<th class="text-center"> <%-tt('shipments').t_assigned_vehicles%></th>
<th class="text-center"> <%-tt('shipments').t_assigned_drivers%></th>
<th class="text-center"> <%-tt('shipments').t_vehicle_no%></th>
<th class="text-center"> <%-tt('shipments').t_driver_detail%></th>
</thead>
<tbody>
<% if(!s.vehicles && s.vehicles.length<=0){%>
<tr>
<td><%-tt('shipments').t_no_vehicle_driver_assigned%></td>
</tr>
<%}else{ s.vehicles.forEach(function(dv,i){%>
<tr>
<td><%-i%></td>
<td><a href="#" class=""></a></td>
<td><a href="#" class="">Change Driver</a></td>
<td>HR 68 B 6963</td>
<td class="driver-xs"><img src="images/driver1.png" class="img-circle dimg pull-left"/> Paramjeet Singh <br><a href="tel:+91987654321">+91 987654321</a></td>
</tr>
<%});}%>	
<tr>
<td>3</td>
<td><a href="#" class="">Change Vehicle</a></td>
<td><a href="#" class="">Change Driver</a></td>
<td>HR 68 B 6963</td>
<td class="driver-xs"><img src="images/driver2.png" class="img-circle dimg pull-left"/> Paramjit Singh <br><a href="tel:+91987654321">+91 987654321</a></td>
</tr>
<tr>
<td>4</td>
<td><a href="#" class="">Change Vehicle</a></td>
<td><a href="#" class="">Change Driver</a></td>
<td>HR 68 B 6963</td>
<td class="driver-xs"><img src="images/driver3.png" class="img-circle dimg pull-left"/> Paramjit Singh <br><a href="tel:+91987654321">+91 987654321</a></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success3 pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4 col-xs-12 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : #345678 </p>   
</div> 
<div class="col-md-4 text-center col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_bid_price%> : Rs 10,0000</strong>
</div>
<div class="col-md-4 text-right col-xs-12 text-center-xs mT10-xs mB10-xs col-sm-4 mB10-sm">  
<strong class="fnt16"><%-tt('shipments').t_status%> : Confirmed</strong> | <a href="15Active-Shipment-details.html" class="pull-right-sm"><%-tt('shipments').t_cancel_order%></a> 
</div>
</div>
</div>
</div>
</div>
</div>
<%})%>
</div>
<div role="tabpanel" class="tab-pane" id="profile">
<div class="order">  
<div class="row pL20 pR20">
<div class="col-md-4 mT20 pR40">
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h4 class="text-primary">Chandigarh</h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4">
    <img src="images/type3.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4">
    <h4 class="text-primary">Delhi</h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary">Full load - Priority</strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary">10</span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary">24 March 2016 </span><br> at <span class="text-primary">10:00 AM </span></p>
</div>
</div>
<p class="mT10">TATA Prima (5 TON MT)</p>
</div>
<div class="col-md-8 mT20 table-responsive pL0-xs">
<table class="table assigntable text-center">
<thead class="text-center">
<th class="text-center"> <%-tt('shipments').t_no%></th>
<th class="text-center"> <%-tt('shipments').t_vehicle_no%></th>
<th class="text-center"> <%-tt('shipments').t_driver_detail%></th>
<th class="text-center"> <%-tt('shipments').t_shipment_track%></th>
</thead>	
<tbody>

<tr>
<td>1</td>
<td>HR 68 B 6963</td>
<td class="driver-xs"><img src="images/driver1.png" class="img-circle dimg pull-left"/> Paramjit Singh <br><a href="tel:+91987654321">+91 987654321</a></td>
<td>

<a type="button" class="track" data-toggle="modal" data-target="#myModal"><span class=" glyphicon glyphicon-ok text-info"></span><%-tt('shipments').t_track_now%></a>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog pop" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <strong class="fnt18 text-primary"><%-tt('shipments').t_order_tracking_detail%></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body text-center">
     <p><%-tt('shipment').t_started_from%> <strong class="text-primary">Chandigarh </strong> <%-tt('shipment').t_on%> <br><strong class="text-primary">23 May 2016 </strong> <%-tt('shipment').t_at%><strong class="text-primary"> 10:00 AM </strong></p>
<p><%-tt('shipment').t_reached%> <strong class="text-primary">Ambala </strong> <%-tt('shipment').t_on%> <br><strong class="text-primary">23 May 2016 </strong> <%-tt('shipment').t_at%> <strong class="text-primary"> 03:00 PM </strong></p>
<p><%-tt('shipment').t_started_from%> <strong class="text-primary">Chandigarh </strong> <%-tt('shipment').t_on%> <br><strong class="text-primary">23 May 2016 </strong> <%-tt('shipment').t_at%> <strong class="text-primary"> 10:00 AM </strong></p>
<p><%-tt('shipment').t_reached%> <strong class="text-primary">Ambala </strong> <%-tt('shipment').t_on%> <br><strong class="text-primary">23 May 2016 </strong> <%-tt('shipment').t_at%> <strong class="text-primary"> 03:00 PM </strong></p>
      </div>
      
    </div>
  </div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success3 pL10 pT10 pR10">  
<div class="row">
<div class="col-md-4 text-center col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : #345678 </p>   
</div> 
<div class="col-md-4 text-center col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_bid_price%> : Rs 10,000</strong>
</div>
<div class="col-md-4 text-right mT20-xs mB10-xs text-center-xs col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_status%> : In-Transit</strong>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
<div role="tabpanel" class="tab-pane pR0-xs pL0-xs " id="messages">
<div class="order">  
<div class="row pL20 pR20 pT20">
<div class="col-md-6 pR40 col-sm-7">
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h4 class="text-primary">Chandigarh</h4>
  </div>  
    <div class="col-md-4 text-center col-xs-4">
    <img src="images/type3.png" class="img-responsive"/>
  </div>  
    <div class="col-md-4 text-right col-xs-4">
    <h4 class="text-primary">Delhi</h4>
  </div>  
</div>
<div class="row mT20">
<div class="col-md-6 bdrr col-xs-6">
<strong class="text-primary">Full load - Priority</strong><br>
<p><%-tt('shipments').t_nof_trucks%> - <span class="text-primary">10</span></p>
</div>
<div class="col-md-6 text-right col-xs-6">
<p><span class="text-primary">24 March 2016 </span><br> at <span class="text-primary">10:00 AM </span></p>
</div>
</div>
<p class="mT10">TATA Prima (5 TON MT)</p>
</div>
<div class="col-md-6 table-responsive col-sm-5">
<table class="table assigntable text-center">
<thead class="text-center">
<th class="text-center"> <%-tt('shipments').t_shipment_status%></th>
</thead>
<tbody>
<tr>
<td>
<p><%-tt('shipments').t_started_from%> <strong class="text-primary">Chandigarh </strong> <%-tt('shipments').t_on%> <br><strong class="text-primary">23 May 2016 </strong> <%-tt('shipments').t_at%>  <strong class="text-primary"> 10:00 AM </strong></p>
<p><%-tt('shipments').t_reached%> <strong class="text-primary">Delhi </strong> <%-tt('shipments').t_on%> <br><strong class="text-primary">25 May 2016 </strong> <%-tt('shipments').t_at%> <strong class="text-primary"> 08:00 PM </strong></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="bg-success4 pL10 pR10 pT10">  
<div class="row">
<div class="col-md-4 text-center-xs col-sm-4">  
<p><%-tt('shipments').t_reference_no%> : #345678 </p>   
</div> 
<div class="col-md-4 text-center col-sm-4">  
<strong class="fnt16"><a href="#"><%-tt('shipments').t_view_invoice_no%> : #Awb65891</a> </strong>
</div>
<div class="col-md-4 text-right text-center-xs col-sm-4">  
<strong class="fnt16"><%-tt('shipments').t_status%> : In-Transit</strong>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>