

<% if(doc && doc.length>0){%>

<% i=0; doc.forEach(function(shipment){%>
<tr>
          <td class="text-primary"><%-shipment.loading.lp_city%></td>
          <td class="text-primary"><%-shipment.unloading.up_city%></td>
          <td><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%></td>
          <td class="text-primary"><%-shipment.truck?shipment.truck.priority_delivery==1?tt('shipments').t_priority_delivery:"No":null%></td>
          <td><%-shipment.truck?shipment.truck.quantity:0%></td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> </td>
          <td class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%></td>
          <td><a href="<%-shipperUrl('shipments/detail/'+shipment._id)%>"><%-tt('shipments').t_view_order%></a></td>
          <td class="text-primary"><strong><span id="loader" class="text-white"><img src="<%-assetsp%>images/bid-load-board.gif" alt="Loading..."> Loading...</span><span data-bids="shipment<%-shipment._id%>" class="cs-hidden" >0</span><span class="cs-hidden" title="<%-tt('shipments').t_bids_available%>"></span></strong></td>
          <td><a class="btn btn-orange" data-toggle="modal" data-refer="vbids<%-shipment._id%>" data-target="#ViewBids"> <%-tt('shipments').t_view_bids%> </a>
</td>
</tr>	

<%})%>

<%}%>	
