<div class="container minh" ng-controller="paymentCtrl">

<div class="row mT40">
    
    <div class="col-md-8">
        
    <div class="row">
    <div class="col-md-12 mB20">
        <h4><%-tt('shipments').t_selectpayment_txt%></h4>
    </div>	
    </div>	
    
    <div class="row">
    <div class="col-md-12 payment">
    


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" data-label="credit" aria-controls="home" role="tab" data-toggle="tab"><%-tt('shipments').t_credit_card%></a></li>
    <li role="presentation"><a href="#home" data-label="debit" aria-controls="profile" role="tab" data-toggle="tab"><%-tt('shipments').t_debit_card%></a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><%-tt('shipments').t_netbanking%></a></li>  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content paymentbg">
	<select id="citrusCardType" style="display:none;">
        <option selected="selected" value="credit"><%-tt('shipments').t_netbanking%></option>
        <option value="debit"><%-tt('shipments').t_netbanking%></option>
    </select>
    <select id="citrusScheme" style="display:none;">
        <option selected="selected" value="visa"><%-tt('shipments').t_netbanking%></option>
        <option value="mastercard"><%-tt('shipments').t_netbanking%></option>
    </select>  
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    
        <div class="row">
        <div class="col-md-12">
        <input type="hidden" name="_csrf" value="<%-csrfToken%>">	
        <input type="hidden" id="citrusFirstName" value="<%-user.name?user.name.firstname:''%>" />
		<input type="hidden" id="citrusLastName" value="<%-user.name?user.name.lastname:''%>" />
		
		
		<input type="hidden" id="citrusStreet1" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusStreet2" value="<%-user.business?user.business.registered_address:''%>" />
		<input type="hidden" id="citrusCity" value="<%-user.business?user.business.registered_city:''%>" />
		<input type="hidden" id="citrusState" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusCountry" value="<%-user.business?user.business.registered_state:''%>" />
		<input type="hidden" id="citrusZip" value="<%-user.business?user.business.registered_pincode:''%>" />
		
		<input type="hidden" readonly id="citrusAmount" value="<%-citrus.amount%>" />
        <input type="hidden" readonly id="citrusMerchantTxnId" value="<%-citrus.txid%>" />
		<input type="hidden" readonly id="citrusSignature" value="<%-citrus.sign%>" />
		<input type="hidden" readonly id="citrusReturnUrl" value="<%-citrus.return_url%>" />
		<input type="hidden" readonly id="citrusNotifyUrl" value="<%-citrus.notify_url%>" />
        
	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label id="home-txt" data-credit="<%-tt('shipments').t_credit_cardno%>" data-debit="<%-tt('shipments').t_debit_cardno%>"  ><%-tt('shipments').t_credit_cardno%></label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1">
				 <label><%-tt('shipments').t_expiry_date%> </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30"><%-tt('shipments').t_cardholder_name%></label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1">
				 <label class="mR30"><%-tt('shipments').t_cvvno%></label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30"></label><br>
		<input type="hidden" id="citrusEmail" value="<%-user.contact.email?user.contact.email:''%>" class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30"></label><br>
		<input type="hidden" id="citrusMobile" value="<%-user.contact.mobile_number?user.contact.mobile_number:''%>" class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong><%-tt('shipments').t_secure_payment%></strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20">
    <input type="button" value="<%-tt('shipments').t_makepayment%> (<%-tt('shipments').t_rupee_sign%>  <%-parseFloat(amount).toFixed(2)%>)" id="citrusCardPayButton" class="btn-payment w100"/>
    </div>
    </div>
      
    
    </div>
    
    <div role="tabpanel" class="tab-pane fade " id="profile">
    
             <div class="row">
        <div class="col-md-12">
 
        
        <!-- <div class="row mB20">
	    <div class="col-md-6">
	    <label class="mR30">Select your card type</label><br>	
	    <select id="citrusCardType" class="mT10">
        <option selected="selected" value="credit">Credit</option>
        <option value="debit">Debit</option>
        </select>
	    <select id="citrusScheme"  class="mT10">
		<label class="mR30">Select your card type</label><br>	
        <option selected="selected" value="visa">VISA</option>
        <option value="mastercard">MASTER</option>
        </select>	
		</div>
	    </div> -->	 
	
        
   	
        <div class="row mB20">
			 <div class="col-md-6">
				 <label><%-tt('shipments').t_debit_cardno%></label><br>
				 <input type="text" id="citrusNumber" value="" class="w100 mT10 cardmaster" placeholder="41XX XXXX XXXX XX23"/> 
            </div>
			<div class="col-md-4 col-md-offset-1">
				 <label><%-tt('shipments').t_expiry_date%> </label><br>
				 <input type="text" id="citrusExpiry" value="" class="w100 mT10" placeholder="MM / YYYY"/>
            </div> 
            
        </div>    
        <div class="row mB20">
			<div class="col-md-6">
				 <label class="mR30"><%-tt('shipments').t_cardholder_name%></label><br>
				 <input type="text" id="citrusCardHolder" value="" class="w100 mT10"/>
            </div>
			 <div class="col-md-4 col-md-offset-1">
				 <label class="mR30"><%-tt('shipments').t_cvvno%></label><br>
				 <input type="text" id="citrusCvv" value="" class="w100 mT10"/>
            </div>
        </div>
      </div>
        
        <div class="col-md-4 col-md-offset-1 hidden">
        <div class="row mB20">
		<div class="col-md-12">
		<label class="mR30"></label><br>
		<input type="hidden" id="citrusEmail" value="<%-user.contact.email?user.contact.email:''%>" class="w100 pL10 pR10 mT10"/><br>	
		</div>
		<div class="col-md-12 mT20">
			<label class="mR30"></label><br>
		<input type="hidden" id="citrusMobile" value="<%-user.contact.mobile_number?user.contact.mobile_number:''%>" class="w100 pL10 pR10 mT10"/>
			</div>
		</div>
        </div>
      </div>
        
    <div class="row">
    <div class="col-md-6 mT20">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong><%-tt('shipments').t_secure_payment%></strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20">
    <input type="button" value="<%-tt('shipments').t_makepayment%> (<%-tt('shipments').t_rupee_sign%> <%-amount%>)" id="citrusCardPayButton" class="btn-payment w100"/>
    </div>
    </div>
        
    </div>
      
      
   <div role="tabpanel" class="tab-pane fade" id="messages">
    
   <div class="row">
 
   	<div class="col-md-6">
	<label><%-tt('shipments').t_selectbank%></label><br>
	<select class="w100" id="citrusAvailableOptions"></select>
    </div>
	</div>
       
    <div class="row mT60">
    <div class="col-md-6 mT20">
    <img class="mR10 pull-left" src="<%-assetsp%>images/padlock.png"><p class="text-primary"><strong><%-tt('shipments').t_secure_payment%></strong></p>    
    </div>    
    <div class="col-md-4 col-md-offset-1 text-right mT20">
    <input type="button" value="<%-tt('shipments').t_makepayment%> (<%-tt('shipments').t_rupee_sign%> <%-parseFloat(amount).toFixed(2)%>)" id="citrusNetbankingButton" class="btn-payment w100"/>
    </div>
    </div>   
      </div>
    </div>   
   </div>
  
</div>
</div>

    
<div class="col-md-4 mB20">
    
    <h4><%-tt('shipments').t_make_payment%></h4>
	<div class="bg-success pT15 pB5 text-center mT25">
    <strong><%-shipment.loading.lp_city%></strong> <label><%-tt('shipments').t_to%></label> <strong><%-shipment.unloading.up_city%></strong>
    </div>
    <div class="paymentbg">
    <div class="row">
    <div class="col-md-12 text-center">
		<% if(shipment.shipment_type.code==Shipments.BID_BOARD){%>
		   <h5><%-tt('shipments').t_bidloadboard%></h5>
		<%}else{%>
		   <h5><%-tt('shipments').t_regularboard%></h5>
		<%}%>
	</div>    
    <div class="col-md-6 paymentdetails">
    <p><strong><%-tt('shipments').t_billedto%> : </strong> <br><%-loggedUser.getName()%>, <%-user.business?user.business.registered_address:''%> <%-user.business?user.business.registered_city:''%> <%-user.business?user.business.registered_state:''%>,<%-user.business?user.business.registered_pincode:''%>

    </div>    
    <div class="col-md-6 paymentdetails text-right">    
    <p><strong><%-tt('shipments').t_orderno%> : </strong><br><span class="pull-right"> #<%-shipment.shipment_id%> </span> </p>
    </div>    
    </div>
    <hr>
    <div class="row">
    <div class="col-md-12 paymentdetails">
	<% if(shipment.shipment_type.code==Shipments.BID_BOARD){%>	
    <p><strong><%-tt('shipments').t_freight_charges%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%>  <%-shipment.bid_price%> </span> </p> 
    <% if(shipment.insurance.amount>0){%>
	<p><strong><%-tt('shipments').t_insurance%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <%-(shipment.insurance.amount||0).toFixed(2)%> </span> </p>	
    <%}%> 	
	<%}else{%>
		<p><strong><%-tt('shipments').t_freight_charges%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%>  <%-(shipment.shipment_detail.sub_total).toFixed(2)%> </span> </p> 
		
    <p class="fnt12">(<%-tt('shipments').t_per_ton_price%> = <%-tt('shipments').t_rupee_sign%> <%-shipment.shipment_detail.per_ton_price||0%>) <%-tt('shipments').t_or%> (<%-tt('shipments').t_price_per_km%> = <%-tt('shipments').t_rupee_sign%> <%-shipment.shipment_detail.per_ton_price||0%>) </p>
	<% if(shipment.priority_delivery_charges){%>
	<p><strong><%-tt('shipments').t_priority_delivery%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <%-(shipment.priority_delivery_charges||0).toFixed(2)%> </span> </p>  
    <%}%>	
    <% if(shipment.insurance.amount>0){%>
	<p><strong><%-tt('shipments').t_insurance%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <%-(shipment.insurance.amount||0).toFixed(2)%> </span> </p>	
    <%}%>
		<%shipment.shipment_detail.taxes.forEach(function(tax,i){%>	
<% //tax =  JSON.parse(tax)%>	
<p><strong><%-tax.name%> : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <%-tax.price%> </span> </p> 		
	
<%})%>	
    <%}%>
		
        
    <hr>
    <p><strong class="text-primary"><%-tt('shipments').t_total_amount%></strong> <span class="pull-right"><%-tt('shipments').t_rupee_sign%> <%-shipment.shipment_detail.overall_total%></span></p>           
    <hr>        
    <% payment.transactions.forEach(function(p,i){%>
    <p><strong class="text-primary"><%-tt('shipments').t_first_instalment%> (<%-Math.round(p.instalment)%>% 
	<%if(p.status==1){%>
	   <%-tt('shipments').t_completed%>
	<%} else if(paymentof.instalment==++i && p.status==0){%>
	  <%-tt('shipments').t_progress%>	
	<%}else if(p.status==0){%>
	   <%-tt('shipments').t_pending%>
	<%}%>) : </strong><span class="pull-right"> <%-tt('shipments').t_rupee_sign%> <%-p.amount.toFixed(2)%> </span> </p>         
    
	<%})%>	
    </div>
    </div>
            
</div>        
</div>        
    </div>        


</div>






<script type="text/javascript">
   require(['payments'],function(){
	    CitrusPay.Merchant.Config = {
        // Merchant details
        Merchant: {
            accessKey: '<%-citrus.access%>', //Replace with your access key
            vanityUrl: '<%-citrus.vanity%>'  //Replace with your vanity URL
        }
    };
    fetchPaymentOptions();
    

	   
	//UI validations
jQuery(document).ready(function() {	
	jQuery.support.cors = true; 
	
	// setup card inputs;	 	
	jQuery('#citrusExpiry').payment('formatCardExpiry');
	jQuery('#citrusCvv').payment('formatCardCVC');
	jQuery('#citrusNumber').keyup(function() {
		var cardNum = jQuery('#citrusNumber').val().replace(/\s+/g, '');		
			var type = jQuery.payment.cardType(cardNum);
			console.log(type);
			jQuery("#citrusNumber").css("background-image", "url(images/" + type + ".png)");						
			if(type!='amex')
            jQuery("#citrusCvv").attr("maxlength","3");
            else
            jQuery("#citrusCvv").attr("maxlength","4");						
			jQuery('#citrusNumber').payment('formatCardNumber');											
			jQuery("#citrusScheme").val(type);		
	});				 
});   
	   
	 $('#citrusNetbankingButton').on("click", function () { makePayment("netbanking") });
        //Card Payment
        $("#citrusCardPayButton").on("click", function () { makePayment("card") });	   
   });
    function handleCitrusPaymentOptions(citrusPaymentOptions) {
        if (citrusPaymentOptions.netBanking != null)
            for (i = 0; i < citrusPaymentOptions.netBanking.length; i++) {
                var obj = document.getElementById("citrusAvailableOptions");
                var option = document.createElement("option");
                option.text = citrusPaymentOptions.netBanking[i].bankName;
                option.value = citrusPaymentOptions.netBanking[i].issuerCode;
                obj.add(option);
            }
    }
	  function citrusServerErrorMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    function citrusClientErrMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
	   
</script>