<div class="container minh" ng-controller="paymentCtrl">

<div class="row">
<form  action="<%-shipperUrl('shipments/payment')%>" id="payment" >
<div class="col-md-6 mT10">
<div class="bg-primary pB20 pT10 login pL10 pR10 mT20">
      <h4><%-tt().t_load_detail%></h4>
<div class="row">
  <div class="col-md-4 mT20">
    <h4 class="text-primary"><%-shipment.loading.lp_city%></h4>
  </div>  
  <div class="col-md-4 text-center mT10">
    <img src="<%-assetsp%>images/type<%-shipment.truck?shipment.truck.category:0%>.png" class="img-responsive"/>
  </div>  
  <div class="col-md-4 text-right mT20">
    <h4 class="text-primary"><%-shipment.unloading.up_city%></h4>
  </div>  
</div>

<div class="row mT20">
<div class="col-md-6 bdrr">
<strong class="text-primary"><%-shipment.truck?shipment.truck.load_type==1?tt('shipments').t_full_load:tt('shipments').t_partial_load:null%> <%-shipment.truck?shipment.truck.priority_delivery==1?" - "+tt('shipments').t_priority_delivery:null:null%></strong><br>
<p><%-tt().t_noof_trucks%> - <span class="text-primary"><%-shipment.truck?shipment.truck.quantity:0%></span></p>
</div>
<div class="col-md-6 text-right">
<p><span class="text-primary"><%-shipment.transit?shipment.transit.t_date:null%> 
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
	</span><br> <%-tt().t_at%> <span class="text-primary"><%-shipment.transit?shipment.transit.t_time:null%> </span>
<small class="col-md-12 text-center" data-start="<%-DateTime.now()%>" data-expiry="<%-shipment.transit.t_expdatetime%>"></small>
</p>
</div>
</div>

<p class="mT20"><%-shipment.truck.ttype?shipment.truck.ttype.name+' ( '+shipment.truck.ttype.loading_capacity+' TON )':null%></p>
</div>
<%if(shipment.shipment_type && shipment.shipment_type.code==Shipments.BID_BOARD){%>
<div class="row mT50">
<div class="col-md-12 text-primary mB20 ">
<div class="bg-primary pB20 pT10 pL20">  
<h4><%-tt().t_enter_pan_label%></h4>
<div class="row">
<div class="col-md-6 ">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" name="Users[pancard_no]" type="text" id="users-pancard_no" value="<%-shipment.shipper_id.pancard||''%>" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-pancard_no">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_pancard%> </span>
    </label>
  </span>
 <span class="payment-pancard-error cmperrmsg" ></span>	
</div>
<div class="col-md-6">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" name="Users[service_tax_no]" type="text" id="users-service_tax_no" value="<%-shipment.shipper_id.business.service_taxno||''%>" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-service_tax_no">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_service_taxno%> </span>
    </label>
  </span>
  <span class="payment-business-service_taxno-error cmperrmsg" ></span>	
</div>
</div>
<strong><%-tt().t_thisur_conven_txt%></strong>

</div>
</div>
</div>
<%}else{%>	
<div class="row mT20 mT0-xs">
<div class="col-md-12 text-center text-primary col-sm-12">
<div class="bg-primary pB20 pT10 login pL10 pR10 mT20 ">

<h4><%-tt().t_enter_pan_label%></h4>
<div class="row">
<div class="col-md-12 ">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" name="Users[pancard_no]" type="text" id="users-pancard_no" value="<%-shipment.shipper_id.pancard||''%>" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-pancard_no">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_pancard%> </span>
    </label>
  </span>
  <span class="payment-pancard-error cmperrmsg" ></span>	
</div>
<div class="col-md-12">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" name="Users[service_tax_no]" type="text" id="users-service_tax_no" value="<%-shipment.shipper_id.business.service_taxno||''%>" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="users-service_tax_no">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_enter_service_taxno%>  </span>
    </label>
  </span>
  <span class="payment-business-service_taxno-error cmperrmsg" ></span>	
</div>
</div>
<strong><%-tt().t_thisur_conven_txt%></strong>
</div>
</div>
<!--
<div class="col-md-6 mT20 col-sm-6">
<div class="bg-info bdrd pB30 text-center pB20-sm">
<div class="bg-primary pT20 pB20">
<img src="<%-assetsp%>images/coupon.png"/>  
<h4><%-tt().t_have_coupon%></h4>
<h4><%-tt().t_enter_here%></h4>
</div>
<div class="row">
<div class="col-md-12">  
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" name="Coupon[code]" type="text" id="coupon-code" />
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="coupon-code">
    <span class="input__label-content input__label-content--hoshi"><%-tt().t_coupon_code_lbl%> </span>
    </label>
  </span>
</div>
<div class="col-md-12 mT20 mT10-sm text-center pR20 coupon">
  <button type="button" class="btn btn-default btn-default2 hvr-sweep-to-right2 "> <%-tt().t_apply%> </button>
</div>
      
</div>
</div>
</div>-->
</div>
<%}%>	
</div>

<div class="col-md-6 mT10 pL0-xs pR0-xs col-sm-10 col-sm-offset-1 col-md-offset-0">
<div class="bg-primary pB20 pT10 login pL10 pR10 mT20 pL20-sm pR20-sm">
<h4><%-tt().t_payment_detail%></h4>
<div class="row mT20">
<div class="col-md-12">
<ul class="list-unstyled">
<% if(shipment.shipment_type.code==Shipments.BID_BOARD){%>
<li><strong class="fnt18"><%-tt().t_bid_price%><div class="pull-right"><%-tt().t_rupee_sign%> <%-shipment.bid_price%></div></strong></li>
<% if(shipment.insurance.insured_option==1){%>	
<li ng-show="!insurance" ><%-tt().t_insurance%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-shipment.insurance.amount%> </div></li>
<%}}else{%>
<li><strong class="fnt18"><%-tt().t_sub_total%><div class="pull-right"><%-tt().t_rupee_sign%> <%-(shipment.shipment_detail.sub_total).toFixed(2)%></div></strong></li>
<!--<li><%-tt().t_discount%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-(shipment.shipment_detail.sub_total).toFixed(2)%> </div></li>-->	
<li><strong class="fnt18"><%-tt().t_taxes%></strong></li>
<%for(var i in shipment.shipment_detail.taxes){%>	
<% //tax =  JSON.parse(tax)%>	
<li><%-shipment.shipment_detail.taxes[i].name%><div class="pull-right"><%-tt().t_rupee_sign%> <%-shipment.shipment_detail.taxes[i].rate%></div></li>		
	
<%}}%>	
	
<hr>
<li><strong class="text-primary fnt18"><%-tt().t_total%> <div class="pull-right"><%-tt().t_rupee_sign%> <%-(shipment.shipment_detail.overall_total).toFixed(2)%> </div></strong></li>
<hr>
</ul>
<% if(shipment.shipment_type.code==Shipments.BID_BOARD && shipment.insurance.insured_option==1){%>	
<div class="checkbox"><label><input ng-change="excludeInsurance();" name="Users[insurance_option]" ng-model="insurance" value="1" type="checkbox"><span><%-tt().t_noneed_insurance%> </span></label></div>
<%}%>

</div>
</div>

<div class="row mT10">
<div class="col-md-10 col-md-offset-1 text-center ">
<h4><%-tt().t_select_payment_amount%></h4>
<div class=" mT40 mL10-xs mR10-xs">
<input type="hidden" id="overall_amount" value="<%-shipment.shipment_detail.overall_total%>">	
<input type="hidden" name="Users[rest_payment]" id="users-rest_payment" value="75">	
<span ng-model="pslider" id="ex18-label-1" class="hidden">Example slider label</span>
        <input id="ex19" type="text"
              data-provide="slider"
              data-slider-ticks="[<%-Common.percentizeAmount(shipment.shipment_detail.overall_total)%>]"
              data-slider-ticks-labels='["25%", "50%", "75%", "100%"]'
             
              data-slider-step="<%-Common.amountStep(shipment.shipment_detail.overall_total)%>"
              data-slider-value="4"
              data-slider-tooltip="hide" />
<div class="row mT40 ">
  <div class="col-md-12 text-center">
     
	  <h4><%-tt().t_howliketopay%></h4>
</div>
<div class="col-md-12 text-center">
<p> <%-tt().t_youare_paying%><span id="instno" >2</span> <%-tt().t_instalment%></p>
</div>	
</div>
<div class="row">
<div class="col-md-12 text-center text-primary mT40">
		
	
	<span class="label label-warning" ng-show="!insurance"><span><%-tt().t_1st_instament%> <span id="stinstallamt">25%</span> </span><%-tt().t_rupee_sign%> <span id="amounttopay"><%-(Common.amountStep(shipment.shipment_detail.overall_total)).toFixed(2)%></span> 
<% if(shipment.insurance.insured_option==1 && shipment.insurance.amount>0){%>
	+ <%-tt().t_rupee_sign%><%-shipment.insurance.amount%> (<%-tt().t_insurance_txt%>)
<%}%>
</span>
	<span class="label label-warning" ng-show="insurance"><span><%-tt().t_1st_instament%> <span id="stinstallamt">25%</span> </span><%-tt().t_rupee_sign%> <span id="amounttopay"><%-(Common.amountStep(shipment.shipment_detail.overall_total)).toFixed(2)%></span></span>	
</div>


<div class="row ">

	
  <div class="col-md-6 col-sm-6 text-center"
	  <% if(shipment.shipment_type.code==Shipments.BID_BOARD && shipment.insurance.insured_option==1){%> 
	   ng-show="insurance"
<%}else if(shipment.shipment_type.code==Shipments.BID_BOARD){%>
	   ng-show="!insurance"
<%}%>
<% if(shipment.shipment_type.code==Shipments.REGULAR_BOARD && shipment.insurance.insured_option!=1){%>	   
	  ng-show="!insurance"
<%}else if(shipment.shipment_type.code==Shipments.REGULAR_BOARD){%>
	  ng-show="insurance"	   
	<%}%>   
	   >
  
  <div class="radio">
  <label>
    <input type="radio" name="Users[stpaymentmethod]" id="optionsRadios1" value="1" >
    <%-tt().t_cashon_loading_txt%>
  </label>
</div>
  </div>

  <div class="col-md-6 col-sm-6 text-center">
    <div class="radio">
  <label>
<% if(shipment.shipment_type.code==Shipments.REGULAR_BOARD && shipment.insurance.insured_option==1){%>	  
    <input type="radio" name="Users[stpaymentmethod]" id="optionsRadios1" checked="checked" value="2" >
<%}else if(shipment.shipment_type.code==Shipments.REGULAR_BOARD){%>
    <input type="radio" name="Users[stpaymentmethod]" id="optionsRadios1" value="2" >
<%}%>
<% if(shipment.shipment_type.code==Shipments.BID_BOARD && shipment.insurance.insured_option==1){%>
<input type="radio" name="Users[stpaymentmethod]" checked="checked" id="optionsRadios1" value="2" >	
<%}else if(shipment.shipment_type.code==Shipments.BID_BOARD){%>
    <input type="radio" name="Users[stpaymentmethod]" id="optionsRadios1" value="2" >
<%}%>	  
    <%-tt().t_pay_online_txt%>
  </label>
</div>
  </div>
<div class="col-md-12 text-center rest-payment-error strest-payment-error-id cs-hidden rest-payment-err-id">
	<span class="left-arrow"></span><span class="right-caret"></span>
	<%-tt().t_pleaseselect_how_you_stpay%>  </div>	
</div>	
<div class="col-md-12 text-center text-primary mT40" id="ndinstal">
<span class="label label-warning" ><span><%-tt().t_2nd_instament%> <span id="ndinstallamt">75%</span> </span><%-tt().t_rupee_sign%> <span id="ndamounttopay"><%-(Common.amountRemain(shipment.shipment_detail.overall_total)).toFixed(2)%></span> 

</span>
	
</div>	
</div>
</div>



</div>
</div>


<div class="row ndinstall">
  <div class="col-md-6 col-sm-6 text-center">
  <div class="radio">
  <label>
    <input type="radio" name="Users[ndpaymentmethod]" id="optionsRadios1" value="1" >
    <%-tt().t_cashon_unloading_txt%>
  </label>
</div>
  </div>

  <div class="col-md-6 col-sm-6 text-center">
    <div class="radio">
  <label>
    <input type="radio" name="Users[ndpaymentmethod]" id="optionsRadios1" value="2" >
    <%-tt().t_pay_online_txt%>
  </label>
</div>
  </div>
<div class="col-md-12 text-center rest-payment-error ndrest-payment-error-id cs-hidden rest-payment-err-id">
	<span class="left-arrow"></span><span class="right-caret"></span>
	<%-tt().t_pleaseselect_how_you_ndpay%>  </div>	
</div>


<div class="row mT30 text-center">
  <div class="col-md-6 text-center col-sm-6">
    <input type="submit" data-src="<%-assetsp%>images/loader16x16w.gif" class="btn btn-default pL30 pR30 hvr-sweep-to-right mT10" value="<%-tt().t_submit%>" data-toggle="modal" data-target="#myModal">
  </div>	
</div>

</div>
</div>

</form>
</div>
</div>




<script type="text/javascript">
   require(['payments'],function(){
	    /*CitrusPay.Merchant.Config = {
        // Merchant details
        Merchant: {
            accessKey: '<%//citrus.access%>', //Replace with your access key
            vanityUrl: '<%//citrus.vanity%>'  //Replace with your vanity URL
        }
    };
    fetchPaymentOptions();
    

	   
	//UI validations
jQuery(document).ready(function() {	
	jQuery.support.cors = true; 
	
	// setup card inputs;	 	
	jQuery('#citrusExpiry').payment('formatCardExpiry');
	jQuery('#citrusCvv').payment('formatCardCVC');
	jQuery('#citrusNumber').keyup(function() {
		var cardNum = jQuery('#citrusNumber').val().replace(/\s+/g, '');		
			var type = jQuery.payment.cardType(cardNum);
			console.log(type);
			jQuery("#citrusNumber").css("background-image", "url(images/" + type + ".png)");						
			if(type!='amex')
            jQuery("#citrusCvv").attr("maxlength","3");
            else
            jQuery("#citrusCvv").attr("maxlength","4");						
			jQuery('#citrusNumber').payment('formatCardNumber');											
			jQuery("#citrusScheme").val(type);		
	});				 
});   
	   
	 $('#citrusNetbankingButton').on("click", function () { makePayment("netbanking") });
        //Card Payment
        $("#citrusCardPayButton").on("click", function () { makePayment("card") });	 */  
   });
    function handleCitrusPaymentOptions(citrusPaymentOptions) {
        if (citrusPaymentOptions.netBanking != null)
            for (i = 0; i < citrusPaymentOptions.netBanking.length; i++) {
                var obj = document.getElementById("citrusAvailableOptions");
                var option = document.createElement("option");
                option.text = citrusPaymentOptions.netBanking[i].bankName;
                option.value = citrusPaymentOptions.netBanking[i].issuerCode;
                obj.add(option);
            }
    }
	  function citrusServerErrorMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    function citrusClientErrMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
	   
</script>