<div class="container minh" ng-controller="paymentCtrl">

<div class="row">
<div class="col-md-12 mT10">
<div class="pB20 pT10 login pL10 pR10 mT20">
      <h4><%-tt('shipments').t_payments_status%></h4>

<% if("undefined" != typeof failed){%>
<p class="mT20 text-center"><strong><%-tt('shipments').t_payment_failed1%></strong></p>
<%}%>	
<p class="mT20 text-center"><strong><%-msg?msg:null%></strong></p>
<% if("undefined" != typeof failed){%>
<p class="mT20 text-center"><a href="<%-shipperUrl('shipments/pay')%>"><%-tt('shipments').t_try_again%></a></p>
<%}else{%>
	<%-tt('shipments').t_success_txt%> <span id="seconds"></span>  <%-tt('shipments').t_seconds_or%> <a href="<%-shipperUrl('users/my-shipments')%>"><%-tt('shipments').t_click_here%></a>
<%}%>	
</div>

</div>


</div>
</div>


<% if("undefined" == typeof failed){%>

<script type="text/javascript">
   require(['payments'],function(){ 
	   var seconds =10;
	   var intv = setInterval(function(){
		   $("#seconds").html(seconds--)
		   if(seconds<=0){
			   clearInterval(intv);
			  location.href =shipperUrl('users/my-shipments'); 
		   }
	   },1000);
   });	   
</script>
<%}%>