<div class="container">

<div class="row">


  <div class="col-md-6 col-md-offset-3 mT30">

      <div class="bg-success text-center pT15 pB10">
      <h3><%-tt().t_truck_loadtype%></h3>
      </div>
<div class="bg-primary pB5 login pL40 pR40">
<form action="<%-shipperUrl('shipments/load-type')%>" method="post" data-form="ajax" >  
<input type="hidden" name="_csrf" value="<%-csrfToken%>">
<div class="row">
<div class="col-md-4 mT20 text-center">
<a href="#trucktype1" class="truck-type" data-target="#trucktype_1"><div class="truck1"></div>
<input type="radio" data-post="true" name="shipments[truck-type]" class="cs-hidden" value="1" id="trucktype1">
</a>	
<p class="mT20"><%-tt().t_below5ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype2" class="truck-type" input-for="#trucktype_2"><div class="truck2"></div>
<input type="radio" data-post="true" name="shipments[truck-type]" class="cs-hidden" value="2" id="trucktype2">
</a>
<p class="mT20"><%-tt().t_5tonto15ton%></p>
</div>
<div class="col-md-4 mT20 text-center">
<a href="#trucktype3" class="truck-type" input-for="#trucktype_3"><div class="truck3"></div>
<input type="radio" data-post="true" name="shipments[truck-type]" class="cs-hidden" value="3" id="trucktype3">
</a>
<p class="mT20"><%-tt().t_above15ton%></p>
</div>
</div>
<span class="cmperrmsg truck-truck-category-error" ></span>


<div class="row">
  <div class="col-md-12 text-left mT30">
  <div class="dropdown pR20 pL5">
	<input type="hidden" name="shipments[truck]" value="" data-rel="#dropdown-truck1" id="shipments-truck">  
  <button class="btn btn-drop dropdown-toggle" type="button" id="dropdown-truck1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  <b><%-tt().t_select_truck%></b>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu2 dropdown-truck1" aria-labelledby="dropdown-truck1">
  </ul>
</div>

</div>  
</div>        
<span class="cmperrmsg truck-truck-ttype-error" ></span>   

<div class="row">
<div class="col-md-12 text-center selectr mT30">
<h4 class=" text-primary "><%-tt().t_select_loadtype%></h4>
<p><img src="<%-assetsp%>/images/info.png" class="mT-5"><%-tt().t_priority_delivery_tagline%></p>
<div class="row">
<div class="col-md-4 col-md-offset-1 mT20 text-center">
<a href="#trucktype4" class="truck-type"><div class="truck4"></div>
<input type="radio" name="shipments[delivery-type]" data-trigger="delivery-type0" class="cs-hidden" value="0" id="trucktype4">	
</a>
<p class="mT20"><%-tt().t_partial_load%></p>
</div>
<div class="col-md-4 col-md-offset-1 mT20 text-center">
<a href="#trucktype5" class="truck-type"><div class="truck5"></div>
<input type="radio" name="shipments[delivery-type]" data-trigger="delivery-type1" class="cs-hidden" value="1" id="trucktype5">
</a>
<p class="mT20"><%-tt().t_full_load%></p>
</div>
</div>
</div>
</div>
<span class="cmperrmsg truck-truck-load_type-error" ></span> 

<div class="fullload-type">
<div class="row mT30">
<div class="col-md-5">
<h4 class="text-primary"><img src="<%-assetsp%>images/notrucks.png" class="mR10"/><%-tt().t_noof_trucks%></h4>
<span class="cmperrmsg truck-truck-quantity-error" ></span> 	
</div>
<div class="col-md-5 col-md-offset-2">
   <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="minus('no_of_trucks');" type="button"> - </button>
      </span>
      <input type="number" min="1" max="100" class="form-control text-center" name="shipments[quantity]" id="no_of_trucks" value="1" placeholder="1">
      <span class="input-group-btn">
        <button class="btn btn-info" onclick="plus('no_of_trucks');" type="button"> + </button>
      </span>
    </div><!-- /input-group -->
   <span class="cmperrmsg truck-truck-priority_delivery-error" ></span>

</div>  
</div>

<div class="row mT30">
<div class="col-md-6">
<h4 class="text-primary"><img src="<%-assetsp%>images/priority.png" class="mR10"/><%-tt().t_priority_delivery%></h4>
</div>
<div class="col-md-3 col-md-offset-3 mT5">
    <label class="switch">
      <input type="checkbox" name="shipments[priority_delivery]" class="switch-input">
      <span class="switch-label" data-on="On" data-off="Off"></span>
      <span class="switch-handle"></span>
    </label>
</div>  
</div>
</div>
<div class="col-md-12 text-left pR0">
        <span class="input input--hoshi">

          <input class="input__field input__field--hoshi"  type="number" name="shipments[weight]" id="shipments-weight" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="shipments-weight">
            <span class="input__label-content input__label-content--hoshi"><%-tt().t_shipment_weight%></span>
          </label>
        </span>
<span class="cmperrmsg truck-shipments_weight-error" ></span> 
</div> 		
<div class="row">
  <div class="col-md-12 mT20">
<p><img src="<%-assetsp%>images/info.png" class="mT-5"><%-tt().t_contact_tagline%> <a href="tel:+911234567890">+91 123 456 7890</a></p>
</div>
</div>

   <!-- <div class="row">
      <div class="col-md-12 text-center mT20">
        <p class="text-danger"><span> * </span>This is an error</p>
      </div>
    </div>
 -->

    <div class="row">
    
      <div class="col-md-12 text-center">
        <input type="submit" data-src="<%-sbtnimg%>" class="btn btn-default hvr-sweep-to-right mT10" value="<%-tt().t_continue%>">
      </div>
    </div>

        


</form>
    </div>  
  </div> 
</div>
</div>
<%if(isShipExpired){%>
<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content pull-left">
      <div class="modal-header">
      
        <h4 class="modal-title"><%-tt('shipments').t_change_date_time%></h4>
      </div>
      <div class="modal-body">
		
<form id="biddatetime"  action="<%-shipperUrl('shipments/changebid-date-time')%>"  >
<div class="col-md-12">
    <div  class="col-md-7" >
	<p>Shipment Unloading Date:<%-shipment.transit.t_date%> Time:<%-shipment.transit.t_time%></p>
	</div>
	<div class="col-md-5">
	  <p><%-tt('shipments').t_shipment_expired%></p>
	</div>	
</div>
<div class="col-md-12">
    <div  class="col-md-7" >
	<p>Update Date Time</p>
	</div>
</div>	
	<div class="col-md-12">
	<input type="hidden" name="_csrf" value="<%-csrfToken%>">	
	<span class="input input--hoshi ovflo-visi noani "><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Bid[loading-date]" id="bid-loading-date" />
        	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt('users').t_loading_date;%><small><small><em>dd/mm/yyyy</em></small></small></span>
	</label>
	</span>
</div>
<div class="col-md-12">
	<span class="input input--hoshi ovflo-visi noani"><!--placeholder="City,State,Country" -->
           <input class="input__field input__field--hoshi typeahead" autocomplete="off"   type="text" name="Bid[loading-time]" id="bid-loading-time" />
        	
          <label class="input__label input__label--hoshi input__label--hoshi-color-3 fnt16" for="input-6">
            <span class="input__label-content input__label-content--hoshi pd"><i class="fa fa-map-marker"></i> <%-tt('users').t_loading_time;%><small><small><em>hh:mm:ss</em></small></small></span>
	</label>
	</span>
</div>	
<div class="col-md-12">
	<div class="col-md-12 alert alert-warning cs-hidden" id="datetimechanged" ></div>
	<div class="col-md-6 pull-right">
		<input type="submit" class="btn" name="submit" value="<%-tt('users').t_submit;%>">
	</div>
    </div>
   </form>
  </div>
  </div>
 </div>
</div>
<button type="button" class="btn btn-info btn-lg showpop hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>
<script type="text/javascript">showpop = true</script>
<%}%>
<script type="text/javascript">
var shipment = {'truck-type':<%=shipment.truck.category||-1%>,
			     'truck':'<%=shipment.truck.ttype||-1%>',
			     'delivery-type':<%=shipment.truck.load_type||-1%>,
			     'quantity':<%=shipment.truck.quantity||-1%>,
			     'priority_delivery':<%=shipment.truck.priority_delivery||-1%>,
			   };	

require(['shipments'],function(th){
	$(window).load(function(){
	if('undefined' != typeof showpop)	
	  $(".showpop").click();
 });
});
</script>
