/*custom css */

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #fe5502;
}

::selection {
    color: #fff;
    background: #fe5502;
}

@font-face {
    font-family: Nexabold;
    src: url(../fonts/NexaBold.otf);
}
@font-face {
    font-family: NexaLight;
    src: url(../fonts/NexaLight.otf);
}
.mT5{margin-top: 5px}
.mT-10{margin-top: -10px}
.mR-5{margin-right: -5px}
.mT0{margin-top: 0px}
.mT10{margin-top: 10px}
.mT20{margin-top: 20px}
.mT30{margin-top: 30px}
.mT40{margin-top: 40px}
.mT50{margin-top: 50px}
.mT60{margin-top: 60px}
.mL15{margin-left: 15px}
.mL20{margin-left: 20px}
.mL30{margin-left: 30px}
.mR20{margin-right: 20px}
.mR30{margin-right: 30px}
.mR40{margin-right: 40px}
.mB10{margin-bottom: 10px}
.mB20{margin-bottom: 20px}
.mB30{margin-bottom: 30px}
.mB40{margin-bottom: 40px}
.mB50{margin-bottom: 50px}

.p40{padding: 0px 20px 30px}
.p20{padding: 0px 20px 10px}
.pR0{padding-right: 0}
.pR20{padding-right: 20px}
.pR30{padding-right: 30px}
.pL10{padding-left: 10px}
.pL15{padding-left: 15px}
.pL20{padding-left: 20px}
.pL30{padding-left: 30px}
.pT10{padding-top: 10px}
.pT30{padding-top: 30px}
.pB10{padding-bottom: 10px}
.pB20{padding-bottom: 20px}
.p0 .help-block.help-block-error{margin-left: -15px;}


.bg1{background: url(../images/bg1.jpg) no-repeat; background-size: 100% 100%;}
.follow{ font-size: 14px; display: inline-block; color: #fff; margin-top: 10px}
.facebook{background: url(../images/social.png) no-repeat -5px 0px; height: 38px; width: 40px; display: inline-block;  transition: all 0.5s ease;}
.twitter{background: url(../images/social.png) no-repeat -44px 0px; height: 38px; width: 40px; display: inline-block; transition: all 0.5s ease;}
.google{background: url(../images/social.png) no-repeat -84px 0px; height: 38px; width: 40px;  display: inline-block; transition: all 0.5s ease;}
li a:hover.facebook{background: url(../images/social.png) no-repeat -4px -35px; height: 38px; width: 40px; display: inline-block; border-bottom: none!important}
li a:hover.twitter{background: url(../images/social.png) no-repeat -44px -35px; height: 38px; width: 40px; display: inline-block; border-bottom: none!important}
li a:hover.google{background: url(../images/social.png) no-repeat -84px -35px; height: 38px; width: 40px;  display: inline-block; border-bottom: none!important}
.w100{width: 100%}
.loginbtn a img:hover{opacity: 0.85}
.fnt13{font-size: 13px}
.bd1{border-radius: 5px 5px 0 0;  height: 40px}
.bd2{border-radius: 0 0 5px 5px; border-top: none; height: 40px}
a.register{color: #fe5502; text-decoration:none; border-bottom: 1px solid #fe5502; padding-bottom: 5px}
a.register:hover{color: #565656; text-decoration:none; border-bottom: 1px solid #565656; padding-bottom: 5px}
.or hr{border-color: #565656}
.or span{background: #DEDEDE none repeat scroll 0 0; padding: 15px; position: relative; top: -34px;}
.add1{border-radius: 8px 0 0 !important;}
.add2{border-radius: 0 0 0 8px !important; border-top: 0;}
.bgprimaryrad {border-radius: 10% 0 0 10%;}
.regtxt{border-radius: 5px; height: 40px}
.input-group2 textarea{width: 100%; border-radius: 5px; border: 1px solid #ccc; padding: 10px; font-size: 16px; resize:none;}
.bdrrlb{border-radius: 0 0 0 8px}
.pos{position: relative;}
.arrow-down {width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #fe5502; position: absolute; bottom:-20%; right: 90px;}
.btn-info:hover .arrow-down{width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #1c1c1c; position: absolute; bottom:-20%; right: 90px;}
.btn-info:active .arrow-down{width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #1c1c1c; position: absolute; bottom:-20%; right: 90px;}
.btn-info:focus .arrow-down{width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #1c1c1c; position: absolute; bottom:-20%; right: 90px;}
.btn-info{width: 100%}
.pos ul.dropdown-menu{right: 0; top: 40px; text-align: center; background: #1c1c1c; color: #fff}
.pos ul.dropdown-menu li a{color: #fff; background: transparent; text-align: left;}
.pos ul.dropdown-menu li a:hover{color: #fe5502; background: transparent; text-align: left;}
.bdrr{border-right: 1px solid #fff}
.minh{min-height: 570px; max-height: 100%}
.edit{background: url(../images/edit.png) no-repeat; float: left; width: 20px; height: 20px; top: 4px; position: relative;}
.logout{background: url(../images/logout.png) no-repeat; float: left; width: 20px; height: 20px; top: 4px; position: relative;}
a:hover .edit{background: url(../images/edit2.png) no-repeat; float: left; width: 20px; height: 20px; top: 4px; position: relative;}
a:hover .logout{background: url(../images/logout2.png) no-repeat; float: left; width: 20px; height: 20px; top: 4px; position: relative;}
.editlink a{color: #1c1c1c}
.editlink a:hover{color: #fe5502 }
.btn-logout a{color: #1c1c1c;}
.btn-logout a:hover{color: #fe5502 }
.addstate{padding: 5px 10px; height: 34px; font-size: 15px}
.w80{width: 80%}
.w20{width: 20%}
.minh2{min-height: 160px}
.bdrr{border-radius: 0 0 0 5px}
.numb{background: #fe5502; border-radius: 50%; color: #fff; text-align: center; height: 80px; width: 80px; padding: 30%}
.footer{background: #1c1c1c; color: #fff; font-size: 16px;}
.footer ul li a{color: #fff; border-bottom: 1px solid #fe5502}
.footer ul li a:hover{color: #fe5502; text-decoration: none;}
.cus{margin-top: -140px}	


/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px){

.navbar-default {z-index: 5000}
.navbar-collapse{background: #1c1c1c; padding-left: 20px; z-index: 500; overflow: hidden!important; }
.navbar-collapse ul{width: 100%; text-align: center;}
.navbar-collapse ul a li{margin-top: 20px}
.navbar-collapse .pR20{padding-right: 0}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{border: none}
.txtc{text-align: center;}
.bg1{background: #fff}
.bg1 h1{font-size: 27px; color: #1c1c1c}
.bg1 h1.mT60{margin-top: 30px}
.pR0{padding-right: 0px; padding-left: 0}
.pR02{padding-right: 0px; padding-left: 0}
.bgprimaryrad{border-radius: 0}
.footer .text-right{text-align: left;}
.mTx20{margin-top: 20px}
.navbar-collapse ul li{display: inline-block}
.navbar-right li{margin-top: 20px;}
.navbar-right li:first-child{margin-top: 28px; float: left}	
.img-responsive{display: inline}	
.cus{margin-top: 0px}	
.mTT20{margin-top: 20px}	
}


/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.bg1{background: #fff; min-height: 900px}
.bg1 h1{font-size: 27px; color: #1c1c1c}
.bg1 h1.mT60{margin-top: 30px}
.bg1 .pR0{padding-right: 0px; padding-left: 0}
.bg1 .pull-right{float: left!important;}
.txtc{text-align: center;}
.bgprimaryrad{border-radius: 0; min-height: 900px}
.loginfb{margin-left: 10%}
.logingoogle{margin-left: 10%}
.cus{margin-top: 0px}		
}

@media only screen and (device-width: 980px){
.bgprimaryrad{border-radius: 0; min-height: 1200px}

}

/* my css */
.signup2 .input-group{padding: 0 15px!important}
.signup2 .input-group2{padding: 0 15px!important}
.signup2 .input-group.npad{padding: 0!important}	
.table-responsive.truckers-none .summary{padding: 0 15px} 
.field-vehicles-rc_pic,.field-vehicles-pic{margin-top: 20px}
.signup2 label{font-weight: normal; font-size: 13px}
.trucktype .input-group{padding: 0 15px!important}
.trucktype label{font-weight: normal; font-size: 16px; margin-right: 10px}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color: #FE5502; background-color: rgba(0, 0, 0, 0); outline: none; border-bottom: 3px solid #FE5502}
.signup3 .input-group{padding: 0 !important}
.signup3 label{font-weight: normal; font-size: 13px}
.states label{ font-weight: normal; font-size: 14px; color: #FE5502}
.states ul {max-height: 100px; overflow-x: hidden; overflow-y: auto;}
.states ul label{padding-left: 15px; font-weight: normal; font-size: 14px; color: #565656}
.states ul li{background: #dedede;  padding:0 10px}
.states ul li:nth-of-type(odd){background: #f9f9f9;  padding:0 10px}
#cus-error{color:red;}
#name-show{text-align: left; float: left}
#name-show3{font-size: 18px; display: block;}
.navbar.navbar-default{border-radius: 0}
.btn-default2{width: 100%; padding: 3px 10px; height: 28px; font-size: 15px}
.btn-default2 span.glyphicon.glyphicon-plus{font-size: 12px; font-weight: normal}
.text-primary label > small{ color: #565656;}
.help-block.help-block-error{margin-bottom: 20px; float: left}
.help-block{margin-bottom: 20px; float: left}