.mt20{
	margin-top: 20px;
}
.btn-logout button{ border:none 0;}
.btn-logout button:hover {
    color: #fe5502;
}
.truckers-none .filters { display:none;}

/* webcam */
.cam-model-cont{position: fixed;bottom: 0px;left: 0px;background-color: #000;height: 100px;right: 0px;z-index: 9999;}
.float-left{
  float:left;	
}
.flash-msg{
	margin: 20px 5px;
    float: left;
    text-align: center;
    width: 40%;
    height: auto;
    border: solid 1px #9DA59E;
    background-color: #D0E8D6;
    padding: 8px 0px;
    font-size: 15px;
    color: #000;
    border-radius: 4px;
}
